<template>
    <div class="col-lg-12 clear-padding-xs">
        <select-class></select-class>
        <div v-for="(item,index) in $store.state.reports" class="col-lg-12">

            <div class="dash-item">
                <h6 class="item-title subject-name"><i class="fa fa-book"></i>{{getSubjectName(item.subject_id)|upperCase}}</h6>
                <div class="inner-item dash-form hide-for-printing">
                    <div class="col-sm-4 pull-right" style="margin-right: -15px">
                        <input type="text" class="" :placeholder="'Search ' + getSubjectName(item.subject_id)">
                    </div>
                </div>
                <div class="inner-item">
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">LAST NAME</th>
                            <th class="text-center">MIDDLE NAME</th>
                            <th class="text-center">FIRST NAME</th>

                            <th class="text-center">CLASS SCORE</th>
                            <th class="text-center">EXAM SCORE</th>
                            <th class="text-center">TOTAL (%)</th>
                            <th class="text-center">POSITION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="student in item.data">
                            <td class="text-center">{{getLastName(student.student_id)}}</td>
                            <td class="text-center">{{getMiddleName(student.student_id)}}</td>
                            <td class="text-center">{{getFirstName(student.student_id)}}</td>
                            <td class="text-center">{{student.class_score}}</td>
                            <td class="text-center">{{student.exam_score}}</td>
                            <td class="text-center"><strong>{{student.score}}</strong></td>
                            <td class="text-center"><strong>{{student.position|position}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SelectClass from './select.vue'
    export default {
        name: "index",
        props:['classes'],
        data(){
            return {
                selected_class:{}
            }
        },
        components:{
            SelectClass
        },
        methods:{
          getSubjectName(id){
              let here = this;
              let subject = null;
              $.each(here.$store.state.courses,function (key,value) {
                  if(value.id == id){
                      subject = value.name;
                      return false;
                  }
              });
              if(subject != null){
                  return subject;
              }else{
                  return 'UnKnown';
              }
          },
            getFirstName(id){
                let here = this;
                let name = null;
                $.each(here.$store.state.students,function (key,value) {
                    if(value.id == id){
                        name = value.fname;
                        return false;
                    }
                });
                if(name != null){
                    return name;
                }else{
                    return '';
                }
            },
            getLastName(id){
                let here = this;
                let name = null;
                $.each(here.$store.state.students,function (key,value) {
                    if(value.id == id){
                        name = value.lname;
                        return false;
                    }
                });
                if(name != null){
                    return name;
                }else{
                    return '';
                }
            },
            getMiddleName(id){
                let here = this;
                let name = null;
                $.each(here.$store.state.students,function (key,value) {
                    if(value.id == id){
                        name = value.mname;
                        return false;
                    }
                });
                if(name != null){
                    return name;
                }else{
                    return '';
                }
            }

        },
        filters:{
          upperCase(value){
              return value.toUpperCase();
          },
            position(value){
              switch(true){
                  case ( value%1000 == 1 && value != 11):
                      return value+'ST';
                      break;
                  case(value % 10 == 2 && value != 12):
                          return value+'ND';
                      break;
                  case (value%10 == 3 && value != 13):
                      return value+'RD';
                      break;
                  default:
                      return value+'TH';
                      break;
              }
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>

</style>