<template>
    <div class="col-lg-12 hide-for-printing">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>MAKE SELECTION</h6>
            <div class="inner-item dash-search-form">
                <form action="" @submit.prevent="generateReport">
                    <div class="col-sm-4">
                        <label>CLASS</label>
                        <select v-model="selected_class" required>
                            <option v-for="item in $store.state.classes" :value="{id:item.id,name:item.name}">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                            <i class="fa fa-search"></i>
                            GENERATE REPORT
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "select",
        data(){
            return{
                selected_class:'',loading:false
            }
        },
        methods:{
            generateReport(){
                this.loading = true;
                axios.get('/teacher/reports/generate/class/'+this.selected_class.id)
                    .then(resp=>{
                        this.$store.state.courses = resp.data.courses;
                        this.$store.state.students = resp.data.students;
                        this.$store.state.reports = resp.data.reports;
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.loading = false;
                    })
            }
        },
        watch:{
            selected_class:function (value) {
                this.$emit('classChangedEvent',value)
            }
        }
    }
</script>

<style scoped>

</style>