<template>
    <div class="col-lg-12 clear-padding-xs">
        <select-student></select-student>
        <transition name="mark">
            <div v-if="$store.state.students.length > 0" class="col-lg-12">

                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-book"></i>ALL STUDENTS</h6>
                    <div class="inner-item dash-form">
                        <div class="col-sm-4 pull-right" style="margin-right: -15px">
                            <input type="text" class="">
                        </div>
                    </div>
                    <div class="inner-item">
                        <table class="table table-responsive table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">LAST NAME</th>
                                <th class="text-center">MIDDLE NAME</th>
                                <th class="text-center">FIRST NAME</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in $store.state.students">
                                <td class="text-center"><strong>{{item.lname}}</strong></td>
                                <td class="text-center"><strong>{{item.mname}}</strong></td>
                                <td class="text-center"><strong>{{item.fname}}</strong></td>
                                <td class="text-center">
                                    <a :href="'/teacher/reports/generate/student/'+item.username" class="btn btn-primary">VIEW REPORT</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import SelectStudent from './studentSelect.vue'
    export default {
        name: "index",
        props:['classes'],
        data(){
            return {
                selected_class:{}
            }
        },
        components:{
            SelectStudent
        },
        methods:{
            getStudentReport(id){
                axios.get('/teacher/reports/generate/student/'+id)
                    .then(resp=>{
                       //location.replace(resp.data.url)
                    })
                    .catch(error=>{})
            }
        },
        filters:{
            upperCase(value){
                return value.toUpperCase();
            },
            position(value){
                switch(true){
                    case ( value%1000 == 1 && value != 11):
                        return value+'ST';
                        break;
                    case(value % 10 == 2):
                        return value+'ND';
                        break;
                    case (value%10 == 3):
                        return value+'RD';
                        break;
                    default:
                        return value+'TH';
                        break;
                }
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
</style>