<template>
    <div class="col-lg-12 clear-padding-xs">
        <div class="col-lg-12">
            <div class="dash-item first-dash-item">
                <div class="inner-item dash-form">
                        <div class="template__vanilla">
                            <div class="template__vanilla__header text-center">
                                <div class="template__vanilla__header_logo">
                                    <img v-if="all_settings.logo" :src="all_settings.logo" alt="avatar">
                                    <img v-else src="/image_home/user.png" alt="avatar">
                                </div>
                                <h2 class="text-center ">REPORT CARD</h2>
                                <h4><strong>{{all_settings.name}}</strong></h4>
                            </div>
                        </div>
                    <div class="row">
                        <div>
                            <div class="col-sm-6">
                                <p>
                                    STUDENT'S NAME: <span><strong>{{personal.lname |upperCase}} {{personal.mname|upperCase}} {{personal.fname|upperCase}}</strong></span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    NO ON ROLL: <span><strong>{{all_students}}</strong></span>
                                </p>
                            </div>
                            <br>
                            <span class="green__outine"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div style="margin-bottom: -10px">
                            <div class="col-sm-6">

                                <p>
                                    ACADEMIC YEAR: <span><strong>{{year}}</strong></span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                        TERM:<span><strong> {{term}}</strong></span>
                                </p>
                            </div>
                            <br>
                            <span class="green__outine"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div style="margin-bottom: -10px">
                            <div class="col-sm-6">
                                <p>
                                    TOTAL SCORE: <span><strong>{{getTotalScore().total.toFixed(2)}}</strong></span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    OVERALL POSITION: <span><strong>{{getTotalScore().rank|position}}</strong></span>
                                </p>
                            </div>
                            <br>
                            <span class="green__outine"></span>
                        </div>
                    </div>
                    <!--//results go here-->
                    <div class="row">
                        <table class="results__content table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th class="text-center">SUBJECT</th>
                                <th class="text-center">CLASS SCORE</th>
                                <th class="text-center">EXAM SCORE</th>
                                <th class="text-center">TOTAL</th>
                                <th class="text-center">POSITION</th>
                                <th class="text-center">GRADE</th>
                                <th class="text-center">REMARKS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in individual_rank">
                                <td class="text-center">{{getSubjectName(item.subject_id)}}</td>
                                <td class="text-center">{{item[index].class_score}}</td>
                                <td class="text-center">{{item[index].exam_score}}</td>
                                <td class="text-center"><strong>{{getTotalMarks(item[index].class_score,item[index].exam_score)}}</strong></td>
                                <td class="text-center"><strong>{{item[index].position|position}}</strong></td>
                                <td class="text-center"><strong>{{getRemark(getTotalMarks(item[index].class_score,item[index].exam_score)).grade}}</strong></td>
                                <td class="text-center"><strong>{{getRemark(getTotalMarks(item[index].class_score,item[index].exam_score)).remark}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--//teacher remarks-->
                    <template v-if="resultsApproved">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 >Class Teacher Remarks</h4>
                                <p>{{teacher}}</p>
                            </div>
                            <div class="col-sm-12">
                                <h4 >Head Teacher Remarks</h4>
                                <p>{{master}}</p>
                            </div>
                        </div>
                    </template>
                    <form v-else @submit.prevent="saveStudentComment">
                        <div class="row">
                                <div class="col-sm-12">
                                    <label for="">Class Teacher Remarks</label>
                                    <textarea v-model="teacher" required></textarea>
                                </div>
                                <div  class="col-sm-12 dash-search-form">
                                    <template v-if="adminAccess">
                                        <label for="">Head Teacher Remarks</label>
                                        <textarea required v-model="master"></textarea>
                                    </template>
                                    <button class="submit-btn pull-right">Save</button>
                                </div>
                        </div>
                    </form>

                    <!--//grading system goes here-->
                    <div class="row">
                        <table class="results__content table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th class="text-center" colspan="3">GRADING SYSTEM</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in all_remarks">
                                <td class="text-center"><strong>{{item.range}}</strong></td>
                                <td class="text-center"><strong>{{item.grade}}</strong></td>
                                <td class="text-center"><strong>{{item.remark}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "studentReport",
        props:['courses','approved','remarks','student','settings','student_courses','overall_rank','all_students','term','year','comments','admin'],
        data(){
            return{
                total_rank:[],individual_rank:[],personal:[],subjects:[],all_settings:[],all_remarks:[],
                master:'',teacher:'',comment:{},adminAccess:parseInt(this.admin),resultsApproved:parseInt(this.approved)
            }
        },
        methods:{
            getTotalMarks(a,b){
                return (parseFloat(a)+parseFloat(b)).toFixed(2);
            },
            getSubjectName(id){
                let name = null;
                $.each(this.subjects,function (key,value) {
                    if(parseInt(value.id) === parseInt(id)){
                        name = value.name;
                        return false;
                    }
                });
                if(name){
                    return name.toUpperCase();
                }else{
                    return '';
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            getTotalScore(){
                let id = this.personal.id;
                let me = {};
                $.each(this.total_rank,(key,value)=>{
                    if(value.student_id == id){
                        me.rank = value.rank;
                        me.total = value.total;
                    }
                });
                return me;
            },
            getRemark(score){
                let temp = null;
                $.each(this.all_remarks,function(key,value){
                    if(Math.round(score) >= value.start && Math.round(score) <= value.end){
                        temp = value;
                        return false;
                    }
                });
                if(temp != null){
                    return temp;
                }else{
                    return {grade:'Not Specified',remark:'Not Specified'}
                }
            },
            saveStudentComment(){
                let student = {};
                student.student_id = this.personal.id;
                student.head_teacher_comment = this.master;
                student.teacher_comment = this.teacher;
                student.teacher_id = this.personal.student_class.teacher.id;
                student.class_id = this.personal.student_class.id;
                console.log(student);
                axios.post('/teacher/reports/submit-student-comment',student)
                    .then(resp=>{
                        this.showAlert('comment save successfully','success')
                    })
                    .catch(error=>{
                        if(error.response.status === 401){
                            this.showAlert('You are unauthorized to perform this action','error')
                        }else if(error.response.status === 405){
                            this.showAlert('Approved Results cannot be altered','error');
                        }else{
                            this.showAlert('sorry an error occurred','error')
                        }
                    })
            }
        },
        filters:{
            position(value){
                switch(true){
                    case ( value%1000 == 1 && value != 11):
                        return value+'ST';
                        break;
                    case(value % 10 == 2 && value != 12):
                        return value+'ND';
                        break;
                    case (value%10 == 3 && value != 13):
                        return value+'RD';
                        break;
                    default:
                        return value+'TH';
                        break;
                }
            },
            upperCase(value){
                return value.toUpperCase();
            },
        },
        mounted(){
            this.individual_rank = JSON.parse(this.student_courses);
            this.total_rank = JSON.parse(this.overall_rank);
            this.personal = JSON.parse(this.student);
            this.all_settings = JSON.parse(this.settings);
            this.subjects = JSON.parse(this.courses);
            this.all_remarks = JSON.parse(this.remarks);
            this.comment = JSON.parse(this.comments);
            this.master =  this.comment.head_teacher_comment;
            this.teacher = this.comment.teacher_comment;
        }
    }
</script>

<style scoped>
    /*Vanilla template*/
    .template__vanilla{
        padding-bottom: 20px;
    }
    .template__vanilla__header_logo img{
        height: 150px;
        background: transparent;
        border-radius: 10%;
    }
    .template__vanilla__header{
        font-family: Arial,serif;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
    }
    .template__vanilla__header h2{
        color: #489FA3;
        font-size: 30.1px;
        font-weight: bold;
    }
    .template__vanilla__header h4{
        font-family: Arial,serif;
        font-size: 13.1px;
        color: rgb(53,56,46);
    }
    .green__outine{
        margin-top: 10px;
        position: relative;
        display: block;
        border-top: 3px solid #489FA3;
    }
    .results__content{
        margin-top: 20px;
    }

    .dash-item .inner-item img {
        max-width: unset;
        border-radius: unset;
    }
</style>