<template>
    <div class="col-sm-4">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>PAIR TEACHERS AND COURSES</h6>
            <div class="inner-item">
                <form  @submit.prevent="attemptSave">
                    <div class="dash-form">
                        <label class="clear-top-margin"><i class="fa fa-book"></i>NAME</label>
                        <select name="" id="" v-model="name" required>
                            <option value=""></option>
                            <option value="" v-for="val in getCourses" :value="val.id" :key="val.id">{{val.name}}</option>
                        </select>
                        <label><i class="fa fa-code"></i>CLASS</label>
                        <select name="" id="" v-model="class_name" required>
                            <option value=""></option>
                            <option value="" v-for="val in allClasses" :value="val.id" :key="val.id">{{val.name}}</option>
                        </select>
                        <label><i class="fa fa-code"></i>TEACHER</label>
                        <select name="" id="" v-model="teacher_name" required>
                            <option value=""></option>
                            <option value="" :value="item.id" :key="item.id" v-for="item in allTeachers">
                                {{item.fname}} {{item.lname}}
                            </option>
                        </select>
                        <div class="dash-search-form">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                SAVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    import VSelect from 'vue-select';
    export default {
        components:{
            VSelect
        },
        name: "course",
        data(){
            return{
                allClasses:null,
                class_name:'',
                allTeachers:null,
                teacher_name:'',
                name:'',
                getCourses:null,
                loading:false
            }

        },
        methods:{
          attemptSave(){
              this.loading = true;
              axios.post('/admin/class_courses',{
                  name:this.name,class_id:this.class_name,teacher_id:this.teacher_name
              })
                  .then(resp=>{
                      if(resp.data.status == 'success'){
                          this.name=null;this.teacher_name=null;this.class_name=null;
                          window.scrollTo(0,0);
                          this.$store.state.pairings.unshift(resp.data.data);
                          this.showAlert('Saved Successfully','success');
                      }else{
                          this.showAlert('Duplicate Entry','error');
                      }
                      this.loading = false;
                  })
                  .catch(error=>{
                      this.showAlert('sorry an error occurred','error');
                      this.loading = false;
                  })
          },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            axios.get('/date/classes/show-all')
                .then(data=>{
                    this.allClasses = data.data;
                    this.$store.state.classes = data.data;
                });
            axios.get('/teachers/endpoint')
                .then(data=>{
                    this.allTeachers = data.data;
                    this.$store.state.teachers = data.data;
                });
            axios.get('/date/courses/show-all')
                .then(resp=>{
                    this.getCourses = resp.data.data;
                    this.$store.state.courses = resp.data.data;
                })
        },
        computed:{
            validate(){
                return this.class_name && this.name && this.teacher_name;
            }
        }
    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }
    .cColor{
        color: #2ab27b;
    }
</style>