<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-teacher-course></add-teacher-course>
            <div class="col-sm-8">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL PAIRINGS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.pairings" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'class.name'" :label="'Class'" :key="'Class'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'course.name'" :label="'Course'" :key="'Course'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'teacher.full_name'" :label="'Teacher'" :key="'Teacher'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deletePairing(scope.$index, scope.row.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form @submit.prevent="update">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">EDIT COURSE DETAILS</h4>
                        </div>
                        <div class="modal-body dash-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin">SUBJECT</label>
                                <select required v-model="currentItem.course.id">
                                    <option v-for="item in $store.state.courses" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">CLASS</label>
                                <select required v-model="currentItem.class.id">
                                    <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">TEACHER</label>
                                <select required v-model="currentItem.teacher.id">
                                    <option v-for="item in $store.state.teachers" :value="item.id">{{item.full_name}}</option>
                                </select>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer dash-search-form">
                            <div class="table-action-box">
                                <div class="col-sm-3 pull-left">
                                    <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                </div>
                                <div class="col-sm-3 pull-right ">
                                    <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                        UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import AddTeacherCourse from './course.vue';
    export default {
        name: "index",
        components:{
            AddTeacherCourse
        },
        props:['pairings'],
        data(){
            return{
                loading:false,
                currentItem:{
                    class:{id:0},
                    course:{id:0},
                    teacher:{id:0}
                }
            }
        },
        methods:{
            showModal(index,row){
                this.currentItem = row;
                $('#editDetailModal').modal('show')
            },
            update(){
                this.loading = true;
                axios.put('/admin/class_courses/'+this.currentItem.id,this.currentItem)
                    .then(resp=>{
                        this.$store.state.pairings = resp.data;
                        $('#editDetailModal').modal('hide');
                        this.showAlert('Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert('Duplicate Entry for pairings','error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            deletePairing(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.delete('/admin/class_courses/'+id)
                        .then(resp=>{
                            this.$store.state.pairings.splice(index,1);
                            this.showAlert('Deleted Successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occcurred','error')
                        })
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            this.$store.state.pairings = JSON.parse(this.pairings);
        }
    }
</script>

<style scoped>

</style>