<template>
    <div class="col-sm-4">
        <form action="" @submit.prevent="attemptSave">
            <div class="dash-item first-dash-item">
                <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD CLASS</h6>
                <div class="inner-item">
                    <div class="dash-form">
                        <label class="clear-top-margin"><i class="fa fa-book"></i>CLASS</label>
                        <input v-model="name" type="text" placeholder="5 STD" required/>
                        <label><i class="fa fa-code"></i>CLASS CODE</label>
                        <input v-model="code" type="text" placeholder="PTH05"/>
                        <label><i class="fa fa-user-secret"></i>CLASS TEACHER</label>
                        <select v-model="teacher" required>
                            <option>-- Select --</option>
                            <option v-for="teachers in getTeachers" :value="teachers.id">{{teachers.fname}} {{teachers.lname}}</option>
                        </select>
                        <label><i class="fa fa-info-circle"></i>DESCRIPTION</label>
                        <textarea v-model="description" placeholder="Enter Description Here"></textarea>
                        <div class="dash-search-form">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                SAVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "addClass",
        data(){
            return {
                name:'',
                code:'',
                teacher:'',
                description:'',
                getTeachers:null,
                getTable:null,
                loading:false,
            }
        },
        mounted(){
            axios.get('/teachers/endpoint').then(resp=>{
                this.getTeachers = resp.data;
                this.$store.state.teachers = resp.data;
            });


        },
        methods:{
            attemptSave(){
                this.loading = true;
                axios.post('/admin/classes',{
                    name:this.name,code:this.code,teacher:this.teacher,description:this.description
                }).then(resp=>{
                    if(resp.data.status == 'success'){
                        this.showAlert('Class Added Successfully','success');
                        this.$store.state.classes.unshift(resp.data.data);
                        window.scrollTo(0,0);
                        this.name = '';this.code = '';
                    }else{
                        this.showAlert('sorry an error occurred','error')
                    }
                    this.loading = false;
                }).catch(error=>{
                    this.loading = false;
                    this.showAlert('Duplicate Entry for class name','error')
                })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },


        },
        computed:{
            validate(){
                return this.name && this.teacher ;
            }
        },

    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }

</style>