<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-class></add-class>
            <div class="col-sm-8">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL CLASSES</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.classes" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'teacher.full_name'" :label="'Class Teacher'" :key="'Class Teacher'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'code'" :label="'Code'" :key="'Code'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteClass(scope.$index, scope.row.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form @submit.prevent="update">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT CLASS DETAILS</h4>
                    </div>
                    <div class="modal-body dash-form">
                        <div class="col-sm-4">
                            <label class="clear-top-margin"><i class="fa fa-book"></i>CLASS</label>
                            <input type="text" placeholder="CLASS" v-model="currentItem.name" required/>
                        </div>
                        <div class="col-sm-4">
                            <label class="clear-top-margin"><i class="fa fa-code"></i>CLASS CODE</label>
                            <input type="text" v-model="currentItem.code"  />
                        </div>
                        <input type="hidden" name="hidden" id="hidden-input">
                        <div class="col-sm-4">
                            <label class="clear-top-margin"><i class="fa fa-user-secret"></i>CLASS TEACHER</label>
                            <select name="teacher" id="teachers" v-model="currentItem.teacher.id">
                                <option v-for="item in $store.state.teachers" :value="item.id">{{item.full_name}}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <label><i class="fa fa-info-circle"></i>DESCRIPTION</label>
                            <textarea placeholder="Enter Description Here" v-model="currentItem.description"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer dash-search-form">
                        <div class="table-action-box">
                            <div class="col-sm-3 pull-left">
                                <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                            <div class="col-sm-3 pull-right ">
                                <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                    UPDATE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                </form>

            </div>

        </div>
    </div>
</template>

<script>
    import AddClass from './addClass.vue';
    export default {
        name: "index",
        props:['classes'],
        components:{
            AddClass
        },
        data(){
            return{
                loading:false,currentItem:{
                    teacher:{id:0}
                }
            }
        },
        methods:{
            showModal(index,row){
                this.currentItem = row;
                $('#editDetailModal').modal('show')
            },
            deleteClass(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.delete('/admin/classes/'+id)
                        .then(resp=>{
                            this.$store.state.classes.splice(index,1);
                            this.showAlert('Deleted Successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occcurred','error')
                        })
                }
            },
            update(){
                this.loading = true;
              axios.put('/admin/classes/'+this.currentItem.id,this.currentItem)
                  .then(resp=>{
                      this.$store.state.classes = resp.data;
                      $('#editDetailModal').modal('hide')
                      this.showAlert('Updated Successfully','success');
                      this.loading = false;
                  })
                  .catch(error=>{
                        this.showAlert('sorry an error occurred','error');
                        this.loading = false;
                  })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>

</style>