<template>
    <div class="inner-item">
        <form action="">
            <div class="col-sm-6 col-md-4" v-for="item in templates">
                <div class="template">
                    <div class="template__header">
                        <span class="pull-left">
                            <h3><button @click.prevent="showModal(item)" class="btn btn-success">View {{item.name}}</button></h3>
                        </span>
                        <span  class="pull-right">
                           <input :value="item.id" v-model="selection" style="margin-bottom: -25px;" type="radio" name="demo" value="one" id="radio-one" class="form-radio">
                        </span>
                    </div>
                    <div class="template__body">
                        <img class="template__avatar" :src="item.avatar" alt="">
                    </div>
                    <div class="template__footer">
                        <h3 class="text-center">{{item.name}}</h3>
                    </div>
                </div>
            </div>
        </form>
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{currentItem.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <div  class="text-center col-sm-10 col-sm-offset-1">
                            <img width="100%" :src="currentItem.avatar" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "reports",
        props:['template','setting'],
        data(){
            return{
                templates:[],
                currentItem:{},
                selection:0,
                settings:{},
                count : 0
            }
        },
        methods:{
            showModal(item){
                this.currentItem = item;
                $('#editDetailModal').modal('show')
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            }
        },
        watch:{
            selection:function (value) {
                if(this.selection === 0){
                    this.showAlert('please select a template','error')
                }else{
                    axios.get(`/examination/report-template-add/${this.selection}`)
                        .then(resp=>{
                            this.count ++;
                            if(this.count > 1)
                                this.showAlert('Report template updated successfully','success');
                        })
                        .catch(error=>{
                            if(error.response.status === 422){
                                this.showAlert('please update the institution settings first','error');
                            }else{
                                this.showAlert('sorry an error occurred','error');
                            }
                        })
                }
            }
        },
        mounted(){
            this.templates = JSON.parse(this.template);
            this.settings = JSON.parse(this.setting);
            this.selection = this.settings.report_template_id;
        }
    }
</script>

<style scoped>
    .dash-item .inner-item img{
        max-width: unset;
        border-radius:unset;
    }
    .template__avatar{
        width: 100%;
        transition: transform .5s;
        height: 500px;
    }
  /*  .template__avatar:hover{
        transform: scale(1.5);
        position: absolute;

    }*/
    .form-radio
    {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: #f1f1f1;
        color: #666;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 7px;
        outline: none;
    }
    .form-radio:checked::before
    {
        position: absolute;
        font: 13px/1 'Open Sans', sans-serif;
        left: 11px;
        top: 7px;
        content: '\02143';
        transform: rotate(40deg);
    }
    .form-radio:hover
    {
        background-color: #f7f7f7;
    }
    .form-radio:checked
    {
        background-color: #f1f1f1;
    }
    label
    {
        font: 300 16px/1.7 'Open Sans', sans-serif;
        color: #666;
        cursor: pointer;
    }


</style>