<template>
    <div class="loader">
    </div>
</template>

<script>
    export default {
        name: "pageLoader"
    }
</script>

<style scoped>
body{
    margin:0;
    padding:0;
    background: #e6e6e6;
}
    .loader{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:200px;
        height:200px;
        z-index:9999999;
    }
    .loader:before{
        content: '';
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        box-sizing: border-box;
        animation: animate 2s linear infinite;
    }
    .loader:after{
        content: '';
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        box-sizing: border-box;
        animation: animate 2s linear infinite;
        animation-delay:1s;
    }
    @keyframes animate {
        0%{
            width: 0;
            height: 0;
            border: 4px solid #47c915;
            box-shadow: 0 0 10px #47c915;
            opacity: 1;
        }
        70%{
            opacity:1;
        }
        100%{
            width: 100%;
            height: 100%;
            border: 4px solid #47c915;
            box-shadow: 0 0 10px #47c915;
            opacity: 0;
        }
    }
</style>