<template>
    <form action="" method="post">
    <div class="panel panel-primary" v-show="show && !showCode">
        <div class="panel-heading text-center">
            School Registration
            <hr><h3>School Details</h3>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                33%
            </div>
        </div>
            <div class="panel-body">

                <div class="">
                    <input type="text" class="" v-model="name" autofocus  placeholder="Name">
                </div>
                <div class="">
                    <input type="text" class="" v-model="email" placeholder="Email">
                </div>
                <div class="">
                    <input type="text" class="" v-model="location" placeholder="Location">
                </div>
                <div class="">
                    <input type="text" class="" v-model="contact" placeholder="Contact">
                </div>
                <div class="">
                    <input type="text" class="" v-model="alt_contact" placeholder="Other Contact">
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group clearfix">
                    <button class="login_style  btn pull-right" @click.prevent="show = false" :disabled="!validate">Next</button>
                    <a href="" type="button" @click.prevent="back" class="back_button btn pull-left">Back</a>
                </div>
            </div>

    </div>
        <div class="panel panel-primary" v-show="!show && !showCode">
            <div class="panel-heading text-center">
                School Registration
                <hr><h3>Your Credentials</h3>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                    66%
                </div>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger alert-dismissible" role="alert" v-show="success">
                    <button type="button" @click="successN" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{verify}}
                </div>
                <div class="">
                    <input type="text" class="" v-model="fname"  placeholder="First Name">
                </div>
                <div class="">
                    <input type="text" class="" v-model="lname"  placeholder="Last Name">
                </div>
                <div class="">
                    <input type="text" class="" v-model="user_contact"  placeholder="Contact">
                </div>
                <div class="">
                    <input type="text" class="" v-model="staff_email"  placeholder="Email">
                </div>
                <div class="">
                    <input type="password" class="" v-model="password"  placeholder="Password">
                </div>
                <div class="">
                    <input type="password" class="" v-model="password_confirmation" placeholder="Confirm Password">
                </div>

            </div>
            <div class="panel-footer">
                <div class="form-group clearfix" >
                    <button id="loadingButton" class="login_style btn pull-right" @click.prevent="attempRegister" :disabled="!checkPass">
                        <i class="fa"></i>
                        Register
                    </button>
                    <a href="" type="button" @click.prevent="previous" class="back_button btn pull-left">Back</a>
                </div>
            </div>

        </div>
        <div class="panel panel-primary" v-if="showCode">
            <div class="panel-heading text-center">
                School Registration
                <hr><h3>Enter SMS Verification Code</h3>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    100%
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <input type="number" class="" v-model="sms_code" placeholder="Sms Verification Code">
                </div>

            </div>
            <div class="panel-footer">
                <div class="form-group clearfix" >
                    <transition name="mark">
                        <button v-show="sms_code.length >= 4" @click.prevent="verifySMS" class="btn btn-success ld-ext-right pull-right"
                                :class="{'running':sms_loading}" :disabled="sms_loading">
                            Verify
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </transition>
                </div>
            </div>

        </div>
    </form>
</template>

<script>
    export default {
        name: "register",
        data(){
          return {
              name:'',
              location:'',sms_code:'',sms_loading:false,
              contact:'',
              alt_contact:'',
              category:'',
              email:'',
              password:'',
              staff_name:'',
              staff_email:'',
              password_confirmation:'',
              show:true,
              loading:false,
              success:false,
              verify:'',showCode:false,
              user_id:'',
              user_contact:'',lname:'',fname:''

          }
        },
        methods:{
            back(){
                window.history.back();
            },
            previous(){
                this.show = true;
            },
            successN(){
                this.success = false;
            },
            emailIsValid(val)
            {
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(val.trim()))
                {
                    return (true)
                }else{
                    return false;
                }

            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:5000,
                    type:type

                }).show();
            },
            attempRegister(){
                $('#loadingButton').prop('disabled',true);
                $('#loadingButton i').addClass('fa-refresh').addClass('fa-spin');
                axios.post('/register-school',{
                    name:this.name,
                    email:this.email,
                    category:this.category,
                    alt_contact:this.alt_contact,
                    location:this.location,
                    contact:this.contact,
                    fname:this.fname,
                    lname:this.lname,
                    user_mail:this.staff_email,
                    password:this.password,
                    user_contact:this.user_contact

                }).then((resp)=>{
                   if(resp.data.status != 'error'){
                       this.user_id = resp.data;
                       //this.showCode = true;
                       this.showAlert('Registered Successfully <br> Email Verification sent','success');
                       setTimeout(function () {
                           window.location.href = '/login';
                       },3000)
                   }else if(resp.data.status == 'error'){
                       this.verify = resp.data.message;
                       this.success = true;
                       $('#loadingButton').prop('disabled',false);
                       $('#loadingButton i').removeClass('fa-refresh').removeClass('fa-spin');
                   }
                }).catch((error)=>{
                    if(error.response.status === 501){
                        this.showAlert('Sms verification Code couldn\'t be sent','error');
                    }else{
                        this.showAlert('sorry an error occurred','error');
                    }
                    $('#loadingButton').prop('disabled',false);
                    $('#loadingButton i').removeClass('fa-refresh').removeClass('fa-spin');
                })
            },
            verifySMS(){
                this.sms_loading = true;
                axios.post('/user/verify-sms',{id:this.user_id,code:this.sms_code})
                    .then(resp=>{
                        location.replace('/login')
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert('Incorrect SMS Code','error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.sms_loading = false
                    })
            }
        },
        computed:{
            validate(){
                return this.name && this.contact && this.location && this.email && this.emailIsValid(this.email)
            },
            checkPass(){
                    return this.password && this.password_confirmation && this.password == this.password_confirmation
                            && this.lname && this.fname
                        && this.emailIsValid(this.staff_email) && this.user_contact;
            },

        }
    }
</script>

<style scoped>
    input{
        border: none;
        background: #fff;
        border-bottom: 2px solid #e8ebed;
        box-shadow: none;
        color: #999;
        height: 44px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 25px;
        padding: 6px 12px 6px 2px;
        border-radius: 0;
        outline: none !important;
        width: 100%;
        transition: border-bottom .5s ease-in;
    }
    input:focus{
        border-bottom: 2px solid rgba(0,0,0,.4);
    }
    .panel{
        margin-top: 6%;
    }
    .progress{
        border-radius: 0;
    }
    .panel-heading{
        background: #3aa920 !important;
        color:white;
        font-weight: bolder;
        font-size: 20px;
    }
    .btn{
        border-radius: unset !important;
    }
    .login_style{
        background: #0ab367;
        border: 2px solid #0ab367;
        color: white;
        transition: background .4s linear, color .3s ease-in .2s,transform .4s ease-out;
    }
    .login_style:hover{
        background: transparent;
        color: black;
        transform: scaleY(1.08);
    }
    .back_button{
        background: #18713E;
        border: 2px solid #00FF6C;
        color:white;
        transition: background .4s linear, color .3s ease-in .2s;
    }
    .back_button:hover{
        background: transparent;
        color:black;
    }
    .progress-bar{
        background: #3aa920 !important;
    }
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .disable{
        pointer-events: none;
    }
</style>