<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <select-role @selectedRoleChanged="handleSelectedRoleChanged"></select-role>
            <form action="" id="all-permissions" @submit.prevent="updatePermissions">

                <div v-if="status" v-for="(table,name) in $store.state.tables" class="col-lg-12 clear-padding-xs">
                        <div class="dash-item">
                            <h6  class="item-title" style="text-transform: uppercase">
                                <span><a @click.prevent="checkGroup(name)" :title="'Toggle Selected '+name">{{name}}</a></span>
                                <span v-if="name == 'users'" class="pull-right"><span class="fa fa-diamond"></span> <a  @click.prevent="Uncheckall">UNCHECK ALL</a></span>
                                <span v-if="name == 'users'" class="pull-right"><a  @click.prevent="checkall">CHECK ALL</a></span>
                            </h6>
                            <div class="inner-item">
                                    <div class="">
                                        <div v-for="(item,index) in table"  class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="cntr">
                                                <label :for="item.name" class="label-cbx">
                                                    <input :id="item.name" :class="'invisible '+name+' '+'all_checks'"  type="checkbox" name="perms[]" :value="item.id" :checked="$store.state.permissions.includes(item.name)" >
                                                    <div class="checkbox">
                                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                            <polyline points="4 11 8 15 16 6"></polyline>
                                                        </svg>
                                                    </div>
                                                    <span>{{item.name.replace('_',' ')}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div style="padding-bottom: 20px;"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button v-if="name == 'academic_infos'" class="pull-right btn btn-default  ld-ext-right"
                                            :class="{'running':loading}" :disabled="loading">SUBMIT
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </form>

        </div>
    </div>
</template>

<script>
    import SelectRole from './select.vue';
    export default {
        name: "index",
        props:['roles'],
        components:{
            SelectRole
        },
        data(){
            return{
                status:'',loading:false
            }
        },
        methods:{
            handleSelectedRoleChanged(value){
                this.status = value.id;
            },
            updatePermissions(){
                this.loading = true;
                let perm_ids =  $('#all-permissions').serializeArray();
                axios.put('/admin/roles/'+this.$store.state.current_role,{permissions:perm_ids})
                    .then(resp=>{
                        this.$store.state.permissions = resp.data.role_permissions;
                        this.showAlert('Role Permissions Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert('Sorry an Error Occurred','error');
                        this.loading = false;
                    })
            },
            checkall(){
                let selected = $('input.all_checks');
                selected.each(function () {
                    $(this).prop('checked',true);
                })
            },
            Uncheckall(){
                let selected = $('input.all_checks');
                selected.each(function () {
                    $(this).prop('checked',false);
                })
            },
            checkGroup(id){
                let selected = $('input.'+id);
                selected.each(function () {
                    if(!$(this).prop('checked')){
                        $(this).prop('checked',true);
                    }else{
                        $(this).prop('checked',false);
                    }
                })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type
                }).show();
            },
        },
        mounted(){
            this.$store.state.roles = JSON.parse(this.roles);
        },
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    a{
        cursor:pointer;
    }
</style>