<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title">MAKE SELECTION</h6>
            <div class="inner-item dash-search-form">
                <div class="col-sm-4">
                    <label>ROLE</label>
                    <select v-model="selected_role">
                        <option v-for="item in $store.state.roles" :value="item.id">{{item.display_name}}</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "select",
        data(){
            return {
                selected_role :''
            }
        },
        watch:{
            selected_role:function (value) {
                axios.get('/admin/roles/'+value)
                    .then(resp=>{
                        this.$store.state.tables = resp.data.tables;
                        this.$store.state.current_role = resp.data.role_id;
                        this.$store.state.permissions = resp.data.role_permissions;
                        this.$emit('selectedRoleChanged',{
                            id:value
                        })
                    })
                    .catch(error=>{

                    })
            }
        }
    }
</script>

<style scoped>

</style>