<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <!--<sms-detail-selection></sms-detail-selection>-->
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SMS</h6>
                    <div class="inner-item first-dash-item">
                        <table class="table table-bordered table-striped table-responsive table-condensed">
                            <thead>
                            <tr>
                                <td class="text-center">STATUS</td>
                                <td class="text-center">UNITS USED</td>
                                <td class="text-center">SENT BY</td>
                                <td class="text-center">TEXT</td>
                                <td class="text-center">ACTIONS</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">new</td>
                                    <td class="text-center">sdf</td>
                                    <td class="text-center">dsf</td>
                                    <td class="text-center">dsd</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary">
                                            VIEW
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SmsDetailSelection from './select.vue';
    export default {
        name: "index",
        components:{
            SmsDetailSelection
        }
    }
</script>

<style scoped>

</style>