<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD SLOT</h6>
            <div class="inner-item">
                <div class="dash-form">
                    <div class="col-sm-3">
                        <label class="clear-top-margin"><i class="fa fa-calendar"></i>DAY</label>
                        <select>
                            <option>-- Select --</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin"><i class="fa fa-clock-o"></i>SLOT</label>
                        <select>
                            <option>-- Select --</option>
                            <option>09-10 AM</option>
                            <option>10-11 PM</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin"><i class="fa fa-book"></i>CLASS</label>
                        <select>
                            <option>-- Select --</option>
                            <option>STD 5</option>
                            <option>STD 6</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin"><i class="fa fa-users"></i>SECTION</label>
                        <select>
                            <option>-- Select --</option>
                            <option>STD 5</option>
                            <option>STD 6</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label><i class="fa fa-code"></i>SUBJECT</label>
                        <select>
                            <option>-- Select --</option>
                            <option>PHY101</option>
                            <option>MTH101</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label><i class="fa fa-user"></i>TEACHER</label>
                        <select>
                            <option>-- Select --</option>
                            <option>John Doe</option>
                            <option>Lennore Doe</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label><i class="fa fa-home"></i>CLASS ROOM</label>
                        <select>
                            <option>-- Select --</option>
                            <option>101</option>
                            <option>103</option>
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <a href="#"><i class="fa fa-paper-plane"></i> CREATE</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "select",
    }
</script>

<style scoped>

</style>