<template>
    <div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <h5 class="page-title"><i class="fa fa-bar-chart"></i>DAILY ATTENDANCE</h5>
                <div class="section-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <select-attendance @selectedClassChanged="handleSelectedClassChanged"></select-attendance>
                <transition name="mark">
                    <div class="col-lg-12" v-if="$store.state.students.length > 0">
                        <div class="dash-item">
                            <h6 class="item-title"><i class="fa fa-info-circle"></i>MARK ATTENDENCE</h6>
                            <div class="inner-item">
                                <form id="attendance-form" action="" @submit.prevent="attemptMarkAttendance">
                                    <table class="table table-responsive table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">LAST NAME</th>
                                            <th class="text-center">MIDDLE NAME</th>
                                            <th class="text-center">FIRST NAME</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center">REMARKS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in $store.state.students">
                                            <td class="text-center"><strong>{{item.lname}}</strong></td>
                                            <td class="text-center"><strong>{{item.mname}}</strong></td>
                                            <td class="text-center"><strong>{{item.fname}}</strong></td>
                                            <td class="text-center">
                                                <select :name="item.id" class="datatable-select">
                                                    <option value="1">Present</option>
                                                    <option value="0">Absent</option>
                                                </select>
                                            </td>
                                            <td class="text-center"><input type="text" :name="item.id" placeholder="Remarks" class="datatable-input remarks"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="table-action-box">
                                        <button  type="submit" class="pull-right btn btn-success  ld-ext-right"
                                                 :class="{'running':loading}" :disabled="loading">MARK
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import SelectAttendance from './selectAttendance.vue'
    export default {
        name: "attendance",
        props:['classes'],
        data(){
            return{
                class_id:'',loading:false
            }
        },
        components:{
            SelectAttendance
        },
        methods:{
            attemptMarkAttendance(){
                this.loading = true
                let select = $('#attendance-form .datatable-select').serializeArray();
                let remarks = $('#attendance-form .remarks').serializeArray();
                axios.post('/teacher/attendance-mark/save',{select:select,remarks:remarks,class_id:this.class_id})
                    .then(resp=>{
                        this.showAlert('Attendance Submitted Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 401){
                            this.showAlert('Exams Results have been approved','error')
                        }else{
                            this.showAlert('Sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            handleSelectedClassChanged(value){
                this.class_id = value.id
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }

</style>