<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>SELECT CLASS</h6>
            <div class="inner-item dash-search-form">
                <div class="col-sm-4">
                    <label>SUBJECT</label>
                    <select v-model="selected_class">
                        <option v-for="item in $store.state.classes" :value="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selectAttendance",
        data(){
            return{
                selected_class:''
            }
        },
        watch:{
            selected_class:function (value) {
                axios.get('/teacher/attendance-mark/'+value)
                    .then(resp=>{
                        this.$store.state.students = resp.data;
                        this.$emit('selectedClassChanged',{id:this.selected_class})
                    })
                    .catch(error=>{

                    })
            }
        }
    }
</script>

<style scoped>

</style>