<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>SELECT CLASS</h6>
            <div class="inner-item dash-search-form">
                <form action="" @submit.prevent="getRecords">
                    <div class="col-sm-4">
                        <label>CLASS</label>
                        <select v-model="selected_class" required>
                            <option v-for="item in $store.state.classes" :value="item.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label>DATE</label>
                        <select v-model="selected_date" required>
                            <option v-for="item in $store.state.dates" :value="item.date">
                                {{item.date}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button  type="submit" class="submit-btn  ld-ext-right"
                                 :class="{'running':loading}" :disabled="loading">SELECT
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selectAttendance",
        data(){
            return{
                selected_class:'',selected_date:'',loading:false
            }
        },
        methods:{
            getRecords(){
                this.loading = true
               axios.post('/teacher/attendance-dates-student',{class_id:this.selected_class,date:this.selected_date})
                   .then(resp=>{
                        this.$store.state.attendances = resp.data
                       this.loading = false
                   })
                   .catch(error=>{
                        this.loading = false
                   })
            }
        },
        watch:{
            selected_class:function (value) {
                axios.get('/teacher/attendance-dates/'+value)
                    .then(resp=>{
                        this.selected_date = '';
                        this.$store.state.dates = resp.data;
                      //  this.$emit('selectedClassChanged',{id:this.selected_class})
                    })
                    .catch(error=>{

                    })
            }
        }
    }
</script>

<style scoped>

</style>