<template>
    <div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <h5 class="page-title"><i class="fa fa-bar-chart"></i>ATTENDANCE RECORDS</h5>
                <div class="section-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <select-view @selectedClassChanged="handleSelectedClassChanged"></select-view>
                <transition name="mark">
                    <div class="col-lg-12" v-if="$store.state.attendances.length > 0">
                        <div class="dash-item">
                            <h6 class="item-title"><i class="fa fa-info-circle"></i>MARK ATTENDENCE</h6>
                            <div class="inner-item">
                                    <table class="table table-responsive table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">LAST NAME</th>
                                            <th class="text-center">MIDDLE NAME</th>
                                            <th class="text-center">FIRST NAME</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center">ACTIONS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in $store.state.attendances">
                                            <td class="text-center"><strong>{{item.lname}}</strong></td>
                                            <td class="text-center"><strong>{{item.mname}}</strong></td>
                                            <td class="text-center"><strong>{{item.fname}}</strong></td>
                                            <td class="text-center">
                                                <span v-if="item.status == 1" class="text-success">PRESENT</span>
                                                <span v-else class="text-danger">ABSENT</span>
                                            </td>
                                            <td class="text-center">
                                                <button @click.prevent="showModal(item.id)" class="btn btn-primary"><span class="fa fa-edit"></span></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT ATTENDANCE DETAILS</h4>
                    </div>
                    <form action="" @submit.prevent="updateRecored">
                        <div class="modal-body dash-form">
                            <div class="clearfix"></div>
                            <div class="col-sm-4">
                                <label><i class="fa fa-info-circle"></i>NAME</label>
                                <input readonly :value="selected_record.lname + ' '+selected_record.fname" type="text" class="name">
                            </div>
                            <div class="col-sm-4">
                                <label><i class="fa fa-info-circle"></i>STATUS</label>
                                <select required v-model="selected_record.status" name="" id="" class="status">
                                    <option value="1">Present</option>
                                    <option value="0">Absent</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label><i class="fa fa-info-circle"></i>REMARKS</label>
                                <input v-model="selected_record.remarks" type="text" class="remarks">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box">
                                <button class="btn btn-success save pull-right">UPDATE</button>
                                <a href="#" class="cancel pull-left" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SelectView from './showView.vue'
    export default {
        name: "attendance",
        props:['classes'],
        data(){
            return{
                class_id:'',loading:false,selected_record:{}
            }
        },
        components:{
            SelectView
        },
        methods:{
            handleSelectedClassChanged(value){
                this.class_id = value.id
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            showModal(id){
                let here = this;
                let temp = null;
                $.each(here.$store.state.attendances,(key,value)=>{
                    if(value.id == id){
                        temp = value;
                        return false;
                    }
                });
                this.selected_record = temp;
                $('#editDetailModal').modal('show');
            },
            updateRecored(){
                axios.post('/teacher/attendance-view/update',this.selected_record)
                    .then(resp=>{
                        this.showAlert('Updated Successfully','success')
                    })
                    .catch(error=>{
                        this.showAlert('Sorry an error occured','error')
                    })
                let here = this;
                let temp = null;
                $.each(here.$store.state.attendances,(key,value)=>{
                    if(value.id == here.selected_record.id){
                        let temp = key;
                        return false;
                    }
                });
                if(temp != null){
                    this.$store.state.attendances[temp] = this.selected_record;
                }
                $('#editDetailModal').modal('hide');
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }

</style>