/*written by Justice*/
/*styling the dropdown menu*/
.shortcut{
    font-weight: bold;
    position: relative;
}
.shortcut:hover .custom-shortcut-folder{
    opacity: 1;
    visibility: visible;
}
.multilevel-dropdown:hover .nested-custom-shortcut-folder{
    opacity: 1;
    visibility: visible;
}
/*toggle*/
.custom-shortcut-folder,.nested-custom-shortcut-folder{
    position: absolute;
    list-style: none;
    background: white;
    z-index: 30;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: left;
    top: 35px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    opacity:0;
    visibility: hidden;
    transition: .5s;
}
.custom-shortcut-folder > li,.nested-custom-shortcut-folder > li{
    position: relative;
    margin: 0;
    padding: 10px 0 5px 0;
    display: block;
    float: left;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
}
.custom-shortcut-folder > li > a,.nested-custom-shortcut-folder > li>a{
    margin: 0;
    padding: 10px 15px;
    font-size: 0.8125em;
    text-transform: capitalize;
    display: inline-block;
    float: left;
    width: 100%;
    color: #323232 !important;
}
.custom-shortcut-folder > li > a:hover,.nested-custom-shortcut-folder > li>a:hover{
    color: #2046f2 !important;
}
.custom-shortcut-folder > li > a >span{
    float: right;
}
/*nested shortcut*/
.nested-custom-shortcut-folder{
    right: 200px;
    top: 0px;
}