@media print{
    title{
        content:'';
        display: none;
    }
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    .sidebar-nav-wrapper,
    .dash-footer,
    .hide-for-printing,
    .dashboard-top-nav{
        display: none !important;
    }
    title{
        display: none !important;
    }
    .subject-name{
        font-size: 14pt;
        text-align: center;
        margin-bottom: 15px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #060607;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #060607;
    }

    .table tbody + tbody {
        border-top: 2px solid #060607;
    }

    .table .table {
        background-color: #fff;
    }
    .table-bordered {
        border: 1px solid #060607;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #060607;
    }

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }
    th{
        text-align:center;
        font-weight:bold;
        font-size:12pt;
    }
    td{
        text-align:center;
        font-size:9pt;
    }
    @page{
        margin: .5cm;
    }
    .teacher-name{
        text-align: center !important;
        font-size: 12px;
    }
}
