<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <approve-fee></approve-fee>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SLOTS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.approvals" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'class.name'" :label="'Class'" :key="'Class'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'approved'" :label="'Approved'" :key="'Approved'" :class="'text-center'">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.approved"
                                            type="success"
                                            disable-transitions>APPROVED</el-tag>
                                    <el-tag v-else
                                            type="danger"
                                            disable-transitions>NOT APPROVED</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column :prop="'term.name'" :label="'Term'" :key="'Term'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'academic_year.name'" :label="'Academic Year'" :key="'Academic Year'" :class="'text-center'">
                            </el-table-column>

                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteApproval(scope.$index, scope.row.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form action="" @submit.prevent="update">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT SECTION DETAILS</h4>
                        </div>
                        <div class="modal-body dash-form">
                            <div class="col-sm-3">
                                <label for="" class="clear-top-margin">APROVE</label>
                                <el-radio v-model="state" :label="1">YES</el-radio>
                                <el-radio v-model="state" :label="0">NO</el-radio>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer dash-search-form">
                            <div class="table-action-box">
                                <div class="col-sm-3 pull-left">
                                    <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                </div>
                                <div class="col-sm-3 pull-right ">
                                    <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                        UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import ApproveFee from './approve.vue';
    export default {
        name: "index",
        props:['approvals'],
        components:{
            ApproveFee
        },
        data(){
            return{
                status:{},state:'',index:'',loading:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            deleteApproval(index,id){
                if(confirm('Are You sure You want to perform this action?')){
                    axios.delete('/admin/configuration/fee-approvals/'+id)
                        .then(resp=>{
                            this.$store.state.approvals.splice(index,1);
                            this.showAlert('deleted successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error');
                        })
                }
            },
            showModal(index,row){
                this.index = index;
                this.status = row;
                this.state = this.status.approved;
                $('#editDetailModal').modal('show');
            },
            update(){
                this.loading = true;
                axios.put('/admin/configuration/fee-approvals/'+this.status.id,{approved:this.state})
                    .then(resp=>{
                        this.$store.state.approvals.splice(this.index,1);
                        this.$store.state.approvals.unshift(resp.data);
                        $('#editDetailModal').modal('hide');
                        this.showAlert('updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error');
                        this.loading = false;
                    })
            }
        },
        mounted(){
            this.$store.state.approvals = JSON.parse(this.approvals);
        }
    }
</script>

<style scoped>

</style>