<template>
    <div class="col-sm-4">
        <form action="">
            <div class="dash-item first-dash-item">
                <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD TERM</h6>
                <div class="inner-item">
                    <div class="dash-form">
                        <form action="" @submit.prevent="attemptSave">
                            <label class="clear-top-margin">NUMBER</label>
                            <input v-model="number" type="number" required placeholder="2" />
                            <label>DISPLAY NAME</label>
                            <input v-model="name" type="text" required placeholder="TERM ONE" />
                            <label>ACADEMIC YEAR</label>
                            <select name="" id="" v-model="year" required>
                                <option>-- Select --</option>
                                <option v-for="item in $store.state.years" :value="item.id">{{item.name}}</option>
                            </select>
                            <label>START DATE</label>
                            <!--<input v-model="start_date" required type="date" placeholder="" />-->
                            <datetime v-model="start_date" title="Start Date"></datetime>
                            <label>END DATE</label>
                            <datetime v-model="end_date" title="End Date"></datetime>
                            <label>STATUS</label>
                            <select name="" v-model="status" required>
                                <option>-- Select --</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                            <el-checkbox v-model="promotable">Promotable</el-checkbox>
                            <hr>
                            <div>
                                <button  type="submit" class="pull-right btn btn-success  ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">
                                    CREATE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</template>

<script>
    import { Datetime } from 'vue-datetime';
    export default {
        name: "addTerm",
        components:{
          Datetime
        },
        data(){
            return {
                name:'',start_date:'',end_date:'',promotable:false,
                year:'',
                number:'',
                status:'',
                getYears:null,
                alert_success:false,
                alert_danger:false,
                loading:false
            }
        },

        methods:{
            attemptSave(){
                this.loading = true;
                axios.post('/admin/school-details/terms/save',{
                    name:this.name,year:this.year,number:this.number,status:this.status,start_date:this.start_date,
                    promotable:this.promotable,end_date:this.end_date
                }).then(resp=>{
                    this.$store.state.terms = resp.data;
                        this.showAlert('Added Successfully','success')
                        this.loading = false;
                }).catch(error=>{
                    if(error.response.status == 422){
                        let keys = Object.keys(error.response.data.errors);
                        let item = keys[0];
                        let finalError = error.response.data.errors[item];
                        this.showAlert(finalError,'error');
                    }else if(error.response.status == 501){
                        this.showAlert(error.response.data.message,'error');
                    }
                    else{
                        this.showAlert('Sorry an Error Occurred','error');
                    }
                    this.loading = false
                    this.loading = false;
                })
            },
            danger(){
                this.alert_danger = false;
            },
            success(){
                this.alert_success = false;
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },


        },
        computed:{
            validate(){
                return this.name && this.year && this.number > 0 && this.year !='-- Select --'
                    && this.status != '-- Select --';
            }
        },

    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }

</style>