<template>
    <div id="choose-guardian" class="row">
        <div class="col-lg-12 clear-padding-xs">
            <form action="" id="check-items" @submit.prevent="attemptUpdate">
                <div class="dash-item first-dash-item dash-search-form">
                    <h6 @click="check(index)" class="item-title" style="text-transform: uppercase">
                        CHOOSE EXISTING GUARDIAN <span @click="toggleHide" class="pull-right custom-close">&times;</span></h6>
                    <div class="inner-item">
                        <form action="" @submit.prevent="attemptSearch">
                            <div class="dash-form">
                                <div class="col-sm-5">
                                    <input  type="text" v-model="search_data" placeholder="name,email or phone"  required/>
                                </div>
                                <div class="col-sm-2">
                                    <button  class="pull-right submit-btn clear-top-margin  ld-ext-right"
                                             :class="{'running':loading}" :disabled="loading">Search
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 clear-padding-xs">
            <div class="dash-item">
                <div class="inner-item">
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Firstname</th>
                            <th class="text-center">Lastname</th>
                            <th class="text-center">Phone</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in search_results" class="text-center">
                            <td>{{item.fname}}</td>
                            <td>{{item.lname}}</td>
                            <td>{{item.contact}}</td>
                            <td><button @click="toggleAssign(item)" class="btn btn-default">
                                <span class="fa fa-user-plus"></span>
                                <span>ASSIGN</span>
                            </button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="choose-guardian-edit" class="modal fade" data-backdrop="static" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>GUARDIAN INFO</h4>
                    </div>
                    <form action="" @submit.prevent="attemptSave">
                        <div class="modal-body ">
                            <div class="dash-item first-dash-item">
                                <h6 class="item-title" style="text-transform: uppercase">
                                    WARD INFORMATION</h6>
                                <div class="dash-form">
                                    <div class="inner-item">
                                        <div class="dash-form">
                                            <div class="col-sm-4">
                                                <label class="clear-top-margin"><i class="star">*</i>Relationship with Student</label>
                                                <input  type="text"  v-model="ward_rel"  required/>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box">
                                <button  class="btn btn-default  ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">SAVE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                                <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

</template>

<script>
    export default {
        name: "choose_guardian",
        props:['countries','guardian'],
        data(){
          return{
              search_data:'',formData:{},loading:false,search_results:[],ward_rel:'',edit_id:''
          }
        },
        methods:{
            toggleHide(){
                this.$emit('togglehide');
            },
            attemptSearch(){
                this.loading = true;
                axios.post('/admin/add-fields/search-guardian',{item:this.search_data})
                    .then(resp=>{
                        this.search_results = resp.data
                    this.loading = false;
                    })
                    .catch(error=>{

                    })
            },
            attemptSave(){
                this.loading = true;
                axios.post('/admin/add-fields/update-guardian',{id:this.edit_id,ward_rel:this.ward_rel})
                    .then(resp=>{
                        this.$emit('updateAssignable', resp.data);
                        this.loading = false
                        $('#choose-guardian-edit').modal('hide');
                        new Noty({
                            theme:'mint',
                            text: 'Assigned Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                    })
                    .catch(error=>{
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an error Occured',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                        this.loading = false
                    })
            },
            toggleAssign(item){
                $('#choose-guardian-edit').modal('show');
                this.edit_id = item.id;
            }

        }
    }
</script>

<style scoped>
.custom-close{
    font-weight: bolder;
    font-size: 18px;
    cursor:pointer;
}
.custom-close:hover{
    color: #c5c5c5;
}
</style>