<template>
    <div class="row">
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <form action="" id="check-items" @submit.prevent="attemptUpdate">
                    <div class="dash-item first-dash-item">
                        <h6 @click="check(index)" class="item-title" style="text-transform: uppercase">
                            STUDENT INFORMATION</h6>
                        <div class="inner-item dash-search-form">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="star">*</i>LASTNAME</label>
                                    <input  type="text" v-model="all_data.lname"   required/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="star">*</i>FIRST NAME</label>
                                    <input  type="text"  v-model="all_data.fname"  required/>
                                </div>
                                <div class="col-sm-3 ">
                                    <label class="clear-top-margin"><i class="star">*</i>ADMISSION DATE</label>
                                    <el-date-picker
                                            v-model="all_data.admission_date"
                                            type="date"
                                            placeholder="Pick a day">
                                    </el-date-picker>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">MIDDLE NAME</label>
                                    <input  type="text"  v-model="all_data.mname"/>
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="star">*</i>CLASS</label>
                                    <select name="" id="" v-model="all_data.class_id">
                                        <option v-for="item in all_classes" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label ><i class="star">*</i>GENDER</label>
                                    <select name="" v-model="all_data.gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label ><i class="star">*</i>DATE OF BIRTH</label>
                                    <el-date-picker
                                            v-model="all_data.birth_date"
                                            type="date"
                                            placeholder="Pick a day">
                                    </el-date-picker>
                                </div>
                                <div class="col-sm-3">
                                    <label >REFERENCE NUMBER</label>
                                    <input  type="text"  v-model="all_data.ref_no"/>
                                </div>


                                <!--test settings-->
                                <div v-if="inSettings('religion','student')" class="col-sm-3">
                                    <label>RELIGION</label>
                                    <select name="" id="" v-model="all_data.religion">
                                        <option value="Christianity">Christianity</option>
                                        <option value="Islam">Islam</option>
                                    </select>
                                </div>

                                <div v-if="inSettings('blood_group','student')" class="col-sm-3">
                                    <label>BLOOD GROUP</label>
                                    <select name="" id="" v-model="all_data.blood_group">
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                                <div v-if="inSettings('genotype','student')" class="col-sm-3">
                                    <label >GENOTYPE</label>
                                    <select name="" id="" v-model="all_data.genotype">
                                        <option value="AA">AA</option>
                                        <option value="AS">AS</option>
                                        <option value="SS">SS</option>
                                        <option value="AC">AC</option>
                                    </select>
                                </div>
                                <div v-if="inSettings('photo','student')" class="col-sm-3">
                                    <label>PHOTO</label>
                                    <input type="file" ref="avatarsfile" @change="changeImage" accept="image/*"  />
                                </div>

                                <div v-if="inSettings('student_category','student')" class="col-sm-3">
                                    <label>CATEGORY</label>
                                    <input  type="text" v-model="all_data.category"  />
                                </div>
                                <div v-if="inSettings('email','student')" class="col-sm-3">
                                    <label>EMAIL</label>
                                    <input  type="text" v-model="all_data.email"/>
                                </div>
                                <div v-if="inSettings('contact','student')" class="col-sm-3">
                                    <label>MOBILE</label>
                                    <vue-tel-input v-model="all_data.phone" class="custom__input__intl" placeholder="Phone Number">
                                    </vue-tel-input>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <div class="dash-item">
                        <h6 class="item-title" style="text-transform: uppercase">
                            STUDENT ADDRESS</h6>
                        <div class="inner-item dash-search-form">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">COUNTRY</label>
                                    <select name="" id="" @change="countryChanged" v-model="all_data.country_id">
                                        <option v-for="item in all_countries" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">STATE</label>
                                    <select name="" v-model="all_data.state_id">
                                        <option v-for="item in country_states" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">CITY</label>
                                    <input  type="text" v-model="all_data.city"   required/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">ADDRESS</label>
                                    <input  type="text" v-model="all_data.address"   required/>
                                </div>
                                <div class="col-sm-3">
                                    <label>NATIONALITY</label>
                                    <select name="" v-model="all_data.nationality">
                                        <option v-for="item in all_nationalities" :value="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 top-margin pull-right">
                                <button  class="submit-btn ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">SAVE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div v-if="inSettings('guardian_info','student')" class="dash-item">
                        <h6 class="item-title" style="text-transform: uppercase">
                            GUARDIAN INFORMATION</h6>
                        <div class="inner-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="plus-sign"> + </span> ASSIGN GUARDIAN
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" data-toggle="modal" data-target="#editDetailModal">CREATE NEW GUARDIAN</a></li>
                                    <li><a @click.prevent="toggle" href="#">ASSIGN EXISTING GUARDIAN</a></li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div v-if="inSettings('guardian_info','student')">
            <div class="col-lg-12 clear-padding-xs">
                <div class="dash-item">
                    <div class="inner-item">
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">Lastname</th>
                                <th class="text-center">Firstname</th>
                                <th class="text-center">Phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="item in guardian_array">
                                <td>{{item.lname}}</td>
                                <td>{{item.fname}}</td>
                                <td>{{item.contact}}</td>
                                <td>
                                    <button @click="toggleAssign(item.id)" class="btn btn-default">
                                        <span class="fa fa-user-plus"></span>
                                        <span v-if="item.assignable">UNASSIGN</span>
                                        <span v-else>ASSIGN</span>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <add-student-existing-guardian-component @updateAssignable="updateAssignable" :countries="all_countries" :guardian="guardian_array"  v-show="show_guardian_search" @togglehide="toggle"></add-student-existing-guardian-component>
            <add-student-guardian-component  :countries="all_countries" @getStates="countryChangedChild" @guardianUpdate="UpdateGuadian" :states="country_states"></add-student-guardian-component>

        </div>
    </div>
</template>

<script>
    import VSelect from 'vue-select';
    export default {
        name: "student_fields",
        components:{
            VSelect
        },
        props:['countries','nationalities','classes','settings','personal_data','states'],
        data(){
            return{
                loading:false,all_countries:[],all_nationalities:[],guardian_array:[],all_classes:[]
                ,all_data:{},country_states:[],photo:'',show_guardian_search:false

            }
        },
        methods:{
            changeImage(e){
                this.photo = this.$refs.avatarsfile.files[0];
                const file = e.target.files[0];
                this.image_url = URL.createObjectURL(file);
            },
            inArray(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i].profile_fields_id || haystack[i].id == needle || haystack[i] == needle)
                        return true;
                }
                return false;
            },
            inSettings(needle,type) {
                var length = this.$store.state.settings.length;
                for(var i = 0; i < length; i++) {
                    if(this.$store.state.settings[i].name == needle && this.$store.state.settings[i].type == type)
                        return true;
                }
                return false;
            },
            toggle(){
                if(this.show_guardian_search){
                    this.show_guardian_search = false;
                }else{
                    this.show_guardian_search = true;
                }
            },
            attemptUpdate(){
                this.loading  = true;
                if(this.guardian_array.length > 0)
                    this.all_data.guardians = JSON.stringify(this.guardian_array);
                axios.put('/admin/students/'+this.all_data.id,this.all_data)
                    .then(resp=>{
                        this.loading = false;
                        this.showAlert('Updated Successfully','success');
                        this.guardian_array = [];
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(error.response.data.message,'error');
                        }else if(error.response.status === 425){
                            if(error.response.data.error){
                                this.showAlert(`please a student with ref no <br /> "<strong>${this.all_data.ref_no}</strong>" already exists`,'error')
                            }
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            countryChanged(){
                axios.get('/admin/admin-endpoints/states/'+this.country.id)
                    .then(resp=>{
                        console.log(resp.data)
                        this.country_states = resp.data
                    })
            },
            countryChangedChild(a){
                axios.get('/admin/admin-endpoints/states/'+a.id)
                    .then(resp=>{
                        console.log(resp.data)
                        this.country_states = resp.data
                    })
            },
            UpdateGuadian(payload){
                this.guardian_array = payload.data
            },
            toggleAssign(id){
                $.each(this.guardian_array, function( index, value ) {
                    if(value.id == id){
                        if(value.assignable){
                            value.assignable = 0;
                        }else{
                            value.assignable = 1;
                        }
                    }
                });
            },
            updateAssignable(item){
                if(!this.inArray(item.id,this.guardian_array)){
                    this.guardian_array.push(item);
                }
            },
            countProperties (obj) {
                let count = 0;
                for (let property in obj) {
                    if (Object.prototype.hasOwnProperty.call(obj, property)) {
                        count++;
                    }
                }
                return count;
            },
            onInput(val){},
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            this.country_states = JSON.parse(this.states);
            this.all_data = JSON.parse(this.personal_data);
            this.all_data.birth_date = moment(this.all_data.birth_date).format('L');
            this.$store.state.settings = JSON.parse(this.settings);
            this.all_countries = JSON.parse(this.countries);
            this.all_classes = JSON.parse(this.classes);
            this.all_nationalities = JSON.parse(this.nationalities);
        }
    }
</script>

<style>
    .star{
        color: red;
    }
    .plus-sign{
        font-weight:900;
        font-size:19px;
    }
    .custom-hide{
        display: none;
    }
    .el-date-editor{
        width: 100% !important;
        display: block;
    }
</style>