<template>
    <div id="editDetailModal" class="modal fade" data-backdrop="static" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-edit"></i>GUARDIAN INFO</h4>
                </div>
                <form action="" @submit.prevent="attemptSave">
                    <div class="modal-body ">
                        <div class="dash-item first-dash-item">
                            <h6 class="item-title" style="text-transform: uppercase">
                                PERSONAL INFORMATION</h6>
                            <div class="dash-form">
                                <div class="inner-item">
                                    <div class="dash-form">

                                        <div class="col-sm-4">
                                            <label class="clear-top-margin"><i class="star">*</i>LASTNAME</label>
                                            <input  type="text"  v-model="lastname"  required/>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="clear-top-margin"><i class="star">*</i>FIRST NAME</label>
                                            <input  type="text"  v-model="firstname"  required/>
                                        </div>

                                        <div class="col-sm-4">
                                            <label class="clear-top-margin"><i class="star">*</i>MIDDLE NAME</label>
                                            <input  type="text"  v-model="middlename" />
                                        </div>
                                        <div v-if="inSettings('title','guardian')" class="col-sm-4">
                                            <label ><i class="star">*</i>TITLE</label>
                                            <input  type="text" autofocus  v-model="title"  required/>
                                        </div>
                                        <div class="col-sm-4">
                                            <label ><i class="star">*</i>GENDER</label>
                                            <select name="" v-model="gender" required>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label><i class="star">*</i>EMAIL</label>
                                            <input  type="text" v-model="email" />
                                        </div>

                                        <div class="col-sm-4">
                                            <label><i class="star">*</i>MOBILE</label>
                                            <vue-tel-input class="custom__input__intl" v-model="mobile"
                                                           @onInput="onInput">
                                            </vue-tel-input>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>ALT MOBILE</label>
                                            <vue-tel-input class="custom__input__intl"
                                                           @onInput="onInput">
                                            </vue-tel-input>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>OCCUPATION</label>
                                            <el-select filterable  v-model="occupation" placeholder="Select">
                                                <el-option
                                                        v-for="(item,index) in occupations.occupations"
                                                        :key="index"
                                                        :label="item"
                                                        :value="item">
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-item">
                            <h6 class="item-title" style="text-transform: uppercase">
                                WARD INFORMATION</h6>
                            <div class="dash-form">
                                <div class="inner-item">
                                    <div class="dash-form">
                                        <div class="col-sm-4">
                                            <label class="clear-top-margin"><i class="star">*</i>RELATIONSHIP WITH STUDENT</label>
                                            <input  type="text"  v-model="ward_rel"  required/>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="clear-top-margin" for="">Can Pick Up?</label>
                                            <div class="slideTwo">
                                                <input type="checkbox" v-model="pick" value="None" id="slideTwo" name="check" />
                                                <label for="slideTwo"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-item">
                            <h6 @click="check(index)" class="item-title" style="text-transform: uppercase">
                                ADDRESS INFORMATION</h6>
                            <div class="inner-item">
                                <div class="dash-form">
                                    <div class="col-sm-4">
                                        <label class="clear-top-margin"><i class="star">*</i>COUNTRY</label>
                                        <select name="" id="" v-model="country" @change="getStates">
                                            <option v-for="item in countries" :value="{name:item.name,id:item.id}">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="clear-top-margin"><i class="star">*</i>STATE</label>
                                        <select name="" id="" v-model="state">
                                            <option v-for="item in states" :value="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="clear-top-margin"><i class="star">*</i>CITY</label>
                                        <input  type="text"  v-model="city"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-4">
                                        <label><i class="star">*</i>ADDRESS</label>
                                        <input  type="text" v-model="address"/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="table-action-box dash-search-form">
                                <div class="col-sm-3 pull-right">
                                    <button  class="submit-btn clear-top-margin ld-ext-right"
                                             :class="{'running':loading}" :disabled="loading">SAVE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                            <div class="col-sm-3 pull-left">
                                <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "guardian",
        props:['countries','states','occupations'],
        data(){
            return {
                title:'',country:'',state:'',city:'',firstname:'',middlename:'',lastname:'',gender:'',email:'',mobile:'',
                address:'',formData:{},loading:false,guardian_array:[],ward_rel:'',occupation:'',pick:false
            }
        },
        mounted(){

        },
        methods:{
            getStates(){
                this.$emit('getStates',{
                    id:this.country.id
                })
            },
            attemptSave(){
                this.loading = true
                this.formData = new FormData();
                this.formData.append('title',this.title);
                this.formData.append('country_id',this.country.id);
                this.formData.append('fname',this.firstname);
                this.formData.append('lname',this.lastname);
                this.formData.append('mnane',this.middlename);
                this.formData.append('state_id',this.state);
                this.formData.append('gender',this.gender);
                this.formData.append('contact',this.mobile);
                this.formData.append('address',this.address);
                this.formData.append('pick',this.pick);
                this.formData.append('occupation',this.occupation);
                this.formData.append('city',this.city);
                this.formData.append('email',this.email);
                this.formData.append('ward_rel',this.ward_rel);
                axios.post('/admin/add-fields/guardian',this.formData)
                    .then(resp=>{
                        $('#editDetailModal').modal('hide');
                        new Noty({
                            theme:'mint',
                            text: 'Saved Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                        this.$emit('guardianUpdate',{
                            data:resp.data
                        });
                        this.loading=false;
                    })
                    .catch(error=>{
                        if(error.response.status == 500){
                            new Noty({
                                theme:'mint',
                                text: 'Sorry an error Occured',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                        }else{
                            let errors = error.response.data.errors;
                            let keys = Object.keys(errors);
                            this.key = keys;
                            let finalError = errors[this.key[0]];
                            this.showMessage = true;
                            new Noty({
                                theme:'mint',
                                text: finalError,
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                        }

                        this.loading = false;

                    })
            },
            inSettings(needle,type) {
                var length = this.$store.state.settings.length;
                for(var i = 0; i < length; i++) {
                    if(this.$store.state.settings[i].name == needle && this.$store.state.settings[i].type == type)
                        return true;
                }
                return false;
            },
        },
    }
</script>

<style>
.el-select{
    display: block;
}
.slideTwo {
    width: 80px;
    height: 30px;
    background: #333;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: -16px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slideTwo label:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 6px;
    background: #333;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}
.slideTwo input[type="checkbox"] {
    visibility: hidden;
}
.slideTwo input[type="checkbox"]:checked + label {
    left: 54px;
}
.slideTwo input[type="checkbox"]:checked + label:after {
    background: #27ae60;
    /*activeColor*/
}


</style>