<template>
    <div class="row">
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <form action="" id="check-items" @submit.prevent="attemptUpdate">
                    <div class="dash-item first-dash-item">
                        <h6 @click="check(index)" class="item-title" style="text-transform: uppercase">
                            STUDENT INFORMATION</h6>
                        <div class="inner-item dash-search-form">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="star">*</i>LASTNAME</label>
                                    <input  type="text" v-model="lastname"   required/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin"><i class="star">*</i>FIRST NAME</label>
                                    <input  type="text"  v-model="firstname"  required/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">MIDDLE NAME</label>
                                    <input  type="text"  v-model="middlename"/>
                                </div>
                                <div class="col-sm-3 ">
                                    <label class="clear-top-margin"><i class="star">*</i>ADMISSION DATE</label>
                                    <datetime v-model="admission_date"></datetime>
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="star">*</i>CLASS</label>
                                    <select name="" id="" v-model="class_name">
                                        <option v-for="item in all_classes" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label ><i class="star">*</i>GENDER</label>
                                    <select name="" v-model="gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label >REFERENCE NUMBER</label>
                                    <input  type="text"  v-model="ref_no"/>
                                </div>
                                <div class="col-sm-3">
                                    <label ><i class="star">*</i>DATE OF BIRTH</label>
                                    <!--<input  type="date" v-model="dob"   required/>-->
                                    <datetime v-model="dob"></datetime>
                                </div>

                                <!--test settings-->
                                <div v-if="inSettings('religion','student')" class="col-sm-3">
                                    <label>RELIGION</label>
                                    <select name="" id="" v-model="religion">
                                        <option value="Christianity">Christianity</option>
                                        <option value="Islam">Islam</option>
                                    </select>
                                </div>

                                <div v-if="inSettings('blood_group','student')" class="col-sm-3">
                                    <label>BLOOD GROUP</label>
                                    <select name="" id="" v-model="blood_group">
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                                <div v-if="inSettings('genotype','student')" class="col-sm-3">
                                    <label >GENOTYPE</label>
                                    <select name="" id="" v-model="genotype">
                                        <option value="AA">AA</option>
                                        <option value="AS">AS</option>
                                        <option value="SS">SS</option>
                                        <option value="AC">AC</option>
                                    </select>
                                </div>
                                <div v-if="inSettings('photo','student')" class="col-sm-3">
                                    <label>PHOTO</label>
                                    <input type="file" ref="avatarsfile" @change="changeImage" accept="image/*"  />
                                </div>

                                <div v-if="inSettings('student_category','student')" class="col-sm-3">
                                    <label>CATEGORY</label>
                                    <input  type="text" v-model="category"  />
                                </div>
                                <div v-if="inSettings('email','student')" class="col-sm-3">
                                    <label>EMAIL</label>
                                    <input  type="text" v-model="email"/>
                                </div>
                                <div v-if="inSettings('contact','student')" class="col-sm-3">
                                    <label>MOBILE</label>
                                    <vue-tel-input v-model="mobile" class="custom__input__intl" placeholder="Phone Number">
                                    </vue-tel-input>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <div class="dash-item">
                        <h6 class="item-title" style="text-transform: uppercase">
                            STUDENT ADDRESS</h6>
                        <div class="inner-item dash-search-form">
                            <div class="dash-form">
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">COUNTRY</label>
                                    <select name="" id="" @change="countryChanged" v-model="country">
                                        <option v-for="item in all_countries" :value="{name:item.name,id:item.id}">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">STATE</label>
                                    <select name="" v-model="state">
                                        <option v-for="item in country_states" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">CITY</label>
                                    <input  type="text" v-model="city"   required/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="clear-top-margin">ADDRESS</label>
                                    <input  type="text" v-model="address"   required/>
                                </div>
                                <div class="col-sm-3">
                                    <label>NATIONALITY</label>
                                    <select name="" v-model="nationality">
                                        <option v-for="item in all_nationalities" :value="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 top-margin pull-right">
                                <button  class="submit-btn ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">SAVE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div v-if="inSettings('guardian_info','student')" class="dash-item">
                        <h6 class="item-title" style="text-transform: uppercase">
                            GUARDIAN INFORMATION</h6>
                        <div class="inner-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="plus-sign"> + </span> ASSIGN GUARDIAN
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" data-toggle="modal" data-target="#editDetailModal">CREATE NEW GUARDIAN</a></li>
                                    <li><a @click.prevent="toggle" href="#">ASSIGN EXISTING GUARDIAN</a></li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div v-if="inSettings('guardian_info','student')">
            <div class="col-lg-12 clear-padding-xs">
                <div class="dash-item">
                    <div class="inner-item">
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">Lastname</th>
                                <th class="text-center">Firstname</th>
                                <th class="text-center">Phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="item in guardian_array">
                                <td>{{item.lname}}</td>
                                <td>{{item.fname}}</td>
                                <td>{{item.contact}}</td>
                                <td>
                                    <button @click="toggleAssign(item.id)" class="btn btn-default">
                                        <span class="fa fa-user-plus"></span>
                                        <span v-if="item.assignable">UNASSIGN</span>
                                        <span v-else>ASSIGN</span>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <add-student-existing-guardian-component :occupations="JSON.parse(occupation)" @updateAssignable="updateAssignable" :countries="all_countries" :guardian="guardian_array"  v-show="show_guardian_search" @togglehide="toggle"></add-student-existing-guardian-component>
            <add-student-guardian-component :occupations="JSON.parse(occupation)"  :countries="all_countries" @getStates="countryChangedChild" @guardianUpdate="UpdateGuadian" :states="country_states"></add-student-guardian-component>

        </div>
        </div>
</template>

<script>
    import VSelect from 'vue-select';
    export default {
        name: "student_fields",
        components:{
            VSelect
        },
        props:['countries','nationalities','classes','all_guardians','settings','occupation'],
        data(){
            return{
                loading:false,
                all_items:'',
                all_nationalities:'',
                all_countries:'',state:'',
                show_guardian_search :false,nationality:'Ghanaian',country:'',country_states:[],firstname:'',address:'',
                lastname:'',middlename:'',formData:{},ref_no:'',admission_date:'',admission_no:'',dob:'',gender:'',
                religion:'',photo:'',blood_group:'',genotype:'',category:'',email:'',mobile:'',city:'',class_name:'',
                all_classes:[],guardian_array:[],image_url:'',counter:0,all_settings:[]
            }
        },
        methods:{

            check(a){
                alert(a)
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            onInput(){},
            changeImage(e){
                this.photo = this.$refs.avatarsfile.files[0];
                const file = e.target.files[0];
                this.image_url = URL.createObjectURL(file);
            },
            attemptUpdate(){
                this.loading = true;
                this.formData  = new FormData();
                this.formData.append('fname',this.firstname);
                this.formData.append('student_category_id',1);
                this.formData.append('email',this.email);
                this.formData.append('religion',this.religion);
                this.formData.append('fname',this.firstname);
                this.formData.append('nationality',this.nationality);
                this.formData.append('lname',this.lastname);
                this.formData.append('mname',this.middlename);
                this.formData.append('city',this.city);
                this.formData.append('blood_group',this.blood_group);
                this.formData.append('genotype',this.genotype);
                this.formData.append('country_id',this.country.id);
                this.formData.append('address',this.address);
                this.formData.append('ref_no',this.ref_no);
                this.formData.append('admission_date',this.admission_date);
                this.formData.append('admission_no',this.admission_no);
                this.formData.append('birth_date',this.dob);
                this.formData.append('gender',this.gender);
                this.formData.append('state_id',this.state);
                this.formData.append('class_id',this.class_name);
                this.formData.append('avatar',this.photo)
                if(this.guardian_array != null)
                    this.formData.append('guardians',JSON.stringify(this.guardian_array))
                axios.post('/admin/add-fields/student',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then(resp=>{
                        /*new Noty({
                            theme:'mint',
                            text: 'Saved Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                        //
                        this.loading = false;*/
                        location.reload();
                    })
                    .catch(error=>{
                        if(error.response.status === 500){
                            new Noty({
                                theme:'mint',
                                text: 'Sorry an error Occured',
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                        }else if(error.response.status === 425){
                            if(error.response.data.error){
                                this.showAlert(`please a student with ref no <br /> "<strong>${this.ref_no}</strong>" already exists`,'error')
                            }
                        }
                        else{
                            let errors = error.response.data.errors;
                            let keys = Object.keys(errors);
                            this.key = keys;
                            let finalError = errors[this.key[0]];
                            this.showMessage = true;
                            new Noty({
                                theme:'mint',
                                text: finalError,
                                layout:'topRight',
                                progressBar:true,
                                timeout:3000,
                                type:'error'

                            }).show();
                        }

                        this.loading = false;

                    });
            },
            inArray(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i].profile_fields_id || haystack[i].id == needle || haystack[i] == needle)
                        return true;
                }
                return false;
            },
            inSettings(needle,type) {
                var length = this.all_settings.length;
                for(var i = 0; i < length; i++) {
                    if(this.all_settings[i].name == needle && this.all_settings[i].type == type)
                        return true;
                }
                return false;
            },
            toggle(){
                if(this.show_guardian_search){
                    this.show_guardian_search = false;
                }else{
                    this.show_guardian_search = true;
                }

            },
            countryChanged(){
                axios.get('/admin/admin-endpoints/states/'+this.country.id)
                    .then(resp=>{
                        console.log(resp.data)
                        this.country_states = resp.data
                    })
            },
            countryChangedChild(a){
                axios.get('/admin/admin-endpoints/states/'+a.id)
                    .then(resp=>{
                        console.log(resp.data)
                        this.country_states = resp.data
                    })
            },
            UpdateGuadian(payload){
                this.guardian_array = payload.data
            },
            toggleAssign(id){
                $.each(this.guardian_array, function( index, value ) {
                    if(value.id == id){
                        if(value.assignable){
                            value.assignable = 0;
                        }else{
                            value.assignable = 1;
                        }
                    }
                });
            },
            updateAssignable(item){
                if(!this.inArray(item.id,this.guardian_array)){
                    this.guardian_array.push(item);
                }
            },
            countProperties (obj) {
                let count = 0;
                for (let property in obj) {
                    if (Object.prototype.hasOwnProperty.call(obj, property)) {
                        count++;
                    }
                }
                return count;
            }
        },
        mounted(){
            this.all_settings = JSON.parse(this.settings);
            this.$store.state.settings = JSON.parse(this.settings);
            this.all_countries = JSON.parse(this.countries);
            this.all_nationalities = JSON.parse(this.nationalities);
            this.all_classes = JSON.parse(this.classes);
            this.guardian_array = JSON.parse(this.all_guardians);
        }
    }
</script>

<style>
.star{
    color: red;
}
    .plus-sign{
        font-weight:900;
        font-size:19px;
    }
    .custom-hide{
        display: none;
    }
</style>