<template>
   <div>
       <add-term></add-term>
       <div class="col-sm-8">
           <div class="dash-item first-dash-item">
               <h6 class="item-title"><i class="fa fa-sliders"></i>ALL TERMS</h6>
               <div class="inner-item">
                   <data-tables
                           :data="$store.state.terms"
                           stripe
                           :pagination-props="{ pageSizes: [5,10,15,30] }"
                           style="width: 100%">
                       <el-table-column
                               prop="display_name"
                               label="NAME"
                               width="130">
                       </el-table-column>
                       <el-table-column
                               prop="STATUS"
                               label="STATUS"
                               width="100">
                           <template slot-scope="scope">
                               <el-tag
                                       :type="scope.row.status === 'active' ? 'success' : 'danger'"
                                       disable-transitions>{{scope.row.status}}</el-tag>
                           </template>
                       </el-table-column>
                       <el-table-column
                               prop="start_date"
                               label="START DATE"
                               width="120">
                       </el-table-column>
                       <el-table-column
                               prop="end_date"
                               label="END DATE"
                               width="120">
                       </el-table-column>
                       <el-table-column
                               prop="year.name"
                               label="ACADEMIC YEAR"
                               width="150">
                       </el-table-column>
                       <el-table-column
                               prop="promotable"
                               label="PROMOTABLE"
                               width="130">
                           <template slot-scope="scope">
                               <el-tag
                                       :type="scope.row.promotable? 'success' : 'danger'"
                                       disable-transitions>{{scope.row.promotable ? 'Yes':'No'}}</el-tag>
                           </template>
                       </el-table-column>
                       <el-table-column
                               fixed="right"
                               prop="address"
                               width="100"
                               label="ACTIONS">
                           <template slot-scope="scope">
                               <button @click.prevent="showEditModal(scope.row.id,scope.$index)" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span></button>
                               <button @click.prevent="deleteTerm(scope.row.id,scope.$index)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                           </template>
                       </el-table-column>
                   </data-tables>
               </div>
           </div>
       </div>
       <div id="editDetailModal" class="modal fade" role="dialog">
           <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT TERM DETAILS</h4>
                   </div>
                   <form action="" @submit.prevent="updateTerm">
                       <div class="modal-body dash-form">
                           <div class="clearfix"></div>
                           <div class="col-sm-4">
                               <label>DISPLAY NAME</label>
                               <input required v-model="selected_record.display_name" type="text" class="display_name">
                           </div>
                           <div class="col-sm-4">
                               <label for="">START DATE</label>
                               <datepicker v-model="selected_record.start_date"></datepicker>
                           </div>
                           <div class="col-sm-4">
                               <label for="">END DATE</label>
                               <datepicker v-model="selected_record.end_date"></datepicker>
                           </div>
                           <div class="clearfix"></div>
                           <div class="col-sm-4">
                               <label>STATUS</label>
                               <select required v-model="selected_record.status" name="" id="" class="status">
                                   <option value="active">Active</option>
                                   <option value="inactive">Inactive</option>
                               </select>
                           </div>
                           <div class="col-sm-4">
                               <label style="visibility: hidden" class="hidden-xs">STATUS</label>
                               <el-checkbox v-model="selected_record.promotable">Promotable</el-checkbox>
                           </div>
                           <div class="clearfix"></div>
                       </div>
                       <div class="modal-footer">
                           <div class="table-action-box">
                               <button  type="submit" class="pull-right btn btn-success  ld-ext-right"
                                        :class="{'running':loading}" :disabled="loading">
                                   UPDATE
                                   <div class="ld ld-ring ld-spin"></div>
                               </button>
                               <a href="#" class="cancel pull-left" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import AddTerm from './addTerm';
    export default {
        name: "term",
        data(){
            return {
                selected_record:{},loading:false,activeIndex:''
            }
        },
        components:{
            AddTerm,
            Datepicker
        },
        methods:{
            showEditModal(id,index){
                this.activeIndex = index;
                let here = this;
                let temp = null;
                $.each(here.$store.state.terms,(key,value)=>{
                    if(value.id == id){
                        temp = value
                    }
                });
                if(temp != null){
                    this.selected_record = temp
                }
                $('#editDetailModal').modal('show');
            },
            updateTerm(){
                this.loading = true;
                axios.post('/admin/school-details/terms-year/update',this.selected_record)
                    .then(resp=>{
                        if(resp.data.status == 'date'){
                            this.showAlert('The selected dates are invalid','error')
                        }
                        else{
                            this.$store.state.terms = resp.data;
                            $('#editDetailModal').modal('hide');
                            this.showAlert('Updated Successfully','success')
                        }
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert('Duplicate Entry','error');
                        this.loading = false;
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            deleteTerm(id,index){
                if(confirm('Are You sure')){
                    axios.delete('/admin/school-details/terms-year/delete/'+id)
                        .then(resp=>{
                            this.$store.state.terms.splice(index,1);
                            this.showAlert('Deleted Successfully','success');
                        }).catch(error=>{
                        this.showAlert('Sorry an error occurred','error');
                    });
                }
            }
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.$store.state.years = resp.data;
            });
            axios.get('/date/academic/terms').then(resp=>{
                this.$store.state.terms = resp.data;
            })

            //

        },
    }
</script>

<style scoped>
</style>
