<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-sm-12">
                <div class="first-dash-item dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL EMPLOYEES</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.employees" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column v-for="item in titles" :prop="item.prop" :label="item.name" :key="'item.name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="gender" :label="'Gender'" :key="'Gender'" :class="'text-center'">
                                <template slot-scope="scope">
                                    <el-tag
                                            :type="scope.row.tag === 'male' ? 'primary' : 'success'"
                                            disable-transitions>{{scope.row.gender}}</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <a :href="'/admin/manage-employees/employees/'+scope.row.slug+'/edit'" style="cursor:pointer">
                                        EDIT
                                    </a>
                                    <a :href="'/admin/manage-employees/employees/'+scope.row.slug" style="margin-left: 8px;cursor:pointer">
                                        VIEW
                                    </a>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "all",
        data(){
            return{
                titles:[
                    {
                        name:'Name',
                        prop:'name',
                    },
                    {
                        name:'Email',
                        prop:'email',
                    },
                    {
                        name:'Contact',
                        prop:'contact',
                    },
                    {
                        name:'Date of Birth',
                        prop:'dob',
                    }
                ]
            }
        },
        props:['employees'],
        mounted(){
            this.$store.state.employees = JSON.parse(this.employees);
        }
    }
</script>

<style scoped>

</style>