<template>
    <form action="" enctype="multipart/form-data" @submit.prevent="attemptSave">
        <div class="dash-item first-dash-item">
            <h6 class="item-title">EMPLOYEE INFO</h6>
            <div class="inner-item">
                <div class="dash-form">
                    <div class="col-sm-3">
                        <label class="clear-top-margin">FIRST NAME<span class="required-item">*</span></label>
                        <input type="text" required v-model="details.fname"/>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin">MIDDLE NAME</label>
                        <input type="text" v-model="details.mname"/>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin">LAST NAME<span class="required-item">*</span></label>
                        <input type="text" v-model="details.lname" required/>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin">GENDER<span class="required-item">*</span></label>
                        <select v-model="details.gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-3">
                        <label>DATE OF BIRTH<span class="required-item">*</span></label>
                        <date-picker v-model="details.dob" placeholder="Pick a date" required>
                        </date-picker>
                    </div>

                    <div class="col-sm-3">
                        <label>EMAIL<span class="required-item">*</span></label>
                        <input type="email" v-model="details.email" required/>
                    </div>
                    <div class="col-sm-3">
                        <label>COUNTRY<span class="required-item">*</span></label>
                        <el-select v-model="details.country_id" :minlength="1" filterable placeholder="Select">
                            <el-option
                                    v-for="item in $store.state.countries"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-sm-3">
                        <label>STATE<span class="required-item">*</span></label>
                        <el-select v-model="details.state_id" filterable placeholder="Select">
                            <el-option
                                    v-for="item in $store.state.states"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-3">
                        <label>UPLOAD PHOTO</label>
                        <input type="file" ref="file" @change="handleFileUpload()"/>
                    </div>
                    <div class="col-sm-3">
                        <label>PHONE <span class="required-item">*</span></label>
                        <vue-tel-input v-model="details.contact" placeholder="Phone Number"
                                       @onInput="onInput" required
                                       id="phone" :preferredCountries="['gh']">
                        </vue-tel-input>
                    </div>
                    <div class="col-sm-3">
                        <label>ALT PHONE</label>
                        <vue-tel-input v-model="details.alt_phone"
                                       @onInput="onInput"
                                       id="phone" :preferredCountries="['gh']"
                                       placeholder="Phone Number" >
                        </vue-tel-input>
                    </div>
                    <div class="col-sm-3">
                        <label>RELIGION</label>
                        <select v-model="details.religion">
                            <option>Buddhism</option>
                            <option>Islamic</option>
                            <option>Christian</option>
                            <option>Hinduism</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="dash-item">
            <h6 class="item-title">ACADEMIC INFO</h6>
            <div class="inner-item">
                <div class="dash-form dash-search-form">
                    <div class="col-sm-3">
                        <label class="clear-top-margin">HIGHEST DEGREE</label>
                        <input type="text" required v-model="details.academic_info.degree"/>
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin">UNIVERSITY/COLLEGE</label>
                        <input type="text" v-model="details.academic_info.university">
                    </div>
                    <div class="col-sm-3">
                        <label class="clear-top-margin">YEAR PASSED</label>
                        <input type="number" required v-model="details.academic_info.year"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-3 pull-right">
                        <button class="submit-btn  ld-ext-right"
                                :class="{'running':loading}" :disabled="loading">
                            <i class="fa fa-paper-plane"></i>
                            SAVE
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</template>
<script>
    import VSelect from 'vue-select';
    import DatePicker from 'vuejs-datepicker';
    export default {
        name: "edit",
        components:{
            VSelect,DatePicker
        },
        props:['countries','roles','user'],
        data(){
            return {
                uni_years:null,
                details:{},loading:false

            }
        },
        methods:{

            handleFileUpload(){
                this.details.avatar = this.$refs.file.files[0];
                this.avatar = this.$refs.file.files[0];
            },
            attemptSave(){
                this.loading = true;
                axios.put(`/admin/manage-employees/employees/${this.details.id}`,this.details).then((resp)=>{
                    this.showAlert('updated successfully','success');
                    this.loading = false;
                }).catch((error)=>{
                    if(error.response.status === 422){
                        let keys = Object.keys(error.response.data.errors)
                        let item = keys[0];
                        let finalError = error.response.data.errors[item];
                        this.showAlert(`${finalError}`,'error')
                    }else{
                        this.showAlert('sorry an error occurred','error')
                    }
                    this.loading = false;
                })
            },
            onInput({ number, isValid, country }) {
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type
                }).show();
            }
        },
        computed:{
            year:function () {
                return this.details.country_id;
            }
        },
        watch:{
            year:function (value) {
                axios.get('/admin/admin-endpoints/states/'+value)
                    .then(resp=>{
                        this.$store.state.states = resp.data
                    })
            }
        },
        mounted(){
            this.$store.state.countries = JSON.parse(this.countries);
            this.$store.state.roles = JSON.parse(this.roles);
            this.details = JSON.parse(this.user);
            if(this.details.academic_info == null){
                this.details.academic_info = {degree:'',university:'',year:''};
            }
        }

    }
</script>

<style scoped>
    .required-item{
        font-size:13px;
        color:red;
        margin-left:3px;
    }
    .el-input{
        width:100% !important;
    }
    .el-input input{
        width:100%;
    }
    .el-select{
        display: block;
    }
</style>

