<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-sm-12">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-plus-circle"></i>OVERVIEW</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <div class="col-sm-12 col-md-2">
                                <div class="avatar-wrapper">
                                    <img style="max-width: unset" class="profile-pic" src="/image_home/user.png" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <table class="table-condensed table table-responsive table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="text-transform:uppercase;font-size:16px" colspan="2">
                                            {{$store.state.employees.name}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="label-name">Contact</td>
                                        <td class="label-data">{{$store.state.employees.contact}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name">Email</td>
                                        <td class="label-data">{{$store.state.employees.email}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12">
                                <el-tabs v-model="activeName" @tab-click="handleDetailView">
                                    <el-tab-pane label="Details" name="detail"></el-tab-pane>
                                    <el-tab-pane label="Guardians" name="guardians">
                                        <span slot="label">
                                             ROLES
                                                 <el-badge class="mark" :value="rolesCount" type="primary"/>
                                        </span>
                                    </el-tab-pane>
                                    <el-tab-pane label="Edit" name="Edit">
                                        <span slot="label">
                                            <a style="color:black" :href="'/admin/manage-employees/employees/'+this.$store.state.employees.slug +'/edit'">Edit</a>
                                        </span>
                                    </el-tab-pane>
                                    <el-tab-pane label="ChangePassword" name="ChangePassword"></el-tab-pane>
                                    <el-tab-pane label="Remove" name="remove"></el-tab-pane>
                                </el-tabs>
                            </div>
                        </el-card>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div v-if="activeName === 'detail'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>DETAIL</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <div class="col-sm-6">
                                <div class="profile-badge azure">
                                    <i class="fa fa-user azure"></i>
                                    <span>Profile</span>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-striped table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="label-name">LAST NAME</td>
                                            <td class="label-data">{{$store.state.employees.lname}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">FIRST NAME</td>
                                            <td class="label-data">{{$store.state.employees.fname}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">MIDDLE NAME</td>
                                            <td class="label-data">{{$store.state.employees.mname}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">DATE OF BIRTH</td>
                                            <td class="label-data">{{$store.state.employees.dob}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">GENDER</td>
                                            <td class="label-data">{{$store.state.employees.gender}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="profile-badge orange">
                                    <i class="fa fa-phone orange"></i>
                                    <span>Contact</span>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-striped table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="label-name">Mobile</td>
                                            <td class="label-data">{{$store.state.employees.contact}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">Phone</td>
                                            <td class="label-data">{{$store.state.employees.alt_phone}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">Email</td>
                                            <td class="label-data">{{$store.state.employees.email}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="profile-badge azure">
                                    <i class="fa fa-map-marker azure"></i>
                                    <span>Address</span>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-striped table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="label-name">country</td>
                                            <template v-if="$store.state.employees.country != null">
                                                <td class="label-data">{{$store.state.employees.country.name}}</td>
                                            </template>
                                        </tr>
                                        <tr>
                                            <td class="label-name">state</td>
                                            <template v-if="$store.state.employees.state != null">
                                                <td class="label-data">{{$store.state.employees.state.name}}</td>
                                            </template>
                                        </tr>
                                        <tr>
                                            <td class="label-name">city</td>
                                            <td class="label-data">{{$store.state.employees.city}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </el-card>
                    </div>
                </div>
                <div v-if="activeName === 'guardians'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ROLES</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in $store.state.roles">
                                    <td class="text-center">{{item.display_name}}</td>
                                    <td class="text-center">
                                        <button v-if="checkAssignment(item.id)" @click.prevent="unassignRole(index,item.id)" class="btn btn-sm btn-danger">
                                            <span class="fa fa-user-times"></span>
                                            <span>Unassign</span>
                                        </button>
                                        <button v-else @click.prevent="assignRole(index,item.id)" class="btn btn-sm btn-primary">
                                            <span class="fa fa-user-plus"></span>
                                            <span>Assign</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </el-card>
                    </div>
                </div>
                <div v-if="activeName === 'remove'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>REMOVE</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <div class="col-sm-6">
                                <el-alert
                                        :title="errorText"
                                        type="error"
                                        show-icon>
                                </el-alert>
                                <hr>
                                <el-button type="danger" round>DELETE</el-button>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </el-card>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>CHANGE PASSWORD</h4>
                    </div>
                    <form action="" @submit.prevent="updatePassword">
                        <div class="modal-body dash-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin">CURRENT PASSWORD</label>
                                <input type="password"  v-model="passwords.current" required/>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">NEW PASSWORD</label>
                                <input type="password" v-model="passwords.password" required/>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">REPEAT PASSWORD</label>
                                <input type="password" v-model="passwords.password_confirmation" required/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box dash-search-form">
                                <div class="col-sm-3 pull-right clear-top-margin">
                                    <button type="submit" class="submit-btn clear-top-margin ld-ext-right"
                                            :class="{'running':loading}" :disabled="loading">
                                        UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                                <div class="col-sm-2 pull-left clear-top-margin">
                                    <a class="cancel" data-dismiss="modal">CLOSE</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props:['user','roles','assigned_roles'],
        data(){
            return{
                activeName : 'detail',
                errorText:'All records associated with employee will be deleted and cannot be recovered.',
                passwords:{},loading:false,assigned:[]
            }
        },
        methods:{
            handleDetailView(tab,event){
                if(tab.name === 'ChangePassword'){
                    $('#editDetailModal').modal('show')
                }

            },
            unassignRole(index,id){
                if(confirm('Are You sure about this action?')){
                    axios.get(`/admin/manage-employees/unassign-role/${this.$store.state.employees.id}/${id}`)
                        .then(resp=>{
                            //this.$store.state.roles.splice(index,1);
                            this.assigned = resp.data.data;
                            this.showAlert('Unassigned Successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            assignRole(index,id){
                if(confirm('Are You sure about this action?')){
                    axios.get(`/admin/manage-employees/assign-role/${this.$store.state.employees.id}/${id}`)
                        .then(resp=>{
                            //this.$store.state.roles.splice(index,1);
                            this.assigned = resp.data.data;
                            this.showAlert('Role assigned Successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            updatePassword(){
                this.loading = true;
                this.passwords.id = this.$store.state.employees.id;
                axios.post('/admin/manage-employees/update-password',this.passwords)
                    .then(resp=>{
                        $('#editDetailModal').modal('hide')
                        this.showAlert('Password Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 422){
                            let keys = Object.keys(error.response.data.errors)
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error')
                        }else{
                            this.showAlert('sorry an error occurred','error')
                        }
                        this.loading = false;
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            checkAssignment(id){
                let found = false;
                $.each(this.assigned,function (key,value) {
                    if(parseInt(value.id) === parseInt(id)){
                        found = true;
                        return false;
                    }
                });
                return found;
            }
        },
        computed:{
            rolesCount:function() {
                return this.assigned.length;
            }
        },
        mounted(){
            this.assigned = JSON.parse(this.assigned_roles);
            this.$store.state.employees = JSON.parse(this.user);
            this.$store.state.roles = JSON.parse(this.roles);
        },

    }
</script>

<style scoped>
    .label-name{
        font-weight: bold;
        text-transform: uppercase;
    }
    .label-data{
        text-transform: uppercase;
    }
    .mark{
        background:transparent;
        margin-bottom: -8px;
    }
    .orange {
        color: #fb6e52 !important;
    }
    .table-wrapper{
        padding-top: 10px;
    }
    .user-overview{
        display:flex;
        align-items: stretch;
        flex-direction: column;
    }
    .avatar-wrapper {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: none;
        margin: 0 10px 30px 0;
        transition: all .3s ease;
    }
    .avatar-wrapper:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .avatar-wrapper .profile-pic {
        height: 100% !important;
        width: 100% !important;
        display: block;
        transition: all .3s ease;
        object-fit: cover;
        border-radius: 50%;
    }

    .avatar-wrapper .profile-pic:after {
        font-family: Feather-Icons;
        content: "\e9f1";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 120px;
        position: absolute;
        font-size: 60px;
        background: #f0f0f0;
        color: #aaa;
        text-align: center;
    }
    .profile-badge i {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        background-image: linear-gradient(to bottom, #eee 0, #fbfbfb 100%);
        z-index: 100;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        box-shadow: 0 1px 6px rgba(0,0,0,0.175);
        color: #444444;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
    }
    .azure {
        color: #2dc3e8 !important;
    }
    .profile-badge span {
        font-size: 26px;
        margin-left: 20px;
        font-weight: 300;
    }
</style>