<template>
    <div class="col-sm-4">
        <form action="" @submit.prevent="attemptSave">
            <div class="dash-item first-dash-item">
                <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD ACADEMIC YEAR</h6>
                <div class="inner-item">
                    <div class="dash-form dash-search-form">
                        <label class="clear-top-margin"><i class="fa fa-book"></i>NAME</label>
                        <select name="" v-model="name" required>
                            <option>-- Select --</option>
                            <option v-for="item in years">{{item.current}}/{{item.one}}</option>
                        </select>
                        <label><i class="fa fa-code"></i>STATUS</label>
                        <select name="" v-model="status" required>
                            <option>-- Select --</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                        <div>
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                SAVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "academicYear",
        data(){
            return {
                name:'',
                status:'',
                loading:false,
                years:null
            }
        },
        mounted(){
            axios.get('/date/generation').then(resp=>{
                this.years = resp.data;
                this.$store.state.all_years = resp.data;
            })
        },
        methods:{
            attemptSave(){
                this.loading = true
                axios.post('/admin/school-details/academic-years/save',{
                    name:this.name,status:this.status
                }).then(resp=>{
                    if(resp.data.status == 'success'){
                        this.showAlert('Added Successfully','success');
                        this.$store.state.years = resp.data.item;
                        window.scrollTo(0,0);
                        this.name = '';this.amount = '';
                    }else{
                        this.showAlert('Duplicate Entry for academic year','error');
                    }
                    this.loading = false;
                }).catch(error=>{
                    this.showAlert('Sorry an error occurred','error');
                    this.loading = false;
                })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },


        },
        computed:{
            validate(){
                return this.name && this.status && this.status != '-- Select --' && this.name !='-- Select --';
            }
        },

    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }

</style>