<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-component></add-component>
            <div class="col-sm-8">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL ACADEMIC YEARS</h6>
                    <div class="inner-item">
                        <!--//table goes here-->
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.years" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'status'" :label="'Status'" :key="'Status'" :class="'text-center'">
                                <template slot-scope="scope">
                                    <el-tag
                                            :type="scope.row.status === 'active' ? 'success' : 'danger'"
                                            disable-transitions>{{scope.row.status}}</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteYear(scope.$index, scope.row.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>

                    </div>
                </div>
            </div>

            <!--//edit modal-->
            <div id="editDetailModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT YEAR DETAILS</h4>
                        </div>
                        <form action="" @submit.prevent="updateYear">
                            <div class="modal-body dash-form">
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-info-circle"></i>NAME</label>
                                    <select v-model="currentItem.name">
                                        <option v-for="item in $store.state.all_years">{{item.current}}/{{item.one}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label><i class="fa fa-info-circle"></i>STATUS</label>
                                    <select v-model="currentItem.status">
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer dash-search-form">
                                <div class="table-action-box">
                                    <div class="col-sm-3 pull-left">
                                        <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                    </div>
                                    <div class="col-sm-3 pull-right ">
                                        <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                            UPDATE
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddComponent from './academicYear.vue'
    export default {
        name: "index",
        props:['years'],
        components:{
            AddComponent
        },
        data(){
            return {
                loading:false,currentItem:{}
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            showModal(index,row){
                this.currentItem = row;
                $('#editDetailModal').modal('show');
            },
            deleteYear(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.delete('/admin/school-details/academic-years/delete/'+id)
                        .then(resp=>{
                            this.$store.state.years.splice(index,1);
                            this.showAlert('Deleted Successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            updateYear(){
                this.loading = true;
                axios.post('/admin/school-details/terms/update',this.currentItem)
                    .then(resp=>{
                        this.$store.state.years = resp.data;
                        $('#editDetailModal').modal('hide');
                        this.loading = false;
                        this.showAlert('Updated Successfully','success');

                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert('Duplicate Entry for Academic Year Name','error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            }
        },
        mounted(){
            this.$store.state.years = JSON.parse(this.years);
        }
    }
</script>

<style scoped>

</style>