<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD REMARK</h6>
            <div class="inner-item">
                <form action="" @submit.prevent="addRemark">
                    <div class="dash-form dash-search-form">
                        <div class="col-sm-3">
                            <label class="clear-top-margin">START</label>
                            <input required type="number" v-model="remark.start">
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">END</label>
                            <input required type="number" v-model="remark.end">
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">GRADE</label>
                            <input required type="text" v-model="remark.grade">
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">REMARK</label>
                            <input required type="text" v-model="remark.remark">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3 pull-right">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                SAVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "addRemark",
        data(){
            return {
                remark:{},loading:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            addRemark(){
                this.loading = true;
                axios.post('/examination/remarks',this.remark)
                    .then(resp=>{
                        this.$store.state.remarks.unshift(resp.data);
                        this.loading = false;
                        this.showAlert('Saved Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status == 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }else if(error.response.status == 501){
                            this.showAlert(error.response.data.message,'error');
                        }
                        else{
                            this.showAlert('Sorry an Error Occurred','error');
                        }
                        this.loading = false
                    })
            }
        }
    }
</script>

<style scoped>

</style>