<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-remark></add-remark>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL ITEMS</h6>
                    <div class="inner-item">
                        <table class="table table-striped table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th class="text-center">START</th>
                                <th class="text-center">END</th>
                                <th class="text-center">GRADE</th>
                                <th class="text-center">REMARK</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in $store.state.remarks">
                                <td class="text-center"><strong>{{item.start}}</strong></td>
                                <td class="text-center"><strong>{{item.end}}</strong></td>
                                <td class="text-center"><strong>{{item.grade}}</strong></td>
                                <td class="text-center"><strong>{{item.remark}}</strong></td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click.prevent="remove(item.id)" class="btn btn-danger btn-sm">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddRemark from './addRemark.vue'
    export default {
        name: "remark",
        props:['remarks'],
        methods:{
          remove(id){
              if(confirm('Are You sure about this action?')){
                  axios.delete('/examination/remarks/'+id)
                      .then(resp=>{
                          let temp = null;
                          let here = this;
                          $.each(here.$store.state.remarks,(key,value)=>{
                              if(value.id == id){
                                  temp = key;
                                  return false
                              }
                          })
                          if(temp != null){
                              this.$store.state.remarks.splice(temp,1);
                          }
                          this.showAlert('Deleted Successfully','success')
                      })
                      .catch(error=>{
                          this.showAlert('Sorry an error occurred','error');
                      })
              }
          },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        components:{
            AddRemark
        },
        mounted(){
            this.$store.state.remarks = JSON.parse(this.remarks);
        }
    }
</script>

<style scoped>

</style>