<template>
    <div class="col-sm-4">
        <div class="dash-item first-dash-item">
            <h6 class="item-title">ADD SUBJECT</h6>
            <form action="" @submit.prevent="attemptSave">
                <div class="inner-item">
                    <div class="dash-form dash-search-form">
                        <label class="clear-top-margin">NAME</label>
                        <input type="text" v-model="name" placeholder="Basic Mathematics" required autofocus/>
                        <label>SUBJECT CODE</label>
                        <input type="text" v-model="code" placeholder="MTH101" />
                        <div>
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                CREATE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import VSelect from 'vue-select';
    export default {
        components:{
            VSelect
        },
        name: "class_course",
        data(){
            return{
                name:'',
                code:'',
                loading:false
            }

        },
        methods:{
            attemptSave(){
                this.loading = true
                axios.post('/admin/courses',{
                    name:this.name,code:this.code,
                })
                    .then(resp=>{
                        if(resp.data.status == 'success'){
                            this.name=null;this.code=null;
                            window.scrollTo(0,0);
                            this.$store.state.courses.unshift(resp.data.data);
                            this.showAlert('Added Successfully','success');
                        }else{
                            this.showAlert('Duplicate Entry for name','error');
                        }
                        this.loading = false
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error');
                        this.loading = false
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },

        },
        computed:{
            validate(){
                return this.name
            }
        }
    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }
    .cColor{
        color: #2ab27b;
    }
</style>