<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-class-course></add-class-course>
            <div class="col-sm-8">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SUBJECTS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.courses" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'code'" :label="'Code'" :key="'Code'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteCourse(scope.$index, scope.row.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>

        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form action="" @submit.prevent="update">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT SUBJECT DETAILS</h4>
                        </div>
                        <div class="modal-body dash-form">
                            <div class="col-sm-6">
                                <label class="clear-top-margin"><i class="fa fa-book"></i>NAME</label>
                                <input type="text" v-model="currentItem.name" />
                            </div>
                            <div class="col-sm-6">
                                <label class="clear-top-margin"><i class="fa fa-code"></i>CODE</label>
                                <input type="text" v-model="currentItem.code" />
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer dash-search-form">
                            <div class="table-action-box">
                                <div class="col-sm-3 pull-left">
                                    <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                </div>
                                <div class="col-sm-3 pull-right ">
                                    <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                        UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import AddClassCourse from './class_course.vue';
    export default {
        name: "index",
        data(){
            return{
                loading :false,
                currentItem:{}
            }
        },
        props:['courses'],
        methods:{
            showModal(index,row){
                this.currentItem = row;
                $('#editDetailModal').modal('show')
            },
            update(){
                this.loading = true;
                axios.put('/admin/courses/'+this.currentItem.id,this.currentItem)
                    .then(resp=>{
                        this.$store.state.classes = resp.data;
                        $('#editDetailModal').modal('hide')
                        this.showAlert('Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert('Duplicate Entry for name','error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            deleteCourse(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.delete('/admin/courses/'+id)
                        .then(resp=>{
                            this.$store.state.courses.splice(index,1);
                            this.showAlert('Deleted Successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occcurred','error')
                        })
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        components:{
            AddClassCourse
        },
        mounted(){
            this.$store.state.courses = JSON.parse(this.courses);
        }
    }
</script>

<style scoped>

</style>