<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <form action="" @submit.prevent="attemptUpdate">
                <div class="col-sm-8">
                        <div class="dash-item first-dash-item">
                            <h6 class="item-title"><i class="fa fa-plus-circle"></i>INSTITUTION DETAILS</h6>
                            <div class="inner-item">
                                <div class="dash-form">
                                    <div class="col-sm-12">
                                        <label class="clear-top-margin">NAME <span class="star">*</span></label>
                                        <input name="" v-model="name" required/>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>PHONE</label>
                                        <vue-tel-input class="custom__input__intl" v-model="contact"
                                                       @onInput="onInput">
                                        </vue-tel-input>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>EMAIL</label>
                                        <input name="" v-model="email"  />
                                    </div>
                                    <div class="col-sm-12">
                                        <label>SCHOOL ABBREVIATION</label>
                                        <input name="" v-model="abbrv"  />
                                    </div>
                                    <div class="col-sm-12">
                                        <label>WEBSITE</label>
                                        <input name="" v-model="website"  />
                                    </div>
                                    <div class="col-sm-12">
                                        <label>SETTLEMENT NAME</label>
                                        <input name="" v-model="settlement_name" />
                                    </div>
                                    <div class="col-sm-12">
                                        <label>SLOGAN NAME</label>
                                        <input name="" v-model="slogan"  />
                                    </div>
                                    <div class="col-sm-12">
                                        <label>COUNTRY</label>
                                        <select name="" v-model="country">
                                            <option v-for="item in country_all" :value="item.name">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>CURRENCY</label>
                                        <select name="" v-model="currency">
                                            <option v-for="item in currency_all" :value="item.code">{{item.code}} | {{item.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-12">
                                        <label>LOGO</label>
                                        <input id="fileUpload" name="" type="file" ref="avatarsfile" @change="changeImage" accept="image/*"/>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>ADDRESS</label>
                                        <textarea name=""  v-model="address" ></textarea>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="dash-item">
                            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ACADEMIC DETAILS</h6>
                            <div class="inner-item">
                                <div class="dash-form">
                                    <div class="col-sm-6">
                                        <label>EXAMINATION (%)</label>
                                        <input name="" type="number" placeholder="eg. 70" v-model="examination" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>ASSESSMENT (%)</label>
                                        <input name="" type="number" placeholder="eg. 30" v-model="assessment" readonly/>
                                    </div>

                                    <div class="col-sm-12">
                                        <button class="pull-right btn btn-default custom-btn-style  ld-ext-right"
                                                :class="{'running':loading}" :disabled="loading">UPDATE
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="col-sm-4">
                       <div class="avatar-wrapper">
                           <img class="profile-pic" v-if="formattedSettings == null|| formattedSettings.logo == null" src="/image_home/user.png" alt="" />
                           <img class="profile-pic" v-else :src="image_url" alt="" />
                       </div>
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-bell"></i>SMS DETAILS</h6>
                        <div class="inner-item">
                            <div class="dash-form dash-search-form">
                                <div class="col-sm-12">
                                    <label>SMS DISPLAY NAME</label>
                                    <input name="" v-model="sms_display_name" type="text" required>
                                </div>
                                <div class="col-sm-12">
                                    <label>SMS REGISTRATION USERNAME</label>
                                    <input name="" v-model="sms_username" type="text" required>
                                </div>
                                <div class="col-sm-9">
                                    <label>SMS PASSWORD</label>
                                    <input id="toggle-pass" v-model="sms_password" name="" type="password" required/>
                                </div>
                                <div class="col-sm-3" style="margin-top: 21px">
                                    <button @click.prevent="togglePass" class="submit-btn" style="margin-bottom: 6px">
                                        <span class="fa fa-eye"  style="font-size:18px"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</template>

<script>
    export default {
        name: "institution",
        props:['countries','currencies','current_settings'],
        data(){
            return{
                email:'',
                contact:'',
                settlement_name:'',assessment:'',examination:'',
                slogan:'',
                currency:'',
                country:'',
                logo:'',
                loading:false,
                address:'',
                name:'',
                abbrv:'',
                country_all:'',
                currency_all:'',
                image_url:'',website:'',
                formData:{},
                sms_username:'',sms_password:'',sms_display_name:''
            }
        },
        methods:{
            changeImage(e){
                this.logo = this.$refs.avatarsfile.files[0];
                const file = e.target.files[0];
                this.image_url = URL.createObjectURL(file);
            },
            attemptUpdate(){
                this.loading = true;
                this.formData = new FormData();
                this.formData.append('contact_email',this.email);
                this.formData.append('contact_phone',this.contact);
                this.formData.append('sms_username',this.sms_username);
                this.formData.append('sms_password',this.sms_password);
                this.formData.append('sms_display_name',this.sms_display_name);
                this.formData.append('settlement_name',this.settlement_name);
                this.formData.append('slogan',this.slogan);
                this.formData.append('currency',this.currency);
                this.formData.append('country',this.country);
                this.formData.append('logo',this.logo);
                this.formData.append('address',this.address);
                this.formData.append('name',this.name);
                this.formData.append('abbr',this.abbrv);
                this.formData.append('assessment',this.assessment);
                this.formData.append('examination',this.examination);
                this.formData.append('website',this.website);
                axios.post('/admin/configuration/institution_settings',this.formData,{headers: {'Content-Type': 'multipart/form-data'}})
                    .then(resp=>{
                        this.loading = false;
                        new Noty({
                            theme:'mint',
                            text: 'Info Updated',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                    }).catch(error=>{
                    if(error.response.status == 500){
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an error Occured',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                    }else{
                        let errors = error.response.data.errors;
                        let keys = Object.keys(errors);
                        this.key = keys;
                        let finalError = errors[this.key[0]];
                        this.showMessage = true;
                        new Noty({
                            theme:'mint',
                            text: finalError,
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                    }

                    this.loading = false;
                })
            },
            showNotification(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            togglePass(){
                var x = document.getElementById("toggle-pass");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        },
        watch:{
            examination: function(value){
                switch(true){
                    case (value <= 0) :
                        this.showNotification('The examination field cannot be less than 1','error');
                        break;
                    case (value > 100):
                        this.showNotification('The examination field cannot be greater than 100','error');
                        break;
                        case (value > 0 && value <= 100):
                            this.assessment = 100 - value;
                        break;

                }
            }
        },
        mounted(){
            this.country_all = JSON.parse(this.countries);
            this.currency_all = JSON.parse(this.currencies);
            if(this.formattedSettings){
                this.name = this.formattedSettings.name;
                this.slogan =  this.formattedSettings.slogan;
                this.address = this.formattedSettings.address;
                this.abbrv = this.formattedSettings.abbr;
                this.examination = this.formattedSettings.examination;
                this.website = this.formattedSettings.website;
                this.assessment = this.formattedSettings.assessment;
                this.currency = this.formattedSettings.currency;
                this.country = this.formattedSettings.country;
                this.settlement_name = this.formattedSettings.settlement_name;
                this.email = this.formattedSettings.contact_email;
                this.contact = this.formattedSettings.contact_phone;
                this.sms_display_name = this.formattedSettings.sms_display_name;
                this.sms_password = this.formattedSettings.sms_password;
                this.sms_username = this.formattedSettings.sms_username;
                this.image_url = this.formattedSettings.logo;
            }
        },
        computed:{
            formattedSettings(){
                if(this.current_settings){
                    return JSON.parse(this.current_settings);
                }
                return null;
            }
        }
    }
</script>

<style scoped>
.custom-btn-style{
    margin-top: 10px;

}
    .star{
        color: red;
    }
    .image-placeholder{
        width: 80% !important;
        text-align: center;
    }
    .image-placeholder img{
        width: 60%;
        text-align: center;
        box-shadow: 1px 1px #566260;
    }
.avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: none;
    margin: 0 10px 30px 0;
    transition: all .3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
    object-fit: cover;
}

.avatar-wrapper .profile-pic:after {
    font-family: Feather-Icons;
    content: "\e9f1";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 120px;
    position: absolute;
    font-size: 60px;
    background: #f0f0f0;
    color: #aaa;
    text-align: center;
}
</style>