<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD ROLE</h6>
            <div class="inner-item">
                <form action="" @submit.prevent="addRole">
                    <div class="dash-form dash-search-form">
                        <div class="col-sm-4">
                            <label>NAME</label>
                            <input type="text" v-model="role.name" autofocus required>
                        </div>
                        <div class="col-sm-4">
                            <label>DISPLAY NAME</label>
                            <input type="text" v-model="role.display_name"  required>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3 pull-right">
                            <button class="submit-btn  ld-ext-right"
                                    :class="{'running':loading}" :disabled="loading">
                                <i class="fa fa-paper-plane"></i>
                                ADD
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                role:{},loading:false
            }
        },
        methods:{
            addRole(){
                this.loading = true;
                axios.post('/admin/manage-employees/school-roles',this.role)
                    .then(resp=>{
                        this.showAlert('Role added successfully','success');
                        this.$store.state.roles.unshift(resp.data.role)
                        this.role = {};
                        this.loading = false
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert(`duplicate entry for ${this.role.name}`,'error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type
                }).show();
            }
        }
    }
</script>

<style scoped>

</style>