<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-role></add-role>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL ROLES</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.roles" :pagination-props="{ pageSizes: [5,10,15] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'display_name'" :label="'Display Name'" :key="'Display Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)"
                                            :disabled="scope.row.name === 'admin'
                                            || scope.row.name === 'student'
                                            || scope.row.name === 'teacher' || scope.row.name === 'accountant'"
                                            class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteRole(scope.$index, scope.row.id)"
                                            :disabled="scope.row.name === 'admin'
                                            || scope.row.name === 'student'
                                            || scope.row.name === 'teacher' || scope.row.name === 'accountant'"
                                            class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form action="" @submit.prevent="updateRole">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT ROLE DETAILS</h4>
                        </div>
                        <div class="modal-body dash-form">
                            <div class="col-sm-4">
                                <label>NAME</label>
                                <input type="text" v-model="name" autofocus required>
                            </div>
                            <div class="col-sm-4">
                                <label>DISPLAY NAME</label>
                                <input type="text" v-model="display_name"  required>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer dash-search-form">
                            <div class="table-action-box">
                                <div class="col-sm-3 pull-left">
                                    <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                </div>
                                <div class="col-sm-3 pull-right ">
                                    <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                        UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import AddRole from './add.vue';
    export default {
        name: "index",
        props:['roles'],
        components:{
            AddRole
        },
        data(){
            return{
                name:'',id:'',display_name:'',loading:false,index:''
            }
        },
        methods:{
            showModal(index,row){
                this.index = index;
                this.name = row.name;
                this.display_name = row.display_name;
                this.id = row.id;
                $('#editDetailModal').modal('show')
            },
            updateRole(){
              let role = {};
              role.name = this.name;
              role.display_name = this.display_name;
              role.id = this.id;
              axios.put('/admin/manage-employees/school-roles/'+role.id,role)
                  .then(resp=>{
                      this.$store.state.roles.splice(this.index,1);
                      this.$store.state.roles.unshift(resp.data.role);
                      $('#editDetailModal').modal('hide')
                      this.showAlert('role updated successfully','success')
                  })
                  .catch(error=>{
                      if(error.response.status === 501){
                          this.showAlert(`duplicate entry for ${role.name}`,'error');
                      }else{
                          this.showAlert('sorry an error occurred','error');
                      }
                      this.loading = false;
                  })
            },
            deleteRole(index,id){
                if(confirm('Are You Sure about this action?')){
                    axios.delete('/admin/manage-employees/school-roles/'+id)
                        .then(resp=>{
                            this.$store.state.roles.splice(index,1);
                            this.showAlert('role deleted successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error');
                        })
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type
                }).show();
            }
        },
        mounted(){
            this.$store.state.roles = JSON.parse(this.roles);
        }
    }
</script>

<style scoped>

</style>