<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <select-sms @selectedGroupChanged="handleSelectedGroupChanged"></select-sms>
            <transition name="mark">
                <div  v-if="this.selection != null" class="col-sm-12">
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SLOTS
                        <span class="pull-right">
                            {{characterCount}} Characters Remaining | {{messageCount}} Unit<span v-if="messageCount > 1">s</span></span>
                        </h6>

                        <div v-if="selection != 'single'" class="inner-item">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dash-form dash-search-form">
                                        <form action="" @submit.prevent="sendBulkSMS">
                                            <label class="clear-top-margin" for="">Message</label>
                                            <textarea required name="" rows="8" v-model="bulkMessage"></textarea>
                                            <button type="submit" class="submit-btn ld-ext-right pull-right"
                                                    :class="{'running':loading}" :disabled="loading">
                                                SEND
                                                <div class="ld ld-ring ld-spin"></div>
                                            </button>
                                        </form>
                                    </div>
                                    <hr class="visible-sm">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <data-tables  @selection-change="handleSelectionChange"
                                                  :data="$store.state.smsSelection.
                                      filter(data => !search ||
                                      data.name.toLowerCase().includes(search.toLowerCase().trim()))"
                                                  :pagination-props="{ pageSizes: [5, 10, 15,30] }">
                                        <el-table-column
                                                type="selection"
                                                width="55">
                                        </el-table-column>
                                        <el-table-column
                                                v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                                :class="'text-center'">
                                        </el-table-column>
                                        <el-table-column
                                                align="right">
                                            <template slot="header" slot-scope="scope">
                                                <el-input v-model="search" size="mini" placeholder="Type to search"/>
                                            </template>
                                        </el-table-column>

                                    </data-tables>
                                </div>
                            </div>
                        </div>
                        <div v-else class="inner-item dash-form dash-search-form">
                            <div  class="row">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 ">
                                    <form action="" @submit.prevent="sendSingleSMS">
                                        <label for="">Number</label>
                                        <vue-tel-input v-model="mobile" placeholder="Phone Number" :required="true">
                                        </vue-tel-input>
                                        <label for="">Message</label>
                                        <textarea name="" id="singleSMS" v-model="singleMessage" required></textarea>
                                        <button type="submit" class="submit-btn ld-ext-right pull-right"
                                                :class="{'running':loading}" :disabled="loading">
                                            SEND
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import PageLoader from '../loaders/pageLoader.vue';

    //import Sm
    import SelectSms from './select.vue'
    export default {
        name: "index",
        props:['classes','staff'],
        data(){
            return {
                selection:null,loading:false,searchItem:'',selectedClass:'',titles:[{label:'Name',prop:'name'}],search:'',
                multipleSelection:[],bulkMessage:'',singleMessage:'',mobile:'',characterCount:160,messageCount:1
            }
        },
        components:{
            SelectSms
        },
        methods:{
            handleSelectionChange(data){
                this.multipleSelection = data;
            },
            handleSelectedGroupChanged(data){
                this.selection = data.data;
            },
            sendBulkSMS(){
                if(confirm('Are You Sure You want to perform this action?')){
                    if(this.multipleSelection.length > 0){
                        this.loading = true;
                        axios.post('/manage-sms/send',{data:this.multipleSelection,text:this.bulkMessage,units:this.messageCount})
                            .then(resp=>{
                                this.showAlert('Message Forwarded to handset','success');
                                this.loading = false;
                            })
                            .catch(error=>{
                                if(error.response.status === 501){
                                    this.showAlert('You are not authorised to perform this action','error');
                                }else{
                                    this.showAlert('Sorry an error occurred','error');
                                }
                                this.loading = false;
                            })
                    }else{
                        this.showAlert('Please Select Something','warning');
                    }
                }
            },
            sendSingleSMS(){
                    if(confirm('Are You Sure You want to perform this action?')){
                        this.loading = true;
                        axios.post('/manage-sms/send-single',{contact:this.mobile,text:this.singleMessage,units:this.messageCount})
                            .then(resp=>{
                                this.showAlert('Message Forwarded to handset','success');
                                this.loading = false;
                            })
                            .catch(error=>{
                                if(error.response.status === 501){
                                    this.showAlert('You are not authorised to perform this action','error');
                                }else{
                                    this.showAlert('Sorry an error occurred','error');
                                }
                                this.loading = false;
                            })
                    }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            countSMS(value){
                let length = SmsHelper.count(value);
                let parts = SmsHelper.parts(value);
                let encoding =  SmsHelper.detectEncoding(value);
                let per_message = 160;
                let multi = 153
                if(encoding === 'UTF16'){
                    per_message = 70;
                    multi = 67;
                }
                if (length > per_message) {
                    per_message =  multi;/*this.multiMessageLength[encoding];*/
                }
                let messages = Math.ceil(length / per_message);
                this.characterCount = (per_message * messages) - length;
                if(this.characterCount == 0 && messages == 0){
                    this.characterCount = per_message;
                }
                this.messageCount = SmsHelper.parts(value);
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
            this.$store.state.staff = JSON.parse(this.staff);
        },
        watch:{
            singleMessage:function (value) {
                this.countSMS(value);
            },
            bulkMessage:function (value) {
                this.countSMS(value);
            },
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .add-margin-to-form{
        margin-bottom: 6px;
    }
</style>