<template>
    <div class="col-sm-12">
        <page-loader v-if="loading"></page-loader>
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>MAKE SELECTION</h6>
            <div class="inner-item">
                <div class="dash-form">
                    <div class="col-sm-3">
                        <label class="clear-top-margin">ROLE</label>
                        <select v-model="selection">
                            <option value="staff">Staff</option>
                            <option value="parent">Parent</option>
                            <option value="student">Student</option>
                            <option value="single">Single SMS</option>
                        </select>
                    </div>
                    <transition name="mark">
                        <div v-if="selection == 'student' || selection == 'parent'" class="col-sm-3">
                            <label class="clear-top-margin" for="">CLASS</label>
                            <select v-model="selected_class">
                                <option value="all">All</option>
                                <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </transition>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    import PageLoader from '../loaders/pageLoader.vue';
    export default {
        name: "select",
        data(){
            return {
                selection:null,selected_class:'all',loading:false
            }
        },
        components:{
            PageLoader
        },
        methods:{

        },
        watch:{
            selection:function (value) {
                if(value === 'staff' && this.$store.state.staff.length <= 0){
                    $.blockUI({ css: { backgroundColor: '#57ff27', color: '#7e5493' } });
                    axios.get('/manage-sms/sms-for-staff')
                        .then(resp=>{
                            this.$store.state.staff = resp.data;
                            this.$store.state.smsSelection = resp.data;
                            $.unblockUI();
                        })
                        .catch(error=>{
                            alert('error');
                            $.unblockUI();
                        })
                }else{
                    this.$store.state.smsSelection = this.$store.state.staff;
                }

                if(value === 'student'){
                    this.selected_class = 'all';
                    if(this.$store.state.students.length <= 0){
                        this.loading = true;
                        $.blockUI({ css: { backgroundColor: '#57ff27', color: '#7e5493' } });
                        axios.get('/manage-sms/sms-for-students')
                            .then(resp=>{
                                this.$store.state.students = resp.data;
                                this.$store.state.smsSelection = resp.data;
                                this.loading = false;
                                $.unblockUI();
                            })
                            .catch(error=>{
                                this.loading = false;
                                $.unblockUI();
                            })
                    }else{
                        this.$store.state.smsSelection = this.$store.state.students;
                    }
                }
                if(value === 'parent'){
                    this.selected_class = 'all';
                    if(this.$store.state.parents <= 0){
                        $.blockUI({ css: { backgroundColor: '#57ff27', color: '#7e5493' } });
                        axios.get('/manage-sms/sms-for-parents')
                            .then(resp=>{
                                this.$store.state.parents = resp.data;
                                this.$store.state.smsSelection = resp.data;
                                $.unblockUI();
                            })
                            .catch(error=>{
                                alert('error')
                                $.unblockUI();
                            })
                    }else{
                        this.$store.state.smsSelection = this.$store.state.parents;
                    }
                }
                this.$emit('selectedGroupChanged',{
                    data:this.selection
                })
            },
            selected_class:function (value) {
                if(this.selection === 'parent'){
                    if(value !== 'all'){
                        $.blockUI({ css: { backgroundColor: '#57ff27', color: '#7e5493' } });
                        axios.get('/manage-sms/sms-for-parents/'+value)
                            .then(resp=>{
                                this.$store.state.smsSelection = resp.data;
                                $.unblockUI();
                            }).
                            catch(error=>{
                            $.unblockUI();
                            alert('error');
                        })
                    }else{
                        this.$store.state.smsSelection = this.$store.state.parents;
                    }

                }
                if(this.selection === 'student'){
                    if(value !== 'all'){
                        $.blockUI({ css: { backgroundColor: '#57ff27', color: '#7e5493' } });
                        axios.get('/manage-sms/sms-for-class/'+value)
                            .then(resp=>{
                                this.$store.state.smsSelection = resp.data;
                                $.unblockUI();
                            })
                            .catch(error=>{
                                $.unblockUI();
                                alert('error');
                            })
                    }else{
                        this.$store.state.smsSelection = this.$store.state.students;
                    }

                }
            }
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
</style>