<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <search-student></search-student>
            <transition name="mark">
                <div class="col-sm-12" v-if="$store.state.bill.bills">
                    <div class="dash-item">
                        <div class="inner-item">
                            <div class="row">
                                <div class="col-sm-12">
                                   <div class="row">
                                       <div class="details-container">
                                           <div class="col-sm-4">

                                           </div>
                                           <div class="col-sm-4">

                                           </div>
                                       </div>
                                   </div>
                                    <table class="table table-striped table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Fee Item</th>
                                            <th>Amount (GHS)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in $store.state.bill.bills">
                                            <td>{{item.item.name}}</td>
                                            <td>{{item.item.value}}</td>
                                        </tr>
                                        <tr>
                                            <td style="visibility: hidden">Library</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="style-heading">Total Bill</td>
                                            <td class="style-heading">{{$store.state.bill.sum}}</td>
                                        </tr>
                                        <tr>
                                            <td class="style-heading" v-if="$store.state.bill.wallet.owing">Amount Owing</td>
                                            <td class="style-heading" v-else>Amount Owed You</td>
                                            <td class="style-heading">{{Math.abs($store.state.bill.wallet.balance).toFixed(2)}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>

    //import Sm
    import SearchStudent from './search.vue'
    export default {
        name: "index",
        props:['years','classes'],
        components:{
            SearchStudent
        },
        data(){
            return {
                loading:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            this.$store.state.all_years = JSON.parse(this.years);
            this.$store.state.classes = JSON.parse(this.classes);
        },
        watch:{
            bulkMessage:function (value) {
                this.countSMS(value);
                let pattern = /[:](\w*)$/ig;
                let test = value;
                if(test.trim().match(pattern)){
                    this.visible = true;
                    this.text = test.trim().match(pattern);
                    this.values.filter(item => item.includes(this.text[0]))
                }else{
                    this.visible = false;
                    this.text = [];
                }
            },
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .style-heading{
        font-weight: bolder;
        text-transform: uppercase;
    }


</style>