<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-filter"></i>FILTER BILLS</h6>
            <div class="inner-item">
                <div class="dash-form dash-search-form">
                    <form action="" @submit.prevent="searchData">
                        <div class="col-sm-3">
                            <label for="" class="clear-top-margin">CLASS</label>
                            <select required v-model="bill.class_id" name="" id="">
                                <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="clear-top-margin">STUDENT</label>
                            <el-select v-model="bill.student_id" filterable placeholder="Select Student">
                                <el-option
                                        v-for="item in $store.state.students"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-sm-3">
                            <label for="" class="clear-top-margin">YEAR</label>
                            <select required v-model="bill.academic_year_id" name="" id="">
                                <option v-for="item in $store.state.all_years" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="" class="clear-top-margin">TERM</label>
                            <select required v-model="bill.term_id" name="" id="">
                                <option v-for="item in $store.state.terms" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <button  type="submit" class="submit-btn ld-ext-right "
                                     :class="{'running':loading}" :disabled="loading">
                                <i class="fa fa-search"></i>
                                FETCH
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data(){
            return{
               loading:false,bill:{}
            }
        },
        methods:{
            searchData(){
                this.loading = true;
                axios.post('/finances/print-bills',this.bill)
                    .then(resp=>{
                        this.$store.state.bill = resp.data;
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.loading = false;
                    })
            }
        },
        computed:{
          academic_year_id:function () {
              return this.bill.academic_year_id
          },
            class_id:function () {
                return this.bill.class_id;
            }
        },
        watch:{
            academic_year_id:function (value) {
                axios.get('/date/terms/'+value).then(resp=>{
                    this.$store.state.terms = resp.data;
                })
            },
            class_id:function (value) {
                axios.get('/finances/student-fees/students/'+value)
                    .then(resp=>{
                        this.$store.state.students = resp.data;
                    })
                    .catch(error=>{

                    })
            }
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.$store.state.all_years = resp.data;
            });
        }
    }
</script>

<style scoped>
    el-select{
        display: block;
    }
    .el-select{
        display: block;
    }
</style>