<template>
    <div class="col-sm-4">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD METHOD</h6>
            <div class="inner-item">
                <form action="" @submit.prevent="addMethod">
                    <div class="dash-form dash-search-form">
                        <label class="clear-top-margin">NAME</label>
                        <input type="text" required v-model="record.name" autofocus/>
                        <div>
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                ADD
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                loading:false,record:{}
            }
        },
        methods:{
            addMethod(){
                this.loading = true;
                axios.post('/finances/payments',this.record)
                    .then(resp=>{
                        this.record = {};
                        this.$store.state.paymentMethods.unshift(resp.data);
                        this.showAlert('added successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert('duplicate entry','error');
                        }else{
                            this.showAlert('sorry an error occurred','error');
                        }
                        this.loading = false;
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        }
    }
</script>

<style scoped>

</style>