<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-method></add-method>
            <div class="col-sm-8">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL METHODS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.paymentMethods" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'user.name'" :label="'Created By'" :key="'Created By'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" :disabled="loading" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteMethod(scope.$index, scope.row.id)" :disabled="loading" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT METHOD</h4>
                    </div>
                    <form action="" @submit.prevent="updateMethod">
                        <div class="modal-body dash-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin">NAME</label>
                                <input v-model="name" required/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer dash-search-form">
                            <div class="table-action-box">
                                <div class="col-sm-3 pull-left">
                                    <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                </div>
                                <div class="col-sm-3 pull-right ">
                                    <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                        UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddMethod from './add.vue'
    export default {
        name: "index",
        props:['methods'],
        components:{
            AddMethod
        },
        data(){
            return{
                loading:false,name:'',id:'',index:''
            }
        },
        methods:{
            showModal(index,row){
                this.name = row.name;
                this.id = row.id;
                this.index = index;
                $('#editDetailModal').modal('show');
            },
            deleteMethod(index,id){
                if(confirm('Are You you want to perform this action?')){
                    axios.delete('/finances/payments/'+id)
                        .then(resp=>{
                            this.$store.state.paymentMethods.splice(index,1);
                            this.showAlert('deleted successfully','success')
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            updateMethod(){
                this.loading = true;
                let record = {};
                record.name = this.name;
              axios.put('/finances/payments/'+this.id,record)
                  .then(resp=>{
                      this.$store.state.paymentMethods.splice(this.index,1);
                      this.$store.state.paymentMethods.unshift(resp.data);
                      $('#editDetailModal').modal('hide');
                      this.showAlert('updated successfully','success');
                      this.loading = false;
                  })
                  .catch(error=>{
                  if(error.response.status === 501){
                      this.showAlert('duplicate entry','error');
                  }else{
                      this.showAlert('sorry an error occurred','error');
                  }
                  this.loading = false;
              })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            this.$store.state.paymentMethods = JSON.parse(this.methods);
        }
    }
</script>

<style scoped>

</style>