<template>
    <div class="col-sm-3 top-search" >
        <div class="search">
            <i class="fa fa-search"></i>
            <input type="text"  v-model="query" style="width: 90%;padding: 4px;border: none!important;outline: none;background: transparent;" placeholder="Search">
            <div class="search-results">
                <ul v-click-outside="handleBlur"  v-if="results.length > 0 && showDrop" v-for="item in results">
                    <li v-if="!item.sub_menu"><a :href="item.url">{{item.name}}</a></li>
                    <li v-else><a :href="item.url">{{item.menu.name}} <span style="margin-right: 15px;margin-left: 15px" class="fa fa-angle-right"></span> {{item.name}}</a></li>
                </ul>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "home-search",
        data(){
            return{
                query:'',
                results:[],
                showDrop:true
            }
        },
        methods:{
            handleBlur(){
                this.showDrop = false;
            }
        },
        watch:{
            query:function (value) {
                if(value){
                    axios.post('/search-header',{search:value})
                        .then(resp=>{
                            this.results = resp.data;
                            if(this.results.length > 0)
                                this.showDrop = true;
                        })
                }
            }
        },
        events:{
            handleClickoutside : function () {
                alert('yes')
            }
        }
    }
</script>

<style>
.search{
    position: relative;
}
    .search-results{
        position: absolute;
        top:calc(100% + 10px);
        z-index: 10000;
        background: white;
        width: calc(100% + 20px);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .search-results > ul{
        list-style: none;
        margin: 0;
        padding: 8px 0 10px 0;
    }
    .search-results > ul > li{
        padding:2px 0 5px 10px;
        border-bottom: 1px solid #f3f3f3;
    }
    .search-results > ul > li > a{
        text-decoration: none;
        font-weight: bold;
        color:#323232;
    }
.search-results > ul > li > a:hover{
    color: #2046f2 !important;
}
</style>