<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <search-history></search-history>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>TRANSACTIONS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading"
                                      :data="$store.state.transactions"
                                      :pagination-props="{ pageSizes: [5, 10, 15] }">
                            <el-table-column
                                    prop="student.name" fixed width="200"
                                    label="Student Name">
                            </el-table-column>
                            <el-table-column width="150"
                                    v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                    :class="'text-center'">
                            </el-table-column>
                            <el-table-column
                                    prop="category"
                                    label="Category"
                                    width="100" filter-placement="bottom-end">
                                <template slot-scope="scope">
                                    <el-tag
                                            :type="scope.row.category === 'expense' ? 'primary' : 'success'"
                                            disable-transitions>{{scope.row.category}}</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="user.name" width="150"
                                    label="Created By">
                            </el-table-column>
                            <el-table-column
                                    prop="payment_method.name"
                                    label="Payment"
                                    width="110"
                                    filter-placement="bottom-end">
                                <template slot-scope="scope">
                                    <el-tag disable-transitions>{{scope.row.payment_method.name}}</el-tag>
                                </template>
                            </el-table-column>
                       <!--     <el-table-column
                                    align="right">
                                <template slot-scope="scope">
                                    <el-button
                                            class="btn btn-sm btn-danger"
                                            size="mini"
                                            type="danger"
                                            @click="deleteExpense(scope.$index, scope.row.id)">
                                        <span class="fa fa-trash"></span>
                                    </el-button>
                                </template>
                            </el-table-column>-->

                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SearchHistory from './search.vue';
    export default {
        name: "index",
        props:['transactions'],
        components:{
            SearchHistory
        },
        mounted(){
            this.$store.state.transactions = JSON.parse(this.transactions);
        },
        data(){
            return{
                titles:[
                    {
                        label:'Class',
                        prop:'student.student_class.name'
                    },
                    {
                        label:'Amount',
                        prop:'amount'
                    },
                    {
                        label:'Receipt No',
                        prop:'receipt.receipt_no'
                    },
                    {
                        label:'Date',
                        prop:'date'
                    },
                    {
                        label:'Term',
                        prop:'term.display_name'
                    },
                    {
                        label:'Year',
                        prop:'academic_year.name'
                    },

                ],loading:false
            }
        }
    }
</script>

<style scoped>

</style>