<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title">SEARCH HISTORY</h6>
            <div class="inner-item">
                <form action="" @submit.prevent="filterResult">
                    <div class="dash-form dash-search-form">
                        <div class="col-sm-3">
                            <label class="clear-top-margin">CATEGORY</label>
                            <select v-model="filter.category">
                                <option value="all">All</option>
                                <option value="income">Income</option>
                                <option value="expense">Expense</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">TYPE</label>
                            <select v-model="filter.type">
                                <option value="students">Students</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">CLASS</label>
                            <select v-model="filter.class_id">
                                <option value="all">All</option>
                                <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">DETAILS</label>
                            <input v-model="filter.name" placeholder="name ,email,phone">
                        </div>
                        <div class="col-sm-3">
                            <label>ACADEMIC YEAR</label>
                            <select v-model="filter.academic_year_id">
                                <option value="all">All</option>
                                <option v-for="item in $store.state.all_years" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>TERM</label>
                            <select v-model="filter.term_id">
                                <option value="all">All</option>
                                <option v-for="item in $store.state.terms" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>

                        <div class="col-sm-3 pull-right top-margin">
                            <button type="submit" class="submit-btn top-margin ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                <i class="fa fa-paper-plane"></i>
                                FETCH
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data(){
            return {
                filter:{
                    academic_year_id:'all',
                    term_id:'all',
                    category:'all',
                    type:'students',
                    class_id:'all'
                },
                loading:false
            }
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.$store.state.all_years = resp.data;
            });
            axios.get('/date/classes/show-all').then(resp=>{
                this.$store.state.classes = resp.data;
            });
        },
        methods:{
            filterResult() {
                this.loading = true;
                axios.post('/finances/transaction-history/index',this.filter)
                    .then(resp => {
                        this.loading = false;
                        this.$store.state.transactions = resp.data;
                    })
                    .catch(error => {
                        this.showAlert('sorry an error occurred','error');
                        this.loading = false;
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        watch:{
            academic_year_id:function(value){
                if(value !== 'all'){
                        axios.get('/date/terms/'+value).then(resp=>{
                            this.$store.state.terms = resp.data;
                        })
                }
            }
        },
        computed:{
            academic_year_id:function(){
                return this.filter.academic_year_id;
            }
        }
    }
</script>

<style scoped>

</style>