<template>
    <div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <h5 class="page-title"><i class="fa fa-address-card"></i>ADD MARKS</h5>
                <div class="section-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <app-selection @selectedCourseChanged="changeCourse"></app-selection>
                <transition name="assess">
                    <div v-show="course_id" class="col-lg-12">
                        <div class="dash-item">
                            <h6 class="item-title"><i class="fa fa-info-circle"></i>ADD MARKS</h6>
                            <form action="" id="assessment-table" @submit.prevent="attemptSave">
                                <div class="inner-item dash-form">
                                <div class="col-md-3 col-sm-6">
                                    <label>MARKS TYPE</label>
                                    <select v-model="category">
                                        <option value="class">Class Assessment</option>
                                        <option value="exam">Examination Assessment</option>
                                    </select>
                                </div>
                                <transition name="name">
                                    <div class="col-md-3 col-sm-6" v-if="category == 'class'">
                                        <label>TEST NAME</label>
                                        <input type="text" v-model="test_name" required />
                                    </div>
                                </transition>
                                <transition name="mark">
                                    <div class="col-md-3 col-sm-6" v-if="category == 'class'">
                                        <label>MAXIMUM MARK</label>
                                        <input type="number" v-model="max_num" required>
                                    </div>
                                </transition>
                            </div>
                            <div class="clearfix"></div>
                            <div class="inner-item">
                                    <table class="table table-bordered responsive table-striped" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="text-center">FIRST NAME</th>
                                            <th class="text-center">MIDDLE NAME</th>
                                            <th class="text-center">LAST NAME</th>
                                            <th class="text-center">MARKS OBTAINED</th>
                                            <transition name="th">
                                                <th class="text-center" v-if="category == 'class'">MAX MARKS</th>
                                            </transition>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-if="$store.state.students.length > 0" v-for="item in $store.state.students">
                                            <td class="text-center"><strong>{{item.fname}}</strong></td>
                                            <td class="text-center"><strong>{{item.mname}}</strong></td>
                                            <td class="text-center"><strong>{{item.lname}}</strong></td>
                                            <td class="text-center"><input type="text" :id="item.id" :name="item.id" placeholder="Marks Obtained" class="datatable-input"/></td>
                                            <transition name="tr">
                                                <td v-if="category == 'class'" class="text-center">
                                                    <input  type="text"  :value="max_num" placeholder="Max Marks" class="datatable-input" readonly/>
                                                </td>
                                            </transition>
                                        </tr>
                                        <tr v-else>
                                            <td class="text-center" colspan="5">
                                                <p class="lead">No Student in this class</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="table-action-box">
                                        <button  type="submit" class="pull-right btn btn-success  ld-ext-right"
                                                :class="{'running':loading}" :disabled="loading">SAVE
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                            </div>
                            </form>

                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import Selection from './selection.vue';
    export default {
        name: "index",
        props:['classes'],
        data(){
            return {
                showTable:false,course_id:'',max_num:'',category:'class',test_name:'',class_id:'',loading:false
            }
        },
        components:{
          'app-selection':Selection
        },
        methods:{
            changeCourse(value){
                this.course_id = value.id;
                this.class_id = value.class_id.id
            },
            attemptSave(){
                this.loading = true;
                let max = this.max_num;
                if(this.category == 'exam')
                    this.max_num = 100;
                let category = this.category
                let status = true;
                let id = 0;
                let data = $('#assessment-table').serializeArray();
                $.each(data,function (key,value) {
                    if(value.value != null && parseInt(value.value) > parseInt(max) && category == 'class'){
                        status = false;
                        id = value.name
                    }else if(value.value != null && parseInt(value.value) > 100 && category == 'exam'){
                        status = false;
                        id = value.name
                    }
                })
                if(status){
                    axios.post('/teacher/reports/assessments',{
                        data:data,name:this.test_name,max_score:this.max_num,category:this.category,class_id:this.class_id,course_id:this.course_id
                    })
                        .then(resp=>{
                            this.showAlert('Results Added Successfully','success');
                            this.loading = false
                        })
                        .catch(error=>{
                            if(error.response.status === 401){
                                this.showAlert('Approved Results cannot be altered','error');
                            }else{
                                if(this.category == 'class'){
                                    this.showAlert(this.test_name+' has already been conducted.<br>You can use the edit feature<br>Assessment <i class="fa fa-forward"></i> View','warning');
                                }else{
                                    this.showAlert('Exams data has already been recorded.<br>You can use the edit feature<br>Assessment <i class="fa fa-forward"></i> View','warning');
                                }
                            }
                            this.loading = false
                        })
                }else{
                    this.showAlert('Score cannot be greater than '+this.max_num,'error');
                    $('#'+id).focus();
                    this.loading = false;
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes)
        }
    }
</script>

<style scoped>
.assess-enter{
    opacity: 0;
}
    .assess-enter-active{
        transition: opacity 1s;
    }
    .assess-leave{}
    .assess-leave-active{
        transition: opacity 1s;
opacity: 0;
    }

.mark-enter{
    opacity: 0;
}
.mark-enter-active{
    transition: opacity 1s;
}
.mark-leave{}
.mark-leave-active{
    transition: opacity 1s;
    opacity: 0;
}

.th-enter{
    opacity: 0;
}
.th-enter-active{
    transition: opacity 1s;
}
.th-leave{}
.th-leave-active{
    transition: opacity 1s;
    opacity: 0;
}

.tr-enter{
    opacity: 0;
}
.tr-enter-active{
    transition: opacity 1s;
}
.tr-leave{}
.tr-leave-active{
    transition: opacity 1s;
    opacity: 0;
}


.name-enter{
    opacity: 0;
}
.name-enter-active{
    nameansition: opacity 1s;
}
.name-leave{}
.name-leave-active{
    nameansition: opacity 1s;
    opacity: 0;
}
</style>