<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>MAKE SELECTION</h6>
            <div class="inner-item dash-search-form">
                <div class="col-sm-4">
                    <label>CLASS</label>
                    <select v-model="selected_class">
                        <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>COURSE CODE</label>
                    <select v-model="selected_course">
                        <option v-for="item in courses" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selectsubmit",
        data(){
            return{
                selected_class:'',selected_course:'',courses:[]
            }
        },
        watch:{
            selected_class:function (value) {
                this.selected_course = null;
                axios.post('/teacher/reports/teacher-class-courses',
                    {class_id:value}
                )
                    .then(resp=>{
                        this.courses = resp.data
                    })
            },
            selected_course:function (value) {
                this.selected_name = null;
                axios.post('/teacher/reports/teacher-class-courses-names',
                    {class_id:this.selected_class,course_id:value}
                )
                    .then(resp=>{
                        this.$store.state.names = resp.data;
                        this.$emit('selectedCourseChanged',
                            {class_id:this.selected_class,course_id:value})
                    })
            },
        }
    }
</script>

<style scoped>

</style>