<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>MAKE SELECTION</h6>
            <div class="inner-item dash-search-form">
                <div class="col-md-3 col-sm-6">
                    <label>CLASS</label>
                    <select v-model="selected_class">
                        <option v-for="item in $store.state.classes" :value="{name:item.name,id:item.id}">
                            {{item.name}}</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label>COURSE</label>
                    <select v-model="selected_courses">
                        <option v-for="item in $store.state.courses" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selection",
        data(){
            return{
                selected_class:'',selected_courses:''
            }
        },
        methods:{
            getCourses(){
                alert(hello)
            }
        },
        watch:{
            selected_class:function (value) {
                axios.get('/teacher/reports/teacher-class-courses/'+value.id)
                    .then(resp=>{
                        this.selected_courses = '';
                        this.$store.state.courses = resp.data.data;
                        this.$store.state.students = resp.data.students
                    })
            },
            selected_courses:function (value) {
                this.$emit('selectedCourseChanged',{
                    id:value,
                    class_id:this.selected_class
                });
            }
        }
    }
</script>

<style scoped>

</style>