<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>MAKE SELECTION</h6>
            <div class="inner-item dash-search-form">
                <div class="col-md-3">
                    <label>CATEGORY</label>
                    <select v-model="selected_category">
                        <option value="class">Class Assessment</option>
                        <option value="exam">Examination Assessment</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>CLASS</label>
                    <select v-model="selected_class">
                        <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>COURSE CODE</label>
                    <select v-model="selected_courses">
                        <option v-for="item in courses" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>TEST NAME</label>
                    <select v-model="selected_name">
                        <option v-for="item in names">{{item.name}}</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selectview",
        data(){
            return{
                selected_class:'',selected_category:'class',selected_courses:'',courses:[],names:[],
                selected_name:''
            }
        },
        watch:{
            selected_class:function (value) {
                this.selected_courses = null;
                axios.post('/teacher/reports/teacher-class-courses',
                    {category:this.selected_category,class_id:value}
                    )
                    .then(resp=>{
                    this.courses = resp.data
                    })
            },
            selected_courses:function (value) {
                this.selected_name = null;
                axios.post('/teacher/reports/teacher-class-courses-names',
                    {category:this.selected_category,class_id:this.selected_class,course_id:value,flag:true}
                )
                    .then(resp=>{
                        this.names = resp.data
                    })
            },
            selected_name:function (value) {
                axios.post('/teacher/reports/teacher-class-courses-names-students',
                    {category:this.selected_category,class_id:this.selected_class,
                        course_id:this.selected_courses,name:value}
                )
                    .then(resp=>{
                        this.$store.state.students = resp.data;
                        this.$emit('selectedNameChanged',{
                            category:this.selected_category,class_id:this.selected_class,
                            course_id:this.selected_courses,name:value,submitted:resp.data[0].submitted
                        })
                    });

            },
            selected_category:function () {
                this.selected_courses = null;
                this.selected_name = null;
                this.selected_class = null;
            }
        }
    }
</script>

<style scoped>

</style>