<template>
    <div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <h5 class="page-title"><i class="fa fa-bar-chart"></i>SUBMISSIONS</h5>
                <div class="section-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 clear-padding-xs">
                <select-submission @selectedCourseChanged="handleCourseChanged"></select-submission>
                <transition name="mark">
                    <div v-if="status.course_id" class="col-lg-12 clear-padding-xs">
                        <div class="dash-item">
                            <h6  class="item-title" style="text-transform: uppercase">
                                <i class="fa fa-plus-circle"></i>
                                <span>CHOOSE ASSESSMENTS</span>
                            </h6>
                            <div class="inner-item">
                                <form action="" id="check-items" @submit.prevent="attemptUpdate">
                                    <div class="">
                                        <div v-for="item in $store.state.names" :key="item.name"  class="col-xs-6 col-sm-4 col-md-3">
                                            <div class="cntr">
                                                <label :for="item.name" class="label-cbx" :class="{'disable':item.category == 'exam'}">
                                                    <input :id="item.name" type="checkbox" :value="item.name" :name="item.category"
                                                           :checked="item.category == 'exam'" class="invisible">
                                                    <div class="checkbox">
                                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                            <polyline points="4 11 8 15 16 6"></polyline>
                                                        </svg>
                                                    </div>
                                                    <span>{{item.name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div style="padding-bottom: 20px;"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button class="pull-right btn btn-default  ld-ext-right"
                                            :class="{'running':loading}" :disabled="loading">SUBMIT
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </form>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import SelectSubmission from './selectsubmit.vue'
    export default {
        name: "submission",
        props:['classes'],
        data(){
            return{
                status:{},loading:false
            }
        },
        components:{
            SelectSubmission
        },
        methods:{
            handleCourseChanged(data){
                this.status = data;
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type
                }).show();
            },
            showInfo(message){
                new Noty({
                    type: 'success',
                    layout: 'topCenter',
                    theme: 'nest',
                    text: message,
                    timeout: false,
                    progressBar: true,
                    closeWith: ['click'],
                    //killer: true,
                }).show();
            },
            inArray(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i].profile_fields_id == needle)
                        return true;
                }
                return false;
            },
            attemptUpdate(){
                if(confirm('Are You Sure about this ?')){
                    this.loading = true;
                    let here  = this;
                    let data = $('#check-items').serializeArray();
                    if(data.length > 0){
                        axios.post('/teacher/reports/submissions',{status:this.status,data:data})
                            .then(resp=>{
                                this.showAlert('Submitted Successfully','success');
                                this.loading = false
                                $.each(here.$store.state.names,(key,value)=>{
                                    $.each(data,(index,val)=>{
                                        if(value.name == val.value){
                                            here.$store.state.names.splice(key,1);
                                        }
                                    })
                                });

                            })
                            .catch(error=>{
                                //this.showAlert('Sorry an error occurred','error');
                                if(error.response.status === 401){
                                    this.showAlert('Approved Results cannot be altered','error');
                                }
                                this.loading = false;
                            });
                    }else{
                        this.showAlert('You have to select at least a test','warning');
                        this.loading = false;
                    }
                }
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .disable{
        pointer-events: none;
    }
</style>