<template>
    <div class="col-lg-12 clear-padding-xs">
        <view-selection @selectedNameChanged="HandleNameChanged"></view-selection>
        <transition name="assess">
            <div v-show="status.name != null" class="col-lg-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-info-circle"></i>ADD MARKS</h6>
                    <form action="" id="assessment-table-all-update" @submit.prevent="attemptUpdate">
                        <div class="inner-item">
                            <table class="table table-bordered responsive table-striped" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center">FIRST NAME</th>
                                    <th class="text-center">MIDDLE NAME</th>
                                    <th class="text-center">LAST NAME</th>
                                    <th class="text-center">MARKS OBTAINED</th>
                                    <transition name="th">
                                        <th class="text-center" v-if="status.category == 'class'">MAX MARKS</th>
                                    </transition>
                                    <th class="text-center">ACTIONS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="$store.state.students.length > 0" v-for="item in $store.state.students">
                                    <td class="text-center"><strong>{{item.fname}}</strong></td>
                                    <td class="text-center"><strong>{{item.mname}}</strong></td>
                                    <td class="text-center"><strong>{{item.lname}}</strong></td>
                                    <td class="text-center">
                                        <input type="text" :id="item.id" @focus="inputFieldFocused(item.submitted,item.id)" :name="item.id" readonly :value="item.score" placeholder="Marks Obtained" class="datatable-input all_inputs"/>
                                    </td>
                                    <transition name="tr">
                                        <td v-if="status.category == 'class'" class="text-center">
                                            <input  type="text"   :value="item.max" placeholder="Max Marks" class="datatable-input" readonly/>
                                        </td>
                                    </transition>
                                    <td class="text-center">
                                        <button v-if="!item.submitted" @click.prevent="editRecord(item.id)" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span></button>
                                    </td>
                                </tr>
                                <tr v-else>
                                    <td class="text-center" colspan="5">
                                        <p class="lead">No Student in this class</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-action-box" v-if="!submitted">
                                <button @click.prevent="massDelete" class="pull-left btn btn-danger  ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">
                                    <span class="fa fa-trash" style="margin-right: 5px"></span>
                                    Delete {{status.name}}
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                                <button  type="submit" class="pull-right btn btn-success  ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">UPDATE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import ViewSelection from './selectview.vue'
    export default {
        name: "view",
        props:['classes'],
        components:{
            ViewSelection
        },
        data(){
            return{
                status:{},loading:false,name:'',showUpdate:true,submitted:''
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            HandleNameChanged(value){
                this.status.class_id = value.class_id;
                this.status.course_id = value.course_id;
                this.status.name = value.name;
                this.status.category = value.category;
                this.name = value.name;
                this.submitted = value.submitted
            },
            editRecord(id){
                $('#'+id).removeAttr('readonly').focus();
            },
            attemptUpdate(){
                this.loading = true;
                let cat = true;
                let id = 0;
                let category = this.status;
                let here = this;
                let max = this.$store.state.students[0].max;
                let data = $('#assessment-table-all-update').serializeArray();
                $.each(data,function (key,value) {
                    if(value.value != null && parseInt(value.value) > parseInt(max) && category.category == 'class'){
                        cat = false;
                        id = value.name
                    }else if(value.value != null && parseInt(value.value) > 100 && category.category == 'exam'){
                        status = false;
                        id = value.name
                    }else{
                        here.$store.state.students[key].score = value.value;
                    }
                })
                if(cat){
                    axios.post('/teacher/reports/mass-update',{
                        data:data,
                        status:this.status
                    })
                        .then(resp=>{
                            this.showAlert('Results Updated Successfully','success');
                            this.loading = false
                        })
                        .catch(error=>{
                            this.loading = false
                        })
                }else{
                    this.showAlert('Score cannot be greater than '+max,'error');
                    $('#'+id).focus();
                    this.loading = false;
                }
            },
             massDelete(){
                if(confirm('Are you sure ?')){
                    this.loading = true;
                    axios.post('/teacher/reports/mass-delete',{
                        status:this.status
                    })
                        .then(resp=>{
                            location.reload()
                        })
                        .catch(error=>{
                            this.loading = false
                        })
                }
            },
            inputFieldFocused(submitted,id){
                if(!submitted){
                    $('#'+id).removeAttr('readonly');
                }

            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        },
        watch:{
            name:function () {
                $('.all_inputs').each(function () {
                    $(this).prop('readonly',true);
                });
            }
        }
    }
</script>

<style scoped>
    .assess-enter{
        opacity: 0;
    }
    .assess-enter-active{
        transition: opacity 1s;
    }
    .assess-leave{}
    .assess-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }

    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }

    .th-enter{
        opacity: 0;
    }
    .th-enter-active{
        transition: opacity 1s;
    }
    .th-leave{}
    .th-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }

    .tr-enter{
        opacity: 0;
    }
    .tr-enter-active{
        transition: opacity 1s;
    }
    .tr-leave{}
    .tr-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }


    .name-enter{
        opacity: 0;
    }
    .name-enter-active{
        nameansition: opacity 1s;
    }
    .name-leave{}
    .name-leave-active{
        nameansition: opacity 1s;
        opacity: 0;
    }
</style>