<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <select-create></select-create>
            <transition name="mark">
                <div class="col-sm-12" v-if="$store.state.classTimeTable.length > 0">
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SLOTS</h6>
                        <div class="inner-item">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td class="class-name"><strong><span v-if="$store.state.class_name != null">{{$store.state.class_name}}</span></strong></td>
                                    <td class="text-center" v-for="item in $store.state.classSlots">
                                        <p><strong>{{item.slot.start}}</strong></p>
                                        <p><strong>-</strong></p>
                                        <p><strong>{{item.slot.end}}</strong></p>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,rank) in $store.state.classTimeTable">
                                    <td class="text-center"><strong>{{item[0].day}}</strong></td>
                                    <template v-for="(slot,index) in $store.state.classSlots">
                                        <template v-if="item[index] != null && item[index].course != null">
                                            <td @mouseover="showActions" @mouseleave="hideActions" :id="item[index].id" class="text-center data-item">
                                                <p>
                                                    <strong>
                                        <span>
                                            <span>
                                                {{item[index].course.name}}
                                            </span>
                                        </span>
                                                    </strong>
                                                </p>

                                                <p class="teacher-name">
                                        <span>
                                            {{item[index].teacher.full_name}}
                                        </span>
                                                </p>
                                                <p :id="'actions-'+item[index].id" class="actions">
                                                    <span>
                                                        <button @click.prevent="showModal(rank,index,item[index].id)" class="btn btn-primary btn-sm">
                                                            <span class="fa fa-edit"></span>
                                                        </button>
                                                    </span>
                                                    <span>
                                                        <button @click.prevent="remove(rank,index,item[index].id)" class="btn btn-danger btn-sm">
                                                            <span class="fa fa-trash"></span>
                                                        </button>
                                                    </span>
                                                </p>
                                            </td>
                                        </template>
                                        <template v-else>
                                            <td></td>
                                        </template>
                                    </template>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade hide-for-printing" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT SECTION DETAILS</h4>
                    </div>
                    <form action="" @submit.prevent="update">
                        <div class="modal-body dash-form dash-search-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin"><i class="fa fa-calendar"></i>DAY</label>
                                <select  required v-model="selected_record.day">
                                    <option value="MONDAY">Monday</option>
                                    <option value="TUESDAY">Tuesday</option>
                                    <option value="WEDNESDAY">Wednesday</option>
                                    <option value="THURSDAY">Thursday</option>
                                    <option value="FRIDAY">Friday</option>
                                    <option value="SATURDAY">Saturday</option>
                                    <option value="SUNDAY">Sunday</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin"><i class="fa fa-clock-o"></i>SLOT</label>
                                <select required v-model="selected_record.slot_id">
                                    <option v-for="item in $store.state.slots" :value="item.id">
                                        <span class="visible-md">{{item.name}} |</span>
                                        {{item.start}} - {{item.end}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin"><i class="fa fa-book"></i>CLASS</label>
                                <select v-model="selected_record.class_id" required>
                                    <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>SUBJECT</label>
                                <select v-model="selected_record.course_id" required>
                                    <option v-for="item in $store.state.Updatecourses" :value="item.course_id">
                                        {{item.course.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>TEACHER</label>
                                <input required disabled :value="selected_teacher.full_name">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box">
                                    <button type="submit" class="btn btn-success pull-right ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                        SAVE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                <a href="#" class="cancel pull-left" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import SelectCreate from './selectCreate.vue';
    import Select from "../../reports/select";
    export default {
        name: "create",
        props:['slots','classes'],
        data(){
            return {
                selected_record:{},selected_course:{},selected_teacher:{},loading:false,
                counter:0
            }
        },
        components:{
            Select,
            SelectCreate
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
            this.$store.state.slots = JSON.parse(this.slots);
        },
        methods:{
            getItem(item){
                return item;
            },
            showActions(event){
                let id = event.target.id;
                $('#actions-'+id).removeClass('actions');
            },
            hideActions(event){
                let id = event.target.id;
                $('#actions-'+id).addClass('actions');
            },
            showModal(rank,index,id){
                this.selected_record = this.$store.state.classTimeTable[rank][index];
                this.selected_teacher = this.selected_record.teacher;
                $('#editDetailModal').modal('show');
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            update(){
                let record = {};
                record.class_id = this.selected_record.class_id;
                record.id = this.selected_record.id;
                record.teacher_id = this.selected_teacher.id;
                record.day = this.selected_record.day;
                record.slot_id = this.selected_record.slot_id;
                record.course_id = this.selected_record.course_id;
                axios.put('/timetables/'+record.id,record)
                    .then(resp=>{
                        this.$store.state.classTimeTable = resp.data.full_timetable;
                        this.$store.state.classSlots = resp.data.class_slots;
                        this.$store.state.class_name = resp.data.class_name;
                        $('#editDetailModal').modal('hide');
                        this.showAlert('Slot Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert(error.response.data.message,'error');
                        this.loading = false;
                    })
            },
            remove(rank,index){
                if(confirm('Are You sure about this action?')){
                    let item = this.$store.state.classTimeTable[rank][index];
                    this.$store.state.classTimeTable[rank].splice(index,1);
                    axios.delete('/timetables/'+item.id)
                        .then(resp=>{
                            this.showAlert('Slot deleted successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('Sorry an error occurred','error');
                        })
                }
            }
        },
        watch:{
            class_id:function (value) {
                    axios.get('/time-tables/getTeachers/'+value)
                        .then(resp=>{
                            this.counter++;
                            this.$store.state.Updatecourses = resp.data.courses;
                            this.$store.state.UpdateclassTimeTable = resp.data.full_timetable;
                            this.$store.state.UpdateclassSlots = resp.data.class_slots;
                            if(this.counter > 1){
                                this.selected_teacher = {};
                                this.selected_record.course_id = 0;
                            }
                        })
                        .catch(error=>{

                        })
            },
            course_id:function (id) {
                let temp = null;
                let here = this;
                $.each(this.$store.state.Updatecourses,function (key,value) {
                    if(value.course_id == id && value.class_id == here.selected_record.class_id){
                        temp = value;
                        return false
                    }
                });
                this.selected_teacher = temp.teacher;
            }
        },
        computed:{
            class_id(){
                return this.selected_record.class_id;
            },
            course_id(){
                return this.selected_record.course_id;
            }
        }

    }
</script>

<style scoped>
.teacher-name{
    font-size: 12px;
}
    .class-name{
        position:relative;
    }
    .class-name span{
        position: absolute;
        transform: rotate(-45deg);
        font-size:14px;
        top:40%;
        left: 20%;
    }
.mark-enter{
    opacity: 0;
}
.mark-enter-active{
    transition: opacity 1s;
}
.mark-leave{}
.mark-leave-active{
    transition: opacity 1s;
    opacity: 0;
}
    .actions {
        display: none;
    }
    .data-item{
        min-height: 200px;
    }
</style>