<template>
    <div class="col-sm-12 hide-for-printing">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD SLOT</h6>
            <div class="inner-item dash-search-form">
                <form action="" @submit.prevent="save">
                    <div class="dash-form">
                        <div class="col-sm-4">
                            <label class="clear-top-margin"><i class="fa fa-calendar"></i>DAY</label>
                            <select v-model="timetable.day" required>
                                <option value="MONDAY">Monday</option>
                                <option value="TUESDAY">Tuesday</option>
                                <option value="WEDNESDAY">Wednesday</option>
                                <option value="THURSDAY">Thursday</option>
                                <option value="FRIDAY">Friday</option>
                                <option value="SATURDAY">Saturday</option>
                                <option value="SUNDAY">Sunday</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="clear-top-margin"><i class="fa fa-clock-o"></i>SLOT</label>
                            <select required v-model="timetable.slot_id">
                                <option v-for="item in $store.state.slots" :value="item.id">
                                    <span class="visible-md">{{item.name}} |</span>
                                    {{item.start}} - {{item.end}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="clear-top-margin"><i class="fa fa-book"></i>CLASS</label>
                            <select v-model="class_id" required>
                                <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>SUBJECT</label>
                            <select v-model="selected_course" required>
                                <option v-for="item in $store.state.courses" :value="item">
                                    {{item.course.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>TEACHER</label>
                            <input required type="text" :value="selected_teacher.full_name" disabled>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-3 pull-right">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                SAVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selectCreate",
        data(){
            return{
                loading:false,timetable:{},teacher_id:'',selected_course:{},class_id:'',selected_teacher:'',
            }
        },
        methods:{
            save(){
                this.loading = true;
                let slot = {};
                slot.day = this.timetable.day;
                slot.slot_id = this.timetable.slot_id;
                slot.course_id = this.selected_course.course_id;
                slot.class_id = this.class_id;
                slot.teacher_id = this.selected_teacher.id;
                axios.post('/timetables',slot)
                    .then(resp=>{
                        this.$store.state.classTimeTable = resp.data.full_timetable;
                        this.$store.state.classSlots = resp.data.class_slots;
                        this.$store.state.class_name = resp.data.class_name;

                        //for updates
                        this.$store.state.Updatecourses = resp.data.courses;
                        this.$store.state.UpdateclassTimeTable = resp.data.full_timetable;
                        this.$store.state.UpdateclassSlots = resp.data.class_slots;
                        this.showAlert('Slot Added Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert(error.response.data.message,'error');
                        this.loading = false;
                    })

            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            }
        },
        watch:{
            class_id:function (value) {
                axios.get('/time-tables/getTeachers/'+value)
                    .then(resp=>{
                        this.$store.state.courses = resp.data.courses;
                        this.$store.state.classTimeTable = resp.data.full_timetable;
                        this.$store.state.classSlots = resp.data.class_slots;
                        this.$store.state.class_name = resp.data.class_name;
                        //for updates
                        this.$store.state.Updatecourses = resp.data.courses;
                        this.$store.state.UpdateclassTimeTable = resp.data.full_timetable;
                        this.$store.state.UpdateclassSlots = resp.data.class_slots;
                    })
                    .catch(error=>{

                    })
            },
            selected_course:function (value) {
                this.selected_teacher = value.teacher
            }
        }
    }
</script>

<style scoped>

</style>