<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-sm-12">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-plus-circle"></i>OVERVIEW</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <div class="col-sm-12 col-md-2">
                                    <div class="avatar-wrapper">
                                        <img style="max-width: unset" class="profile-pic" src="/image_home/user.png" alt="" />
                                    </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <table class="table-condensed table table-responsive table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="text-transform:uppercase;font-size:16px" colspan="2">
                                            {{$store.state.students.name}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="label-name">Ref No</td>
                                        <td class="label-data">{{$store.state.students.ref_no}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name">Status</td>
                                        <td class="label-data">{{$store.state.students.status}}</td>
                                    </tr>
                                    <template v-if="$store.state.students.wallet">
                                        <tr v-if="$store.state.students.wallet.owing">
                                            <td class="label-name">Amount Owing</td>
                                            <td class="label-data">GHS {{parseFloat($store.state.students.wallet.balance).toFixed(2) * -1}}</td>
                                        </tr>
                                        <tr v-else>
                                            <td class="label-name">Amount Owing You</td>
                                            <td class="label-data">GHS {{parseFloat($store.state.students.wallet.balance).toFixed(2)}}</td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12">
                                <el-tabs v-model="activeName" @tab-click="handleDetailView">
                                    <el-tab-pane label="Details" name="detail"></el-tab-pane>
                                    <el-tab-pane label="Guardians" name="guardians">
                                        <span slot="label">
                                             Guardians
                                                 <el-badge class="mark" :value="$store.state.students.guardians.length" type="primary"/>
                                        </span>
                                    </el-tab-pane>
                                    <el-tab-pane label="Edit" name="Edit">
                                        <span slot="label">
                                            <a style="color:black" :href="'/admin/students/'+this.$store.state.students.username +'/edit'">Edit</a>
                                        </span>
                                    </el-tab-pane>
                                    <el-tab-pane label="Transactions" name="transactions">
                                    </el-tab-pane>
                                    <el-tab-pane label="Send SMS" name="sms">
                                    </el-tab-pane>
                                    <el-tab-pane label="ChangePassword" name="ChangePassword"></el-tab-pane>
                                    <el-tab-pane label="Remove" name="remove"></el-tab-pane>
                                </el-tabs>
                            </div>
                        </el-card>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div v-if="activeName === 'detail' || activeName === 'ChangePassword'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>DETAIL</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <div class="col-sm-6">
                                <div class="profile-badge azure">
                                    <i class="fa fa-user azure"></i>
                                    <span>Profile</span>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-striped table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="label-name">LAST NAME</td>
                                            <td class="label-data">{{$store.state.students.lname}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">FIRST NAME</td>
                                            <td class="label-data">{{$store.state.students.fname}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">MIDDLE NAME</td>
                                            <td class="label-data">{{$store.state.students.mname}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">DATE OF BIRTH</td>
                                            <td class="label-data">{{$store.state.students.birth_date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">GENDER</td>
                                            <td class="label-data">{{$store.state.students.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">ADMISSION DATE</td>
                                            <td class="label-data">{{$store.state.students.admission_date}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="profile-badge orange">
                                    <i class="fa fa-phone orange"></i>
                                    <span>Contact</span>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-striped table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="label-name">Mobile</td>
                                            <td class="label-data">{{$store.state.students.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">Phone</td>
                                            <td class="label-data"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">Email</td>
                                            <td class="label-data">{{$store.state.students.email}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="profile-badge azure">
                                    <i class="fa fa-map-marker azure"></i>
                                    <span>Address</span>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-striped table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="label-name">country</td>
                                            <td class="label-data">{{$store.state.students.country.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">state</td>
                                            <td class="label-data">{{$store.state.students.state.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="label-name">city</td>
                                            <td class="label-data">{{$store.state.students.city}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </el-card>
                    </div>
                </div>
                <div v-if="activeName === 'guardians' || activeName === 'ChangePassword'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>GUARDIANS</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Mobile</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Relation</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in $store.state.students.guardians">
                                    <td class="text-center">{{item.name}}</td>
                                    <td class="text-center">{{item.contact}}</td>
                                    <td class="text-center">{{item.email}}</td>
                                    <td class="text-center">{{item.pivot.relation}}</td>
                                    <td class="text-center">
                                        <button @click.prevent="unassignGuardian(index,item.pivot.id)" class="btn btn-sm btn-danger">
                                            <span class="fa fa-user-times"></span>
                                            <span>Unassign</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </el-card>
                    </div>
                </div>
                <div v-if="activeName === 'transactions'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL TRANSACTIONS</h6>
                    <div class="inner-item">
                        <el-card shadow="hover" :body-style="{ padding: '5px' }">
                            <!--//transaction history-->
                            <data-tables  v-loading="loading"
                                          :data="this.$store.state.students.transactions"
                                          :pagination-props="{ pageSizes: [5, 10, 15] }">
                                <el-table-column width="150"
                                                 v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                                 :class="'text-center'">
                                </el-table-column>
                                <el-table-column
                                        prop="category"
                                        label="Category"
                                        width="100" filter-placement="bottom-end">
                                    <template slot-scope="scope">
                                        <el-tag
                                                :type="scope.row.category === 'expense' ? 'primary' : 'success'"
                                                disable-transitions>{{scope.row.category}}</el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="user.name" width="150"
                                        label="Created By">
                                </el-table-column>
                            </data-tables>

                        </el-card>
                    </div>
                </div>
                <div v-if="activeName === 'sms'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>SMS TO GUARDIANS
                        <span class="pull-right">
                            {{characterCount}} Characters Remaining | {{messageCount}} Unit<span v-if="messageCount > 1">s</span></span>
                    </h6>
                    <div class="inner-item">
                        <div  class="row dash-form dash-search-form">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 ">
                                <form action="" @submit.prevent="sendSingleSMS">
                                    <label for="">Message</label>
                                    <textarea name="" id="singleSMS" v-model="singleMessage" required></textarea>
                                    <button type="submit" class="submit-btn ld-ext-right pull-right"
                                            :class="{'running':loading}" :disabled="loading">
                                        SEND
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="activeName === 'remove'" class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>REMOVE</h6>
                    <div class="inner-item">
                            <el-card shadow="hover" :body-style="{ padding: '5px' }">
                                    <div class="col-sm-6">
                                        <el-alert
                                                :title="warningText"
                                                type="warning"
                                                show-icon>
                                        </el-alert>
                                        <hr>
                                        For students leaving the Institution. Use this option to remove
                                        them from the list of active students and
                                        place them in the former students list.
                                       <div class="dash-form">
                                           <label for="">Reason</label>
                                           <textarea></textarea>
                                           <el-button type="warning" round>REMOVE</el-button>
                                       </div>
                                        <div class="clearfix"></div>
                                    </div>

                                <div class="col-sm-6">
                                    <el-alert
                                            :title="errorText"
                                            type="error"
                                            show-icon>
                                    </el-alert>
                                    <hr>
                                    <p>Use this option only if you created the student record by accident and want to remove it completely.</p>
                                    <el-button type="danger" round>DELETE</el-button>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
            </div>
            <div id="editDetailModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>CHANGE PASSWORD</h4>
                        </div>
                        <form action="" @submit.prevent="updatePassword">
                            <div class="modal-body dash-form">
                                <div class="col-sm-4">
                                    <label class="clear-top-margin">CURRENT PASSWORD</label>
                                    <input type="password"  v-model="passwords.current" required/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="clear-top-margin">NEW PASSWORD</label>
                                    <input type="password" v-model="passwords.password" required/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="clear-top-margin">REPEAT PASSWORD</label>
                                    <input type="password" v-model="passwords.password_confirmation" required/>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <div class="table-action-box dash-search-form">
                                    <div class="col-sm-3 pull-right clear-top-margin">
                                        <button type="submit" class="submit-btn clear-top-margin ld-ext-right"
                                                :class="{'running':loading}" :disabled="loading">
                                            UPDATE
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </div>
                                   <div class="col-sm-2 pull-left clear-top-margin">
                                       <a class="cancel" data-dismiss="modal">CLOSE</a>
                                   </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        name: "index",
        props:['students'],
        data(){
            return{
                activeName : 'detail',
                warningText:' Warning Be sure to select the last date student is assumed to have been an active student of this Institution. Selected date has effects across the application and can not be edited or reversed.',
                errorText:'All records associated with student will be deleted and cannot be recovered.',
                passwords:{},loading:false,characterCount:160,messageCount:1,singleMessage:'',
                titles:[
                    {
                        label:'Class',
                        prop:'student.student_class.name'
                    },
                    {
                        label:'Amount',
                        prop:'amount'
                    },
                    {
                        label:'Receipt No',
                        prop:'receipt.receipt_no'
                    },
                    {
                        label:'Date',
                        prop:'date'
                    },
                    {
                        label:'Term',
                        prop:'term.display_name'
                    },
                    {
                        label:'Year',
                        prop:'academic_year.name'
                    },

                ]
            }
        },
        methods:{
            handleDetailView(tab,event){
                if(tab.name === 'ChangePassword'){
                    $('#editDetailModal').modal('show')
                }

            },
            unassignGuardian(index,id){
                if(confirm('Are You sure about this action?')){
                    axios.get('/admin/students/unassign-guardian/'+id)
                        .then(resp=>{
                            this.$store.state.students.guardians.splice(index,1);
                            this.showAlert('Unassigned Successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                        })
                }
            },
            updatePassword(){
                    this.loading = true;
                    this.passwords.id = this.$store.state.students.id;
                    axios.post('/admin/students/update-password',this.passwords)
                        .then(resp=>{
                            $('#editDetailModal').modal('hide')
                            this.showAlert('Password Updated Successfully','success');
                            this.loading = false;
                        })
                        .catch(error=>{
                            if(error.response.status === 422){
                                let keys = Object.keys(error.response.data.errors)
                                let item = keys[0]
                                let finalError = error.response.data.errors[item]
                                this.showAlert(finalError,'error')
                            }else{
                                this.showAlert('sorry an error occurred','error')
                            }
                            this.loading = false;
                        })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            sendSingleSMS(){
                if(confirm('Are You Sure You want to perform this action?')){
                    this.loading = true;
                    axios.post(`/manage-sms/send-single/${this.$store.state.students.id}`,
                        {text:this.singleMessage,guardians:this.$store.state.students.guardians,units:this.messageCount})
                        .then(resp=>{
                            this.showAlert('Message Forwarded to handset','success');
                            this.loading = false;
                        })
                        .catch(error=>{
                            if(error.response.status === 501){
                                this.showAlert('You are not authorised to perform this action','error');
                            }else if(error.response.status === 422){
                                this.showAlert('This Student has no assigned guardians to receive this sms','error');
                            }
                            else{
                                this.showAlert('Sorry an error occurred','error');
                            }
                            this.loading = false;
                        })
                }
            },
            countSMS(value){
                let length = SmsHelper.count(value);
                let parts = SmsHelper.parts(value);
                let encoding =  SmsHelper.detectEncoding(value);
                let per_message = 160;
                let multi = 153
                if(encoding === 'UTF16'){
                    per_message = 70;
                    multi = 67;
                }
                if (length > per_message) {
                    per_message =  multi;/*this.multiMessageLength[encoding];*/
                }
                let messages = Math.ceil(length / per_message);
                this.characterCount = (per_message * messages) - length;
                if(this.characterCount == 0 && messages == 0){
                    this.characterCount = per_message;
                }
                this.messageCount = SmsHelper.parts(value);
            }
        },
        mounted(){
            this.$store.state.students = JSON.parse(this.students);
        },
        watch:{
            singleMessage:function (value) {
                this.countSMS(value);
            },
        }
    }
</script>

<style scoped>
    .label-name{
        font-weight: bold;
        text-transform: uppercase;
    }
    .label-data{
        text-transform: uppercase;
    }
    .mark{
        background:transparent;
        margin-bottom: -8px;
    }
    .orange {
        color: #fb6e52 !important;
    }
    .table-wrapper{
        padding-top: 10px;
    }
    .user-overview{
        display:flex;
        align-items: stretch;
        flex-direction: column;
    }
    .avatar-wrapper {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: none;
        margin: 0 10px 30px 0;
        transition: all .3s ease;
    }
    .avatar-wrapper:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .avatar-wrapper .profile-pic {
        height: 100% !important;
        width: 100% !important;
        display: block;
        transition: all .3s ease;
        object-fit: cover;
        border-radius: 50%;
    }

    .avatar-wrapper .profile-pic:after {
        font-family: Feather-Icons;
        content: "\e9f1";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 120px;
        position: absolute;
        font-size: 60px;
        background: #f0f0f0;
        color: #aaa;
        text-align: center;
    }
   .profile-badge i {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        background-image: linear-gradient(to bottom, #eee 0, #fbfbfb 100%);
        z-index: 100;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        box-shadow: 0 1px 6px rgba(0,0,0,0.175);
        color: #444444;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
    }
    .azure {
        color: #2dc3e8 !important;
    }
    .profile-badge span {
        font-size: 26px;
        margin-left: 20px;
        font-weight: 300;
    }
</style>