<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <div class="col-sm-12">
                <div class="first-dash-item dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL GUARDIANS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true"
                                      :data="
                                      guardians.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase().trim()))
                                      || data.fname.toLowerCase().includes(search.toLowerCase().trim())
                                      || data.lname.toLowerCase().includes(search.toLowerCase().trim())"
                                      :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column v-for="item in titles" width="200px" :prop="item.prop" :label="item.name" :key="'item.email'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column prop="email" label="Email" key="Email" width="200px">
                            </el-table-column>
                            <el-table-column :prop="gender" :label="'Gender'" :key="'Gender'" :class="'text-center'">
                                <template slot-scope="scope">
                                    <el-tag
                                            :type="scope.row.tag === 'male' ? 'primary' : 'success'"
                                            disable-transitions>{{scope.row.gender}}</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column width="230px" align="right" fixed="right">
                                <template slot="header" slot-scope="scope">
                                    <el-input
                                            v-model="search"
                                            size="mini"
                                            placeholder="Type to search"/>
                                </template>
                                <template slot-scope="scope">
                                    <button @click.prevent="showModal(scope.$index,scope.row)" class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button @click.prevent="deleteGuardian(scope.$index,scope.row)" class="btn btn-danger btn-sm">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <div id="editDetailModal" class="modal fade" data-backdrop="static" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>GUARDIAN INFO</h4>
                    </div>
                    <form action="" @submit.prevent="attemptUpdate">
                        <div class="modal-body ">
                            <div class="dash-item first-dash-item">
                                <h6 class="item-title" style="text-transform: uppercase">
                                    PERSONAL INFORMATION</h6>
                                <div class="dash-form">
                                    <div class="inner-item">
                                        <div class="dash-form">

                                            <div class="col-sm-4">
                                                <label class="clear-top-margin"><i class="star">*</i>LASTNAME</label>
                                                <input  type="text"  v-model="parentData.lname"  required/>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="clear-top-margin"><i class="star">*</i>FIRST NAME</label>
                                                <input  type="text"  v-model="parentData.fname"  required/>
                                            </div>

                                            <div class="col-sm-4">
                                                <label class="clear-top-margin"><i class="star">*</i>MIDDLE NAME</label>
                                                <input  type="text"  v-model="parentData.mname" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label >TITLE</label>
                                                <input  type="text"  v-model="parentData.title" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label ><i class="star">*</i>GENDER</label>
                                                <select name="" v-model="parentData.gender" required>
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label><i class="star">*</i>EMAIL</label>
                                                <input  type="text" v-model="parentData.email" />
                                            </div>

                                            <div class="col-sm-4">
                                                <label><i class="star">*</i>MOBILE</label>
                                                <vue-tel-input class="custom__input__intl" v-model="parentData.contact"
                                                               @onInput="onInput">
                                                </vue-tel-input>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ALT MOBILE</label>
                                                <vue-tel-input class="custom__input__intl" v-model="parentData.alt_contact"
                                                               @onInput="altInput">
                                                </vue-tel-input>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>OCCUPATION</label>
                                                <el-select filterable  v-model="parentData.occupation" placeholder="Select">
                                                    <el-option
                                                            v-for="(item,index) in occupations.occupations"
                                                            :key="index"
                                                            :label="item"
                                                            :value="item">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dash-item">
                                <h6 class="item-title" style="text-transform: uppercase">
                                    WARD INFORMATION</h6>
                                <div class="dash-form">
                                    <div class="inner-item">
                                        <div class="dash-form">
                                            <div class="col-sm-4">
                                                <label class="clear-top-margin" for="">Can Pick Up?</label>
                                                <div class="slideTwo">
                                                    <input type="checkbox" v-model="parentData.pick" value="None" id="slideTwo" name="check" />
                                                    <label for="slideTwo"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dash-item">
                                <h6 @click="check(index)" class="item-title" style="text-transform: uppercase">
                                    ADDRESS INFORMATION</h6>
                                <div class="inner-item">
                                    <div class="dash-form">
                                        <div class="col-sm-4">
                                            <label class="clear-top-margin"><i class="star">*</i>CITY</label>
                                            <input  type="text"  v-model="parentData.city"/>
                                        </div>
                                        <div class="col-sm-12">
                                            <label><i class="star ">*</i>ADDRESS</label>
                                            <textarea v-model="parentData.address"></textarea>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box dash-search-form">
                                <div class="col-sm-3 pull-right">
                                    <button  class="submit-btn clear-top-margin ld-ext-right"
                                             :class="{'running':loading}" :disabled="loading">SAVE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                                <div class="col-sm-3 pull-left">
                                    <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        data(){
            return{
                titles:[
                    {
                        name:'Title',
                        prop:'title',
                    },
                    {
                        name:'Name',
                        prop:'name'
                    },
                    {
                        name:'Contact',
                        prop:'contact',
                    },
                    {
                        name:'Alt Contact',
                        prop:'alt_contact',
                    },
                    {
                        name:'Address',
                        prop:'address',
                    },
                    {
                        name:'City',
                        prop:'city',
                    },
                ],
                guardians:[],
                parentData:{},
                loading : false,
                contact:{
                    valid:true
                },
                alt:{
                    valid:true
                },
                occupations:[],
                index:'',
                search:''
            }
        },
        props:['parents','jobs'],
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            showModal(index,row){
                this.index = index;
                this.parentData = row;
                $('#editDetailModal').modal('show')
            },
            onInput({ number, isValid, country }) {
                this.contact.valid = isValid;
                this.contact.contact = number;
                console.log(number, isValid, country);
            },
            altInput({ number, isValid, country }){
                this.alt.valid = isValid;
                this.alt.contact = number;
            },
            attemptUpdate(){
                if((!this.contact.valid && this.contact.contact.length > 0) || (!this.alt.valid && this.alt.contact.length > 0)){
                    if(!this.contact.valid){
                        this.showAlert(`${this.contact.contact} is invalid`,'error');
                    }
                    if(!this.alt.valid){
                        this.showAlert(`${this.alt.contact} is invalid`,'error');
                    }
                }else{
                    this.loading = true;
                    axios.put(`/admin/school-details/all-guardians-edit/${this.parentData.id}`,this.parentData)
                        .then(resp=>{
                            this.guardians.splice(this.index,1);
                            this.guardians.unshift(resp.data);
                            this.showAlert('updated successfully','success');
                            $('#editDetailModal').modal('hide');
                            this.loading = false;
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                            this.loading = false;
                        })
                }
            },
            deleteGuardian(index,row){
                if(confirm('Are You sure about this action?')){
                    let data = {};
                    data.id = row.id;
                    data.name = row.name;
                    data.count = row.wards_count;
                    axios.post('/admin/school-details/all-guardians-delete',data)
                        .then(resp=>{
                            this.guardians.splice(index,1);
                            this.showAlert(`${data.name} removed successfully`,'success');
                        })
                        .catch(error=>{
                            if(error.response.status === 422){
                                this.showAlert(`${data.name} has wards in this school, <br> hence cannot be deleted`,'error');
                            }else{
                                this.showAlert('sorry an error occurred','error')
                            }
                        })
                }
            }
        },
        mounted(){
            this.guardians = JSON.parse(this.parents);
            this.occupations = JSON.parse(this.jobs);
        }
    }
</script>

<style scoped>
    .star{
        color: red;
    }
    .plus-sign{
        font-weight:900;
        font-size:19px;
    }
    .custom-hide{
        display: none;
    }
    .el-select{
        display: block;
    }
    .slideTwo {
        width: 80px;
        height: 30px;
        background: #333;
        position: relative;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    }
    .slideTwo:after {
        content: "";
        position: absolute;
        top: 14px;
        left: 14px;
        height: 2px;
        width: 52px;
        background: #111;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    }
    .slideTwo label {
        display: block;
        width: 22px;
        height: 22px;
        cursor: pointer;
        position: absolute;
        top: -16px;
        z-index: 1;
        left: 4px;
        background: #fcfff4;
        border-radius: 50px;
        transition: all 0.4s ease;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    }
    .slideTwo label:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6px;
        left: 6px;
        background: #333;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
    }
    .slideTwo input[type="checkbox"] {
        visibility: hidden;
    }
    .slideTwo input[type="checkbox"]:checked + label {
        left: 54px;
    }
    .slideTwo input[type="checkbox"]:checked + label:after {
        background: #27ae60;
        /*activeColor*/
    }

</style>