<template>
    <div class="col-sm-4">
            <div class="dash-item first-dash-item">
                <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD ITEM</h6>
                <div class="inner-item">
                    <form action="" @submit.prevent="attemptSave">
                        <div class="dash-form">
                            <label class="clear-top-margin">NAME</label>
                            <input v-model="name" type="text" placeholder="SPORTS FEES" required/>
                            <label>AMOUNT</label>
                            <input v-model="amount" type="number" placeholder="20" required/>
                            <label>ACADEMIC YEAR</label>
                            <select name="" id="" v-model="year" @change="getAllTerms" required>
                                <option>-- Select --</option>
                                <option v-for="item in getYears" :value="item.id" >{{item.name}}</option>
                            </select>
                            <label>TERM</label>
                            <select name="" v-model="term" required>
                                <option v-for="item in getTerms" :value="item.id" >{{item.display_name}}</option>
                            </select>
                            <div class="dash-search-form">
                                <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                    SAVE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
</template>

<script>
    export default {
        name: "breakdown",
        data(){
            return {
                name:'',
                amount:'',
                getYears:null,
                term:'',
                getTerms:null,
                year:'',
                loading:false
            }
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.getYears = resp.data;
            })
        },
        methods:{
            getAllTerms(){
                axios.get('/date/terms/'+this.year).then(resp=>{
                    this.getTerms = resp.data;
                })
            },
            attemptSave(){
                this.loading = true;
                axios.post('/admin/school-details/items/save',{
                    name:this.name,amount:this.amount,year:this.year,term:this.term
                }).then(resp=>{
                    if(resp.data.status == 'success'){
                        window.scrollTo(0,0);
                        this.name = '';this.amount = '';
                        this.$store.state.items.unshift(resp.data.data);
                        this.showAlert('Saved Successfully','success');
                    }else{
                        this.showAlert('This item has already been added','error');
                    }
                    this.loading = false;
                }).catch(error=>{
                    this.showAlert('sorry an error occurred','error');
                    this.loading = false
                })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },


        },
        computed:{
            validate(){
                return this.name && this.term && this.amount && this.amount > 0 && this.year && this.year !='-- Select --';
            }
        },

    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }
    .cColor{
        color: #2ab27b;
    }

</style>