<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-item></add-item>
            <div class="col-sm-8">
                <div class="dash-item first-dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL ITEMS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.items" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'amount'" :label="'Amount'" :key="'Amount'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'term.display_name'" :label="'Term'" :key="'Term'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'academic_year.name'" :label="'Year'" :key="'Year'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="showModal(scope.$index, scope.row)" class="btn btn-primary">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <button @click="deleteItem(scope.$index, scope.row.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <form @submit.prevent="updateItem">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT ITEM DETAILS</h4>
                    </div>
                    <div class="modal-body dash-form">
                        <div class="col-sm-4">
                            <label class="clear-top-margin">NAME</label>
                            <input type="text" v-model="name"/>
                        </div>
                        <div class="col-sm-4">
                            <label class="clear-top-margin">AMOUNT</label>
                            <input type="number" v-model="amount"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer dash-search-form">
                        <div class="table-action-box">
                            <div class="col-sm-3 pull-left">
                                <a href="#" class="cancel" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                            <div class="col-sm-3 pull-right ">
                                <button type="submit" class="submit-btn ld-ext-right clear-top-margin" :class="{'running':loading}" :disabled="loading">
                                    UPDATE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

</template>

<script>
    import AddItem from './breakdown.vue';
    export default {
        name: "index",
        props:['items'],
        components:{
            AddItem
        },
        data(){
            return{
                loading:false,
                currentItem:{},amount:0,name:'',id:'',index:''
            }
        },
        methods:{
            showModal(index,row){
                this.id = row.id;
                this.index = index;
                this.name = row.name;
                let array = row.amount.split(' ');
                this.amount = array[1];
                $('#editDetailModal').modal('show')
            },
            updateItem(){
                this.loading = true;
                this.currentItem.name = this.name;
                this.currentItem.amount = this.amount;
                axios.put('/admin/school-details/items/update/'+this.id,this.currentItem)
                    .then(resp=>{
                        $('#editDetailModal').modal('hide');
                        this.$store.state.items.splice(this.index,1);
                        this.$store.state.items.unshift(resp.data);
                        this.showAlert('Updated Successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        if(error.response.status === 501){
                            this.showAlert('Duplicate Entry','error')
                        }else{
                            this.showAlert('sorry an error occurred','error')
                        }
                        this.loading = false;
                    })
            },
            deleteItem(index,id){
                if(confirm('Are You sure you want to perform this action?')){
                    axios.delete('/admin/school-details/items/delete/'+id)
                        .then(resp=>{
                            this.$store.state.items.splice(index,1);
                            this.showAlert('Deleted Successfully','success');
                        })
                        .catch(error=>{
                            if(error.response.status === 501){
                                this.showAlert('items linked with fees cannot be deleted','warning');
                            }else{
                                this.showAlert('sorry an error occurred','error');
                            }
                        })
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },

        },
        mounted(){
            this.$store.state.items = JSON.parse(this.items);
        }
    }
</script>

<style scoped>

</style>