<template>
    <div class="col-sm-12 hide-for-printing">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD SLOT</h6>
            <div class="inner-item dash-search-form">
                <form action="" @submit.prevent="save">
                    <div class="dash-form">
                        <div class="col-sm-3">
                            <label class="clear-top-margin">NAME</label>
                            <input v-model="slot.name" type="text" required>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">START</label>
                            <input v-model="slot.start" type="time" required>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">END</label>
                            <input v-model="slot.end" type="time" required>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                SAVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "create",
        data(){
            return {
                slot:{},loading:false
            }
        },
        methods:{
            save(){
                this.loading = true;
                axios.post('/admin/slots',this.slot)
                    .then(resp=>{
                        this.$store.state.slots.unshift(resp.data.slot);
                        this.loading = false;
                        this.showAlert('Saved Successfully','success');
                    })
                    .catch(error=>{
                        if(error.response.status == 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }else{
                            this.showAlert('Sorry an Error Occurred','error');
                        }
                        this.loading = false
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            }
        }
    }
</script>

<style scoped>

</style>