<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <create-slot></create-slot>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title hide-for-printing"><i class="fa fa-sliders"></i>ALL SLOTS</h6>
                    <div class="inner-item">
                        <table class="table table-responsive table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>SLOT</th>
                                <th>START</th>
                                <th>END</th>
                                <th class="hide-for-printing">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in $store.state.slots">
                                <td>{{item.name}}</td>
                                <td>{{item.start}}</td>
                                <td>{{item.end}}</td>
                                <td class="hide-for-printing">
                                    <button @click.prevent="showModal(item.id)" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span></button>
                                    <button @click.prevent="remove(item.id)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade hide-for-printing" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT SECTION DETAILS</h4>
                    </div>
                    <form action="" @submit.prevent="update">
                        <div class="modal-body dash-form dash-search-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin">NAME</label>
                                <input required type="text" v-model="selected_record.name" />
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">START</label>
                                <input type="time" v-model="selected_record.start" />
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">END</label>
                                <input type="time" v-model="selected_record.end"/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box">
                                <button type="submit" class="btn btn-success pull-right ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                    UPDATE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                                <a href="#" class="cancel pull-left" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreateSlot from './create.vue'
    export default {
        name: "index",
        props:['slots'],
        data(){
            return{
                loading:false,selected_record:{}
            }
        },
        components:{
            CreateSlot
        },
        methods:{
            showModal(id){
                let temp = null;
                let here = this;
                $.each(here.$store.state.slots,(key,value)=>{
                    if(value.id == id){
                        temp = value;
                        return false
                    }
                })
                if(temp != null){
                    this.selected_record = temp;
                }
                $('#editDetailModal').modal('show')
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            update(){
                this.loading = true
                let temp = null;
                let here = this;
                axios.put('/admin/slots/'+this.selected_record.id,this.selected_record)
                    .then(resp=>{
                        $.each(here.$store.state.slots,(key,value)=>{
                            if(value.id == here.selected_record.id){
                                temp = key;
                                return false
                            }
                        })
                        if(temp != null){
                            this.$store.state.slots[temp] = this.selected_record;
                        }
                        $('#editDetailModal').modal('hide');
                        this.loading = false;
                        this.showAlert('Updated Successfully','success');
                    })
                    .catch(error=>{
                        if(error.response.status == 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }else{
                            this.showAlert('Sorry an Error Occurred','error');
                        }
                        this.loading = false
                    })
            },
            remove(id){
                if(confirm('Are you sure about this action?')){
                    axios.delete('/admin/slots/'+id)
                        .then(resp=>{
                            let temp = null;
                            let here = this;
                            $.each(here.$store.state.slots,(key,value)=>{
                                if(value.id == here.selected_record.id){
                                    temp = key;
                                    return false
                                }
                            })
                            if(temp != null){
                                this.$store.state.slots.splice(temp,1);
                            }
                            this.showAlert('Deleted Successfully','success');
                        })
                        .catch(error=>{
                            this.showAlert('Sorry an Error Occurred','error');
                        })
                }
            }
        },
        mounted(){
            this.$store.state.slots = JSON.parse(this.slots);
        }
    }
</script>

<style scoped>
tr > td,tr > th{
    text-align: center;
}
</style>