<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><button @click.prevent="toggleHide" class="btn btn-success">ADD</button></h6>
            <transition name="mark">
                <div v-show="showAdd" class="inner-item">
                    <div class="dash-form dash-search-form">
                        <form action="" @submit.prevent="save">
                            <div class="col-sm-3">
                                <label for="" class="clear-top-margin">NAME</label>
                                <input id="first-input-item" v-model="category.name" type="text" required autofocus>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="clear-top-margin">CATEGORY</label>
                                <select name="" id="" v-model="category.category" required>
                                    <option value="service">Service</option>
                                    <option value="product">Product</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pull-right">
                                <button  type="submit" class="submit-btn  ld-ext-right"
                                         :class="{'running':loading}" :disabled="loading">SAVE
                                    <div class="ld ld-ring ld-spin"></div>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </transition>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                category:{},loading:false,showAdd:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            save(){
                this.loading = true;
                axios.post('/finances/expenses-categories',this.category)
                    .then(resp=>{
                        this.$store.state.expenseCategories.unshift(resp.data);
                        this.showAlert('Added Successfully','success');
                        this.loading = false;
                        this.category = {}
                    })
                    .catch(errors=>{
                        if(errors.response.status == 501){
                            this.showAlert(errors.response.data.message,'error')
                        }else{
                            this.showAlert('Sorry an error Occurred','error')
                        }
                        this.loading = false;
                    })
            },
            toggleHide(){
                if(this.showAdd){
                    this.showAdd = false;
                }else{
                    this.showAdd = true;
                    $('#first-input-item').attr('autofocus','autofocus');
                }
            }
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
</style>