<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-category></add-category>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SLOTS</h6>
                    <div class="inner-item">
                        <data-tables  @selection-change="handleSelectionChange"
                                      :data="$store.state.expenseCategories.
                                      filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()) || data.user.name.toLowerCase().includes(search.toLowerCase()))"
                                      :pagination-props="{ pageSizes: [5, 10, 15] }">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                    :class="'text-center'">
                            </el-table-column>
                            <el-table-column
                                    align="right">
                                <template slot="header" slot-scope="scope">
                                    <el-input v-model="search" size="mini" placeholder="Type to search"/>
                                </template>
                                <template slot-scope="scope">
                                    <el-button
                                            class="btn btn-sm btn-primary"
                                            size="mini"
                                            @click="handleEdit(scope.$index, scope.row)">
                                        <span class="fa fa-edit"></span>
                                    </el-button>
                                    <el-button
                                            class="btn btn-sm btn-danger"
                                            size="mini"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">
                                        <span class="fa fa-trash"></span>
                                    </el-button>
                                </template>
                            </el-table-column>

                        </data-tables>
                        <div style="margin-top: 20px">
                            <button @click.prevent="deleteBulkItems"  type="submit" class="btn btn-danger  ld-ext-right"
                                     :class="{'running':loading}" :disabled="loading">DELETE SELECTION
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content dash-search-form">
                    <form action="" @submit.prevent="update">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT SECTION DETAILS</h4>
                        </div>
                        <div class="modal-body dash-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin">NAME</label>
                                <input type="text" placeholder="" v-model="editRow.name"  required/>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="clear-top-margin">CATEGORY</label>
                                <select name="" id="" required v-model="editRow.category">
                                    <option value="Service">Service</option>
                                    <option value="Product">Product</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="table-action-box">
                                <div class="col-sm-2 pull-right">
                                    <button  type="submit" class="submit-btn  ld-ext-right"
                                             :class="{'running':loading}" :disabled="loading">UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                                <a href="#" class="cancel pull-left" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddCategory from './add.vue';
    export default {
        name: "index",
        props:['categories'],
        data(){
            return{
                titles:[
                    {
                        prop:'name',
                        label:'Name',
                    },
                    {
                        prop:'category',
                        label:'Category',
                    },
                    {
                        prop:'user.name',
                        label:'Created By',
                    },
                ],
                search:'',editRow:{},loading:false,bulkDelete:[]
            }
        },
        components:{
            AddCategory
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            deleteBulkItems(){
                if(this.bulkDelete.length <= 0){
                    this.showAlert('Please Selected Something','warning');
                }else{
                    if(confirm('Are You Sure about this action?')){
                        this.loading = true;
                        axios.post('/finances/bulk-delete',{data:this.bulkDelete})
                            .then(resp=>{
                                this.$store.state.expenseCategories = resp.data;
                                this.showAlert('Deleted Successfully','success')
                                this.loading = false;
                            })
                            .catch(error=>{
                                this.showAlert('Sorry an error Occured')
                                this.loading = false;
                            })
                    }
                }
            },
            handleSelectionChange(val){
                this.bulkDelete = val;
            },
            handleDelete(scope,row){
                if(confirm('Are You Sure')){
                    axios.delete("/finances/expenses-categories/"+row.id)
                        .then(resp=>{
                            this.$store.state.expenseCategories.splice(scope,1);
                            this.showAlert('Deleted successfully','success');

                        })
                        .catch(error=>{
                            this.showAlert('Sorry an error occurred','error')
                        })
                }
            },
            handleEdit(scope,row){
                this.editRow = row;
                $('#editDetailModal').modal('show')
            },
            update(){
                this.loading = true
                axios.put('/finances/expenses-categories/'+this.editRow.id,this.editRow)
                    .then(resp=>{
                        this.showAlert('Updated Successfully','success')
                        $('#editDetailModal').modal('hide')
                        this.loading = false

                    })
                    .catch(errors=>{
                        if(errors.response.status == 501){
                            this.showAlert(errors.response.data.message,'error')
                        }else{
                            this.showAlert('Sorry an error Occurred','error')
                        }
                        this.loading = false;
                    })
            }
        },
        mounted(){
            this.$store.state.expenseCategories = JSON.parse(this.categories);
        }
    }
</script>

<style scoped>
.el-table__body > tbody > tr > td{
    text-align:center
}
</style>