<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD SLOT</h6>
            <div class="inner-item dash-search-form">
                <form action="" @submit.prevent="save">
                    <div class="dash-form ">
                        <div class="col-sm-4">
                            <label class="clear-top-margin">INCCOME CATEGORY</label>
                            <select name="" id="" required v-model="expense.income_category_id">
                                <option v-for="item in $store.state.expenseCategories" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">ENTRY DATE</label>
                            <date-picker v-model="expense.date" :required="true" :highligted="Date.now()" :placeholder="'Choose Date'" ></date-picker>
                        </div>
                        <div class="col-sm-3">
                            <label for="" class="clear-top-margin">AMOUNT</label>
                            <input type="number" v-model="expense.amount" required>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="clear-top-margin">QTY</label>
                            <input type="number" v-model="expense.quantity">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <label>DESCRIPTION</label>
                            <textarea v-model="expense.description"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2 pull-right">
                        <button  type="submit" class="submit-btn ld-ext-right"
                                 :class="{'running':loading}" :disabled="loading">SAVE
                            <div class="ld ld-ring ld-spin"></div>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    import VSelect from 'vue-select';
    import DatePicker from 'vuejs-datepicker';
    export default {
        name: "add",
        components:{
            VSelect,
            DatePicker
        },
        data(){
            return{
                loading :false,expense:{}
            }
        },
        methods:{
            save(){
                this.loading = true;
                axios.post('/finances/incomes',this.expense)
                    .then(resp=>{
                        this.loading = false;
                        this.expense = {};
                        this.$store.state.expenses.unshift(resp.data);
                        this.showAlert('Saved Successfully','success');
                    })
                    .catch(error=>{
                        this.loading = false;
                        this.showAlert('Sorry an error','error');
                    })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        }
    }
</script>

<style scoped>
    select > option{
        margin: 15px;
    }
</style>