<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-income></add-income>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SLOTS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading"  @selection-change="handleSelectionChange"
                                      :data="$store.state.expenses.
                                      filter(data => !search || data.category.name.toLowerCase().includes(search.toLowerCase().trim())
                                      || data.amount.toString().toLowerCase().includes(search.toLowerCase().trim())
                                      || data.quantity.toString().toLowerCase().includes(search.toLowerCase().trim())
                                      || data.total.toString().toLowerCase().includes(search.toLowerCase().trim())
                                      || data.date.toLowerCase().includes(search.toLowerCase().trim())
                                      || data.user.name.toLowerCase().includes(search.toLowerCase().trim()))"
                                      :pagination-props="{ pageSizes: [5, 10, 15] }">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                    :class="'text-center'">
                            </el-table-column>
                            <el-table-column
                                    align="right">
                                <template slot="header" slot-scope="scope">
                                    <el-input v-model="search" size="mini" placeholder="Type to search"/>
                                </template>
                                <template slot-scope="scope">
                                    <el-button
                                            class="btn btn-sm btn-primary"
                                            size="mini"
                                            @click="showModal(scope.$index, scope.row)">
                                        <span class="fa fa-edit"></span>
                                    </el-button>
                                    <el-button
                                            class="btn btn-sm btn-danger"
                                            size="mini"
                                            type="danger"
                                            @click="deleteExpense(scope.$index, scope.row.id)">
                                        <span class="fa fa-trash"></span>
                                    </el-button>
                                </template>
                            </el-table-column>

                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit details modal-->
        <div id="editDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i>EDIT INCOME DETAILS</h4>
                    </div>
                    <form action="" @submit.prevent="editExpense">
                        <div class="modal-body dash-form">
                            <div class="col-sm-4">
                                <label class="clear-top-margin">INCOME CATEGORY</label>
                                <select name="" id="" required v-model="currentItem.income_category_id">
                                    <option v-for="item in $store.state.expenseCategories" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="clear-top-margin">ENTRY DATE</label>
                                <el-date-picker
                                        v-model="currentItem.date"
                                        type="date"
                                        placeholder="Pick a day">
                                </el-date-picker>
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="clear-top-margin">AMOUNT</label>
                                <input type="number" required v-model="amount">
                            </div>
                            <div class="col-sm-2">
                                <label for="">QTY</label>
                                <input type="number" v-model="currentItem.quantity">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12">
                                <label>DESCRIPTION</label>
                                <textarea v-model="currentItem.description"></textarea>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer dash-search-form">
                            <div class="table-action-box">
                                <div class="col-sm-2 pull-right">
                                    <button  type="submit" class="submit-btn clear-top-margin ld-ext-right"
                                             :class="{'running':loading}" :disabled="loading">UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                                <a href="#" class="cancel pull-left" data-dismiss="modal"><i class="fa fa-ban"></i>CLOSE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddIncome from './add.vue'
    export default {
        name: "expenses",
        props:['categories','incomes'],
        data(){
            return{
                titles:[
                    {
                        label:'Item Name',
                        prop:'category.name'
                    },
                    {
                        label:'Amount',
                        prop:'amount'
                    },
                    {
                        label:'Quantity',
                        prop:'quantity'
                    },
                    {
                        label:'Total',
                        prop:'total'
                    },
                    {
                        label:'Date',
                        prop:'date'
                    },
                    {
                        label:'User',
                        prop:'user.name'
                    },
                ],search:'',loading:false,value1:'',currentItem:{},amount:'',index:''
            }
        },
        components:{
            AddIncome
        },
        mounted(){
            this.$store.state.expenseCategories = JSON.parse(this.categories);
            this.$store.state.expenses = JSON.parse(this.incomes);
        },
        methods:{
            deleteExpense(index,id){
                if(confirm('Are you sure you want to perform this action?')){
                    this.loading = true;
                    axios.delete('/finances/incomes/'+id)
                        .then(resp=>{
                            this.$store.state.expenses.splice(index,1);
                            this.showAlert('deleted successfully','success');
                            this.loading = false
                        })
                        .catch(error=>{
                            this.showAlert('sorry an error occurred','error')
                            this.loading = false;
                        })
                }
            },
            showModal(index,row){
                this.index = index;
                let price = row.amount;
                this.amount = price.split(' ')[1];
                this.currentItem = row;
                $('#editDetailModal').modal('show');
            },
            editExpense(){
                this.loading = true;
                this.currentItem.amount = this.amount;
                axios.put('/finances/incomes/'+this.currentItem.id,this.currentItem)
                    .then(resp=>{
                        this.$store.state.expenses.splice(this.index,1);
                        this.$store.state.expenses.unshift(resp.data);
                        $('#editDetailModal').modal('hide');
                        this.showAlert('updated successfully','success');
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurred','error')
                        this.loading = false;
                    })
            },
            handleSelectionChange(data){},
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        }
    }
</script>

<style scoped>
    td{
        text-align:center;
    }
</style>