<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title">MAKE SELECTION</h6>
            <div class="inner-item">
                <form action="" @submit.prevent="approve">
                    <div class="dash-form dash-search-form">
                        <div class="col-sm-3">
                            <label class="clear-top-margin">ACADEMIC YEAR</label>
                            <select v-model="record.academic_year_id" required>
                                <option v-for="item in $store.state.all_years" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">TERM</label>
                            <select v-model="record.term_id" required>
                                <option v-for="item in $store.state.terms" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                <i class="fa fa-paper-plane"></i> APPROVE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "approve",
        data(){
            return{
                record:{},loading:false
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            approve(){
                if(confirm('Are You sure you want to perform this action?')){
                    this.loading  = true;
                    axios.post('/examination/exam-approvals',this.record)
                        .then(resp=>{
                            //this.$store.state.approvals.unshift(resp.data)
                            this.$emit('tableUpdate',resp.data);
                            this.showAlert('approved successfully','success');
                            this.loading = false
                        })
                        .catch(error=>{
                            if(error.response.status === 401){
                                this.showAlert('This results has already been approved','warning');
                            }else{
                                this.showAlert('sorry an error occurred','error');
                            }
                            this.loading = false
                        })
                }
            }
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.$store.state.all_years = resp.data;
            });
        },
        watch:{
            year:function (value) {
                axios.get('/date/terms/'+value).then(resp=>{
                    this.$store.state.terms = resp.data;
                })
            }
        },
        computed:{
            year:function(){
                return this.record.academic_year_id
            }
        }
    }
</script>

<style scoped>

</style>