<template>
        <div class="row">
            <div class="row" v-for="(item,index) in all_items" :key="index">
                <div class="col-lg-12 clear-padding-xs">
                        <div class="dash-item" :class="{'first-dash-item':index == 'student'}">
                            <h6 @click="check(index)" class="item-title" style="text-transform: uppercase">
                                <i class="fa fa-plus-circle"></i>{{index}}</h6>
                            <div class="inner-item">
                                <form action="" id="check-items" @submit.prevent="attemptUpdate">
                                    <div class="">
                                        <div v-for="box in item" :key="box.id" class="col-xs-6 col-sm-4 col-md-3">
                                            <div class="cntr">
                                                <label :for="box.id" class="label-cbx" :class="{'custom-disabled':box.name == 'address'||box.name == 'gender'|| box.name == 'admission_date' ||box.name == 'admission_no' || box.name == 'firstname' || box.name == 'lastname' || box.name == 'middlename'}">
                                                    <input :id="box.id" :value="box.id" type="checkbox" name="allItems[]"
                                                           class="invisible"
                                                           :checked="inArray(box.id,all_settings) || box.name == 'address'||box.name == 'gender'|| box.name == 'admission_date' ||box.name == 'admission_no' || box.name == 'firstname' || box.name == 'lastname' || box.name == 'middlename'"
                                                           :disabled="box.name == 'address'||box.name == 'gender'|| box.name == 'admission_date' ||box.name == 'admission_no' || box.name == 'firstname' || box.name == 'lastname' || box.name == 'middlename'"
                                                           >
                                                    <div class="checkbox">
                                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                            <polyline points="4 11 8 15 16 6"></polyline>
                                                        </svg>
                                                    </div>
                                                    <span>{{box.display}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div style="padding-bottom: 20px;"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button v-if="index == 'guardian'" class="pull-right btn btn-default  ld-ext-right"
                                            :class="{'running':loading}" :disabled="loading">UPDATE
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </form>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</template>

<script>
    export default {
        name: "student_fields",
        props:['data','settings'],
        data(){
            return{
            loading:false,
                all_items:'',
                all_settings:''
            }
        },
        methods:{
            check(a){
                alert(a)
            },
            attemptUpdate(){
                this.loading = true;
                let keys = [];
                let dataItems  = $('input[type=checkbox]');
                dataItems.each(function (key,value) {
                    if($(this).prop('checked')){
                        keys.push($(this).val());
                    }
                });
                axios.post('/admin/configuration/student-profile-fields',{fields:JSON.stringify(keys)})
                    .then(resp=>{
                        this.all_settings = resp.data.current_settings;
                        new Noty({
                            theme:'mint',
                            text: 'Updated Successfully',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'success'

                        }).show();
                        this.loading = false;
                    })
                    .catch(error =>{
                        new Noty({
                            theme:'mint',
                            text: 'Sorry an error Occured',
                            layout:'topRight',
                            progressBar:true,
                            timeout:3000,
                            type:'error'

                        }).show();
                        this.loading = false;
                    });
            },
            inArray(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i].profile_fields_id == needle)
                        return true;
                }
                return false;
            }
        },
        mounted(){
            this.all_items =  JSON.parse(this.data);
            this.all_settings = JSON.parse(this.settings);
        }
    }
</script>

<style scoped>
.custom-checkbox{

}
.hide-checkbox {
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
    .custom-disabled span{
        color: #83886a !important;
        font-weight:20 !important;
    }
</style>