<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>MAKE SELECTION</h6>
            <div class="inner-item">
                <form action="" @submit.prevent="submitBills">
                    <div class="dash-form dash-search-form">
                        <div class="col-sm-3">
                            <label class="clear-top-margin">CLASS</label>
                            <select v-model="record.class_id" required>
                                <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">ACADEMIC YEAR</label>
                            <select v-model="record.academic_year_id" required>
                                <option v-for="item in $store.state.all_years" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="clear-top-margin">TERM</label>
                            <select v-model="record.term_id" required>
                                <option v-for="item in $store.state.terms" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                BILL
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "addBill",
        data(){
            return{
                loading:false,record:{}
            }
        },
        methods:{
          submitBills(){
             if(confirm('Are You sure you want to perform this action?')){
                 this.loading = true;
                 axios.post('/finances/student-bills',this.record)
                     .then(resp=>{
                         this.$store.state.bills.unshift(resp.data);
                         this.loading =  false;
                         this.record = {};
                         this.showAlert('class students billed successfully','success');
                     })
                     .catch(error=>{
                         console.log(error.response.status);
                         if(error.response.status === 501){
                             this.showAlert('Please this class has already been billed for this term','error');
                         }else if(error.response.status === 401){
                             this.showAlert('Fees Unapproved for billing','error');
                         }
                         else{
                             this.showAlert('sorry an error occurred','error');
                         }
                         this.loading = false;
                     })
             }
          } ,
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.$store.state.all_years = resp.data;
            });
            axios.get('/date/classes/show-all').then(resp=>{
                this.$store.state.classes = resp.data;
            });
        },
        computed:{
            year:function () {
                return this.record.academic_year_id;
            }
        },
        watch:{
            year:function (value) {
                axios.get('/date/terms/'+value).then(resp=>{
                    this.$store.state.terms = resp.data;
                })
            }
        }
    }
</script>

<style scoped>

</style>