<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-bill></add-bill>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL BILLS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.bills" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'class.name'" :label="'Class'" :key="'Class'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'formatted_amount'" :label="'Amount'" :key="'Amount'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'user.name'" :label="'Billed By'" :key="'Billed By'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'bill_date'" :label="'Date'" :key="'Date'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'term.display_name'" :label="'Term'" :key="'Term'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'academic_year.name'" :label="'Year'" :key="'Year'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="deleteBill(scope.$index, scope.row.id)" :disabled="loading" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddBill from './addBill.vue'
    export default {
        name: "index",
        props:['bills'],
        components:{
            AddBill
        },
        data(){
            return{
                loading:false
            }
        },
        methods:{
            deleteBill(index,id){
                this.$message({
                    showClose: true,
                    dangerouslyUseHTMLString: true,
                    message: '<strong>Deleting this bill will debit all students under this bill the amount.</strong>',
                    type: 'warning'
                });
                    if(confirm('Are You sure you want to perform this action?')){
                        this.loading = true;
                        axios.delete('/finances/student-bills/'+id)
                            .then(resp=>{
                                this.$store.state.bills.splice(index,1);
                                this.showAlert('bill deleted successfully','success');
                                this.loading = false;
                            })
                            .catch(error=>{
                                this.showAlert('sorry an error occurred','error');
                                this.loading = false;
                            })
                    }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        mounted(){
            this.$store.state.bills = JSON.parse(this.bills);
        }
    }
</script>

<style scoped>

</style>