<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>MAKE SELECTION</h6>
            <div class="inner-item">
                <form action="">
                    <div class="dash-form dash-search-form">
                        <div class="col-sm-4 col-md-3">
                            <label class="clear-top-margin">CLASS</label>
                            <el-select v-model="class_id" filterable placeholder="Select">
                                <el-option
                                        v-for="item in $store.state.classes"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <label class="clear-top-margin">STUDENT</label>
                            <el-select v-model="student_id" filterable placeholder="Select">
                                <el-option
                                        v-for="item in $store.state.students"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add",
        data(){
            return{
                class_id:'',student_id:null
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        watch:{
            class_id:function (value) {
                this.student_id = null;
                axios.get('/finances/student-fees/students/'+value)
                    .then(resp=>{
                        this.$store.state.students = resp.data;
                    })
                    .catch(error=>{

                    })
            },
            student_id:function (value) {
                if(value != null){
                    axios.get('/finances/student-fees/students-wallet/'+value)
                        .then(resp=>{
                            this.$emit('getStudentData',{
                                class_id:this.class_id,
                                student_id:value,
                                wallet:resp.data
                            });
                        })
                        .catch(error=>{})
                }else{
                    this.$emit('getStudentData',{
                        class_id:this.class_id,
                        student_id:value,
                    });
                }
            }
        },
        mounted(){
            axios.get('/date/classes/show-all').then(resp=>{
                this.$store.state.classes = resp.data;
            });

        }
    }
</script>

<style scoped>
.el-select{
    display: block;
}
</style>