<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs hide-for-printing">
            <add-fee @getStudentData="handleRecordChanged"></add-fee>
            <transition name="mark">
                <div class="col-sm-12" v-if="record.student_id != null">
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-sliders"></i>PAYMENT DETAILS</h6>
                        <div class="inner-item">
                            <form action="" @submit.prevent="saveTransaction">
                                <div class="dash-form dash-search-form">
                                    <div class="col-sm-3">
                                        <label for="">PAYMENT METHOD</label>
                                        <el-select v-model="payment_method" filterable placeholder="Select" required>
                                            <el-option
                                                    v-for="item in $store.state.paymentMethods"
                                                    :key="item.name"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">AMOUNT</label>
                                        <input type="number" v-model="amount" required>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">TRANSACTION NO</label>
                                        <input type="text" v-model="transaction_no">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">BALANCE</label>
                                        <input type="number" :value="originalBalance" readonly>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">TRANSACTION DATE</label>
                                        <el-date-picker
                                                v-model="period"
                                                type="date"
                                                placeholder="Pick a day"
                                                :picker-options="pickerOptions1">
                                        </el-date-picker>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-3 pull-right">
                                        <button  type="submit" class="submit-btn  ld-ext-right"
                                                 :class="{'running':loading}" :disabled="loading">
                                            SAVE
                                            <div class="ld ld-ring ld-spin"></div>
                                        </button>
                                    </div>
                                    <transition name="togglePrint">
                                        <div class="col-sm-3 pull-left" v-if="counter > 0">
                                            <a target="_blank" class="btn btn-success top-margin" onclick="window.print()">
                                                PRINT
                                            </a>
                                        </div>
                                    </transition>
                                    <div class="clearfix"></div>
                                </div>
                            </form>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </transition>
        </div>
        <div class="print">
            <div class="print__header">
                <img :src="info.logo" alt="">
            </div>
            <div class="print__body">
                <div class="print__body__school_info">
                    <p>{{info.name}}</p>
                    <p>{{info.contact_phone}}</p>
                    <p>{{info.address}}</p>
                </div>
                <div class="print__body__header">
                    Student Fee Receipt
                </div>
                <div class="print__body__content">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>receipt no:</td>
                            <td>{{receipt.receipt_no}}</td>
                        </tr>
                        <tr>
                            <td>student Name:</td>
                            <td>{{receipt.student}}</td>
                        </tr>
                        <tr>
                            <td>class:</td>
                            <td>{{receipt.class}}</td>
                        </tr>
                        <tr>
                            <td>year:</td>
                            <td>{{receipt.year}}</td>
                        </tr>
                        <tr>
                            <td>term:</td>
                            <td>{{receipt.term}}</td>
                        </tr>
                        <tr>
                            <td>amount:</td>
                            <td><strong>{{info.currency}} {{receipt.amount}}</strong></td>
                        </tr>
                        <tr>
                            <td v-if="receipt.is_owing">amount owing:</td>
                            <td v-else>amount owing you:</td>
                            <td><strong>{{info.currency}} {{receipt.owing}}</strong></td>
                        </tr>
                        <tr>
                            <td>issued by:</td>
                            <td>{{receipt.user}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{receipt.date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddFee from './add.vue';
    export default {
        name: "index",
        props:['all_methods','settings'],
        components:{
            AddFee
        },
        data(){
            return{
                payment_method:null,period:'',transaction_no:'',loading:false,info:[],counter:0,
                pickerOptions1: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: 'Today',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Yesterday',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'A week ago',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },record:{},amount:'',originalBalance:'',receipt:{},user:''
            }
        },
        methods:{
            handleRecordChanged(data){
                this.record = data;
                this.originalBalance = data.wallet.balance;
                this.amount = '';
            },
            saveTransaction(){
                this.loading = true;
                let item = {};
                item.transaction_no = this.transaction_no;
                item.payment_method = this.payment_method;
                item.date = this.period;
                item.amount = this.amount;
                item.wallet_id = this.record.wallet.id;
                item.student_id = this.record.student_id;
                item.class_id = this.record.class_id;
                axios.post('/finances/student-fees',item)
                    .then(resp=>{
                        this.receipt = resp.data.receipt;
                        this.user = resp.data.receipt.user;
                        this.transaction_no = '';
                        this.record.wallet.balance = this.originalBalance;
                        this.amount = '';
                        this.showAlert('saved successfully','success');
                        this.loading = false;
                        this.counter++;
                    })
                    .catch(error=>{
                        if(error.response.status === 422){
                            let keys = Object.keys(error.response.data.errors);
                            let item = keys[0];
                            let finalError = error.response.data.errors[item];
                            this.showAlert(finalError,'error');
                        }else{
                            this.showAlert('sorry an error occurred');
                        }
                        this.loading = false;
                    });
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:1500,
                    type:type

                }).show();
            },
        },
        watch:{
            amount:function (value) {
                this.originalBalance = parseFloat(this.record.wallet.balance);
                let temp = 0;
                if(value.length > 0){
                    temp = parseFloat(value);
                }
                    this.originalBalance += temp
            }
        },
        mounted(){
            this.$store.state.paymentMethods = JSON.parse(this.all_methods);
            this.info = JSON.parse(this.settings);
        }
    }
</script>

<style scoped>
    .el-select{
        display: block;
    }
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .togglePrint-enter{
        opacity: 0;
    }
    .togglePrint-enter-active{
        transition: opacity 1s;
    }
    .togglePrint-leave{}
    .togglePrint-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .print{
        display: none;
    }
    @media print {
        .print{
            display: unset;
        }
        @page {
            size: 88mm 210mm;
            margin: none;
        }
        .print__header{
            padding-top: 12pt;
            margin-top:15pt;
            display: flex;
            flex-direction: column;
            align-items:center;
            margin-bottom:10px;
        }
        .print__header img{
            max-width: unset;
            width: 140px;
            heigh:140px;
            border-radius:10%;
            object-fit: cover;
        }
        .print__body{
            display: flex;
            flex-direction: column;
            align-items:center;
            font-size: 15px;
        }
        .print__body__header{
            padding-top:8px;
            padding-bottom: 15px;
            text-decoration: underline;
            text-transform:uppercase;
        }
        .print__body__content{
            margin-top: 10px;
        }
        tr{
            text-transform:uppercase;
        }
        .print__body__school_info{
            text-transform:uppercase;
            text-align:center;
        }
    }

</style>