<template>
    <div class="col-lg-12 clear-padding-xs">
        <view-selection></view-selection>
        <transition name="assess">
            <div v-show="$store.state.students.length" class="col-lg-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-info-circle"></i>ADD MARKS</h6>
                    <form action="" id="assessment-table-all-update" @submit.prevent="attemptUpdate">
                        <div class="inner-item">
                            <data-tables  v-loading="loading" :stripe="true" :data="$store.state.students" :pagination-props="{ pageSizes: [5,10, 15,20] }">
                                <el-table-column prop="student.name"  label="NAME" key="student.name">
                                </el-table-column>
                                <el-table-column prop="class_score" label="CLASS SCORE" key="class_score">
                                </el-table-column>
                                <el-table-column prop="exam_score" label="EXAM SCORE" key="exam_score">
                                </el-table-column>
                                <el-table-column  label="TOTAL SCORE" key="score">
                                    <template slot-scope="scope">
                                        <h5 class=" bolden-text">{{scope.row.score}}</h5>
                                    </template>
                                </el-table-column>
                                <el-table-column  label="POSITION" key="position">
                                    <template slot-scope="scope">
                                        <h5 class=" bolden-text">{{getPosition(scope.row.position)}}</h5>
                                    </template>
                                </el-table-column>
                            </data-tables>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import ViewSelection from './selection.vue'
    export default {
        name: "index",
        props:['classes'],
        components:{
            ViewSelection
        },
        data(){
            return{
                status:{},loading:false,name:'',showUpdate:true,submitted:''
            }
        },
        methods:{
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            getPosition(pos){
                let position = parseInt(pos);
                let finalPos = '';
                switch (true){
                    case position % 10 === 1 && position !== 11:
                        finalPos = `${position}ST`;
                        break;
                    case position % 10 === 2 && position !== 12:
                        finalPos = `${position}ND`;
                        break;
                    case position % 10 === 3 && position !== 13:
                        finalPos = `${position}RD`;
                        break;
                    default:
                        finalPos = `${position}TH`;
                }
                return finalPos;
            }
        },
        mounted(){
            this.$store.state.classes = JSON.parse(this.classes);
        },
    }
</script>

<style>
    .bolden-text{
        font-weight: bolder;
    }
</style>