<template>
    <div class="col-lg-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-search"></i>MAKE SELECTION</h6>
            <div class="inner-item dash-search-form">
                <div class="col-md-3">
                    <label>CLASS</label>
                    <select v-model="selected_class">
                        <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>COURSE</label>
                    <select v-model="selected_courses">
                        <option v-for="item in courses" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "selection",
        data(){
            return{
                selected_class:'',selected_category:'class',selected_courses:'',courses:[],names:[],
                selected_name:''
            }
        },
        watch:{
            selected_class:function (value) {
                this.selected_courses = null;
                axios.get('/examination/class/1')
                    .then(resp=>{
                        this.courses = resp.data
                    })
            },
            selected_courses:function (value) {
                if(value){
                    axios.post('/examination/reports',{class_id:this.selected_class,subject_id:value})
                        .then(resp=>{
                            this.$store.state.students = resp.data
                        })
                }
            },
        }
    }
</script>

<style scoped>

</style>