<template>
    <div class="col-sm-4">
        <form action="" @submit.prevent="attemptSave">
            <div class="dash-item first-dash-item">
                <h6 class="item-title"><i class="fa fa-plus-circle"></i>SET FEES</h6>
                <div class="inner-item">
                    <div class="dash-form">
                        <label class="clear-top-margin">CLASSES</label>
                        <v-select multiple v-model="classnames" label="name" placeholder="select classes" :required="true"  :options="getClasses">
                        </v-select>
                        <br>
                        <label class="clear-top-margin">FEE ITEMS</label>
                        <v-select multiple placeholder="select fee items" v-model="items" :required="true" label="name"  :options="getBreakdown">
                        </v-select>

                        <label>ACADEMIC YEAR</label>
                        <select name="" id="" v-model="year" @change="getAllTerms" required>
                            <option>-- Select --</option>
                            <option v-for="item in getYears" :value="item.id" >{{item.name}}</option>
                        </select>
                        <label>TERM</label>
                        <select name="" v-model="term" required>
                            <option v-for="item in getTerms" :value="item.id" :key="item.id">{{item.display_name}}</option>
                        </select>

                        <div class="dash-search-form">
                            <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                CREATE
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</template>

<script>
    import VSelect from 'vue-select';
    export default {
        name: "fees",
        components:{
          VSelect
        },
        data(){
            return {
                items:[],
                classnames:[],
                getYears:null,
                term:'',
                getTerms:null,
                year:'',
                getClasses:null,
                getBreakdown:null,
                loading:false
            }
        },
        mounted(){
            axios.get('/date/acade/terms').then(resp=>{
                this.getYears = resp.data;
                this.$store.state.all_years = resp.data;
            });
            axios.get('/date/classes/show-all').then(resp=>{
                this.getClasses = resp.data;
                this.$store.state.classes = resp.data;
            });
            axios.get('/date/items/show-all').then(resp=>{
                this.getBreakdown = resp.data;
            });

        },
        methods:{
            getAllTerms(){
                axios.get('/date/terms/'+this.year).then(resp=>{
                    this.getTerms = resp.data;
                })
            },
            attemptSave(){
                this.loading = true;
                axios.post('/admin/school-details/fees/save',{
                    items:this.items,year:this.year,term:this.term,classes:this.classnames
                }).then(resp=>{
                    if(resp.data.status == 'success'){
                        this.$store.state.breakdowns = resp.data.data;
                        this.showAlert('Fees saved successfully','success');
                        this.classnames=null;this.items=null;
                        window.scrollTo(0,0);
                    }else{
                        this.showAlert('Duplicate Entry','error');
                    }
                    this.loading = false;
                }).catch(error=>{
                    if(error.response.status === 422){
                        let keys = Object.keys(error.response.data.errors)
                        let item = keys[0]
                        let finalError = error.response.data.errors[item];
                        this.showAlert(finalError,'error');
                    }else{
                        this.showAlert('Sorry an error occurred','error');
                    }
                    this.loading = false;
                })
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
        },
        computed:{
            validate(){
                return this.items && this.term  && this.year && this.classnames;
            },

        },

    }
</script>

<style scoped>
    a.disabled {
        pointer-events: none;
    }
    .cColor{
        color: #2ab27b;
    }

</style>