<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <add-fees></add-fees>
            <div class="col-sm-8">
                <transition name="mark">
                    <form action="" @submit.prevent="filter" v-if="$store.state.breakdowns.length > 5">
                        <div class="dash-item first-dash-item">
                            <h6 class="item-title"><i class="fa fa-sliders"></i>FILTER BREAK DOWN</h6>
                            <div class="inner-item dash-form dash-search-form">
                                <div class="col-sm-3">
                                    <label for="" class="clear-top-margin">CLASS</label>
                                    <select name="" v-model="record.class_id">
                                        <option value="all" selected>All</option>
                                        <option  v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="clear-top-margin">ACADEMIC YEAR</label>
                                    <select name=""  v-model="record.academic_year_id">
                                        <option value="all" selected>All</option>
                                        <option  v-for="item in $store.state.all_years" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="clear-top-margin">TERM</label>
                                    <select name="" v-model="record.term_id">
                                        <option value="all" selected>All</option>
                                        <option :value="item.id" v-for="item in getTerms">{{item.display_name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <button type="submit" class="submit-btn ld-ext-right" :class="{'running':loading}" :disabled="loading">
                                        FILTER
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </transition>
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL SET FEES</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :stripe="true" :data="$store.state.breakdowns" :pagination-props="{ pageSizes: [5,10, 15,30] }">
                            <el-table-column :prop="'class.name'" :label="'Class'" :key="'Class'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'item.name'" :label="'Item Name'" :key="'Item Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'item.amount'" :label="'Amount'" :key="'Amount'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'term.name'" :label="'Term'" :key="'Term'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'academic_year.name'" :label="'Academic Year'" :key="'Academic Year'" :class="'text-center'">
                            </el-table-column>

                            <el-table-column label="Actions" align="right">
                                <template slot-scope="scope">
                                    <button @click="deleteClass(scope.$index, scope.row.id,scope.row)" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </template>
                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AddFees from './fees.vue';
    export default {
        name: "index",
        props:['breakdowns','approvals'],
        components:{
            AddFees
        },
        data(){
            return{
                loading:false,
                record:{
                    academic_year_id:'all',
                    term_id:'all',
                    class_id:'all',
                },
                getTerms:[],approved:[]
            }
        },
        methods:{
            deleteClass(index,id,row){
                if(this.inArray(row,this.approved)){
                    this.showAlert('approved fees cannot be deleted','warning');
                }else{
                    if(confirm('Are You sure you want to perform this action?')){
                        axios.delete('/admin/school-details/fees/delete/'+id)
                            .then(resp=>{
                                this.$store.state.breakdowns.splice(index,1);
                                this.showAlert('deleted successfully','success');
                            })
                            .catch(error=>{
                                this.showAlert('sorry an error occcured','error');
                            })
                    }
                }

            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            filter(){
                this.loading = true;
                axios.post('/admin/school-details/fees/filter',this.record)
                    .then(resp=>{
                        this.$store.state.breakdowns = resp.data;
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.showAlert('sorry an error occurrred','error');
                        this.loading = false;
                    })
            },
            inArray(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i].academic_year_id === needle.academic_year_id &&
                        haystack[i].term_id === needle.term_id &&
                        haystack[i].class_id === needle.class_id &&
                        haystack[i].school_id === needle.school_id
                    )
                        return true;
                }
                return false;
            }
        },
        watch:{
            academic_year_id:function (value) {
                if(value !== 'all'){
                    axios.get('/date/terms/'+value).then(resp=>{
                        this.getTerms = resp.data;
                    })
                }
            }
        },
        computed:{
            academic_year_id:function () {
                return this.record.academic_year_id
            }
        },
        mounted(){
            this.$store.state.breakdowns = JSON.parse(this.breakdowns);
            this.approved = JSON.parse(this.approvals)
        }
    }
</script>

<style scoped>
    .mark-enter{
        opacity: 0;
    }
    .mark-enter-active{
        transition: opacity 1s;
    }
    .mark-leave{}
    .mark-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    .disable{
        pointer-events: none;
    }
</style>