<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <search-student></search-student>
            <div class="col-sm-12">
                <div class="dash-item">
                    <h6 class="item-title"><i class="fa fa-sliders"></i>ALL STUDENTS</h6>
                    <div class="inner-item">
                        <data-tables  v-loading="loading" :data="$store.state.students" :pagination-props="{ pageSizes: [10, 15,30] }">
                            <el-table-column :prop="'name'" :label="'Name'" :key="'Name'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'student_class.name'" :label="'Class'" :key="'Class'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column :prop="'admission_date'" :label="'Admission Date'" :key="'Admission Date'" :class="'text-center'">
                            </el-table-column>
                            <el-table-column align="right">
                                <template slot-scope="scope">
                                    <a :href="'/admin/students/'+scope.row.username+'/edit'" style="cursor:pointer">
                                        EDIT
                                    </a>
                                    <a :href="'/admin/students/'+scope.row.username" style="margin-left: 8px;cursor:pointer">
                                        VIEW
                                    </a>
                                </template>

                            </el-table-column>
                        </data-tables>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SearchStudent from './search.vue'
    export default {
        name: "allStudents",
        props:['students','classes'],
        data(){
            return{
                search:'',loading:false
            }
        },
        methods:{
            handleEdit(id,row){
                location.replace('/admin/students/'+row.username)
            }
        },
        components:{
            SearchStudent
        },
        mounted(){
            this.$store.state.students = JSON.parse(this.students);
            this.$store.state.classes = JSON.parse(this.classes);
        }
    }
</script>

<style scoped>

</style>