<template>
    <div class="col-sm-12">
        <div class="dash-item first-dash-item">
            <h6 class="item-title"><i class="fa fa-plus-circle"></i>SEARCH STUDENT</h6>
            <div class="inner-item">
                <div class="dash-form dash-search-form">
                    <form action="" @submit.prevent="searchData">
                        <div class="col-sm-4">
                            <label class="clear-top-margin">INFORMATION</label>
                            <input type="text" v-model="search" placeholder="Name, Phone, email, Adm. No">
                        </div>
                        <div class="col-sm-3">
                            <label for="" class="clear-top-margin">CLASS</label>
                            <select v-model="student_class" name="" id="">
                                <option v-for="item in $store.state.classes" :value="item.id">{{item.name}}</option>
                                <option value="all">All</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="" class="clear-top-margin">STATUS</label>
                            <select v-model="status" name="" id="">
                                <option value="active">Active</option>
                                <option value="dropped">Dropped</option>
                                <option value="graduated">Graduated</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button  type="submit" class="submit-btn ld-ext-right"
                                     :class="{'running':loading}" :disabled="loading">
                                <i class="fa fa-search"></i>
                                SEARCH
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data(){
            return{
                search:'',status:'active',loading:false,student_class:'all'
            }
        },
        methods:{
            searchData(){
                this.loading = true;
                axios.post('/admin/students/search',{data:this.search,status:this.status,class_id:this.student_class})
                    .then(resp=>{
                        this.$store.state.students = resp.data;
                        this.loading = false;
                    })
                    .catch(error=>{
                        this.loading = false;
                    })
            }
        }
    }
</script>

<style scoped>

</style>