<template>
    <div>
        <div class="dash-item first-dash-item">
            <div class="dashboard-stats">
                <el-card shadow="hover">
                    <div class="col-sm-3 col-md-2">
                        <a @click.prevent="toggleNoty">
                            <el-tooltip class="item" effect="dark" content="Unread Notifications" placement="bottom">
                                <el-badge :value="count.count" :max="10">
                                    <el-button  icon="el-icon-bell" type="danger"></el-button>
                                </el-badge>
                            </el-tooltip>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="">
                            <el-tooltip class="item" effect="dark" content="All Notifications" placement="bottom">
                                <el-button  icon="el-icon-bell" type="primary"></el-button>
                            </el-tooltip>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </el-card>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
       <transition name="name">
           <div class="dash-item" v-if="showNoty">
               <div class="dashboard-stats">
                   <el-card shadow="hover">
                       <el-collapse v-model="activeName" accordion>
                           <el-collapse-item v-for="(item,index) in count.noty" :name="index" :key="item.id" v-if="item.type === 'App\\Notifications\\RegistrationNotification'">
                               <template slot="title">
                                   <span class="noty-title">{{item.data.message | formatMessage}}</span> |
                                   <span class="noty-date">{{item.created_at | formatDate}}</span>
                               </template>
                               <div class="noty-message">{{item.data.message}}</div>
                           </el-collapse-item>
                       </el-collapse>
                   </el-card>
                   <div class="clearfix"></div>
               </div>
               <div class="clearfix"></div>
           </div>
       </transition>
    </div>
</template>

<script>
    export default {
        name: "index",
        data(){
            return {
                count:'',activeName:'',showNoty:false
            }
        },
        methods:{
          toggleNoty(){
              if(this.showNoty){
                  this.showNoty = false;
              }else{
                  this.showNoty = true;
              }
          }
        },
        props:['notifications'],
        mounted(){
            this.count = JSON.parse(this.notifications);
            console.log(this.count)
        },
        filters:{
          formatMessage(value){
              if(value.toString().length > 10){
                  return value.toString().substring(0,10)+ '...';
              }
              return value;
          },
            formatDate(value){
              return moment(value).format("dddd, MMMM Do YYYY, h:mm:ss a");
            }
        }
    }
</script>

<style scoped>
    .noty-title{
        font-weight:bolder;
        margin-right:10px;
        font-size:16px;
    }
    .noty-message{
        font-weight:bold;
        font-size:13px;
    }

    .noty-date{
        font-weight:bold;
    }
    .name-enter{
        opacity: 0;
    }
    .name-enter-active{
        transition: opacity 1s;
    }
    .name-leave{}
    .name-leave-active{
        transition: opacity 1s;
        opacity: 0;
    }
    a{
        margin-top: 20px;
        margin-bottom: 40px;
        display:block;
    }
    .share-button{
        height: 150px;
        width:120px;
    }
    .el-button{
        font-size: 50px;
        font-weight: bolder;
        transition: transform .5s;
    }
    .el-button:hover{
        transform: scale(1.05);
    }
</style>