<template>
    <div class="row">
        <div class="col-lg-12 clear-padding-xs">
            <search-student></search-student>
                <div class="col-sm-12">
                    <div class="dash-item">
                        <h6 class="item-title"><i class="fa fa-sliders"></i>SEND SMS
                            <span class="pull-right">
                            {{characterCount}} Characters Remaining | {{messageCount}} Unit<span v-if="messageCount > 1">s</span></span>
                        </h6>

                        <div class="inner-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <data-tables  @selection-change="handleSelectionChange"
                                                  :data="$store.state.students"
                                                  :pagination-props="{ pageSizes: [5, 10, 15,30] }">
                                        <el-table-column
                                                type="selection"
                                                width="55">
                                        </el-table-column>
                                        <el-table-column
                                                v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.label"
                                                :class="'text-center'">
                                        </el-table-column>
                                    </data-tables>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="dash-form dash-search-form">
                                        <form autocomplete="off" action="" @submit.prevent="sendBulkSMS">
                                            <label class="clear-top-margin" for="">Message</label>
                                            <div class="autocomplete">
                                                <textarea class="autocomplete-area" required name="" rows="8" v-model="bulkMessage"></textarea>
                                                <div class="options" v-if="visible">
                                                    <ul>
                                                        <li @click.prevent="insertString(item)" v-for="item in values">{{item}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <button type="submit" class="submit-btn ld-ext-right pull-right"
                                                    :class="{'running':loading}" :disabled="loading">
                                                SEND
                                                <div class="ld ld-ring ld-spin"></div>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                    <blockquote class="has-icon">
                                        <p class="note">
                                        We have shortcuts for you! ; all you need to do is type
                                        <code class="language-php"><span class="token constant">colon(:)</span></code>
                                        <code class=" language-php">
                                            <span class="token constant">@name</span></code>
                                            replaces the name of the student and
                                        <code class=" language-php">
                                        <span class="token constant">@amount</span></code>
                                        replaces the amount owing. Also note that this SMS goes to their respective guardians.
                                        </p>
                                    </blockquote>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>

    //import Sm
    import SearchStudent from './search.vue'
    export default {
        name: "index",
        props:['students','classes'],
        components:{
            SearchStudent
        },
        data(){
            return {
                selection:null,loading:false,searchItem:'',selectedClass:'',
                titles:[
                    {label:'Name',prop:'student.name'},
                    {label:'Amount',prop:'amount'},
                    {label:'Class',prop:'student.student_class.name'}
                    ]

                ,search:'',
                multipleSelection:[],bulkMessage:'',mobile:'',characterCount:160,messageCount:1,
                values:
                    [
                        '@name',
                        '@amount',
                ]
                ,visible:false,text:[]
            }
        },
        methods:{
            handleSelectionChange(data){
                this.multipleSelection = data;
            },
            handleSelectedGroupChanged(data){
                this.selection = data.data;
            },
            sendBulkSMS(){
                if(confirm('Are You Sure You want to perform this action?')){
                    if(this.multipleSelection.length > 0){
                        this.loading = true;
                        axios.post('/manage-sms/send/owing',{data:JSON.stringify(this.multipleSelection),text:this.bulkMessage,units:this.messageCount})
                            .then(resp=>{
                                this.showAlert('Message Forwarded to handset','success');
                                this.loading = false;
                            })
                            .catch(error=>{
                                if(error.response.status === 501){
                                    this.showAlert('You are not authorised to perform this action','error');
                                }else if(error.response.status === 422){
                                    this.showAlert('None of the students selected has guardians assigned to them','error');
                                }
                                else{
                                    this.showAlert('Sorry an error occurred','error');
                                }
                                this.loading = false;
                            })
                    }else{
                        this.showAlert('Please Select Something','warning');
                    }
                }
            },
            showAlert(message,type){
                new Noty({
                    theme:'mint',
                    text: message,
                    layout:'topRight',
                    progressBar:true,
                    timeout:3000,
                    type:type

                }).show();
            },
            countSMS(value){
                let length = SmsHelper.count(value);
                let parts = SmsHelper.parts(value);
                let encoding =  SmsHelper.detectEncoding(value);
                let per_message = 160;
                let multi = 153
                if(encoding === 'UTF16'){
                    per_message = 70;
                    multi = 67;
                }
                if (length > per_message) {
                    per_message =  multi;/*this.multiMessageLength[encoding];*/
                }
                let messages = Math.ceil(length / per_message);
                this.characterCount = (per_message * messages) - length;
                if(this.characterCount == 0 && messages == 0){
                    this.characterCount = per_message;
                }
                this.messageCount = SmsHelper.parts(value);
            },
            insertString(value){
                let data  = this.bulkMessage.replace(this.text[0],value);
                this.text = [];
                this.bulkMessage = data.trim() + ' ';
                $('.autocomplete-area').focus();
                this.visible = false;
            },
            toggleVisible(){
                this.visible = !this.visible;
            }
        },
        mounted(){
            this.$store.state.students = JSON.parse(this.students);
            this.$store.state.classes = JSON.parse(this.classes);
        },
        watch:{
            bulkMessage:function (value) {
                this.countSMS(value);
                let pattern = /[:](\w*)$/ig;
                let test = value;
                if(test.trim().match(pattern)){
                    this.visible = true;
                    this.text = test.trim().match(pattern);
                    this.values.filter(item => item.includes(this.text[0]))
                }else{
                    this.visible = false;
                    this.text = [];
                }
            },
        }
    }
</script>

<style scoped>
    blockquote {
        display: block;
    }
    .docs blockquote.has-icon {
        background: none;
        position: relative;
        padding: 0;
    }

    blockquote {
        background: #f4645f;
        color: #fff;
        border-radius: 3px;
        margin: 10px 0 20px;
        padding: 10px 15px;
    }
.autocomplete{
    position: relative;
}
    .options{
        max-height: 150px;
        overflow-y: scroll;
    }
    .options ul{
        list-style: none;
        text-align: left;
        padding-left: 0;
    }
    .options ul li{
        padding: 10px;
        cursor: pointer;
        background: #e6e6e6;
        border-bottom: 1px solid #46b495;
    }

</style>